obj
bin
BPC_OPR.v12.suo
BPC_OPR/HRFocusWCF/BPC_OPR.v12.suo
BPC_OPR/HRFocusWCF/HRFocusWCF/bin/BPC_OPR.dll
BPC_OPR/HRFocusWCF/HRFocusWCF/bin/BPC_OPR.pdb
BPC_OPR/HRFocusWCF/HRFocusWCF/bin/ClassLibrary_BPC.dll
BPC_OPR/HRFocusWCF/HRFocusWCF/bin/ClassLibrary_BPC.pdb
BPC_OPR/HRFocusWCF/HRFocusWCF/bin/BPC_OPR.dll
BPC_OPR/HRFocusWCF/HRFocusWCF/bin/BPC_OPR.pdb
