USE [OPR]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 23/02/2023 17:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BANK](
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](5) NOT NULL,
	[BANK_NAME_TH] [varchar](100) NOT NULL,
	[BANK_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BANK] PRIMARY KEY CLUSTERED 
(
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_LOCATION]    Script Date: 23/02/2023 17:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_LOCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[LOCATION_ID] [int] NOT NULL,
	[LOCATION_CODE] [varchar](5) NOT NULL,
	[LOCATION_NAME_TH] [varchar](100) NOT NULL,
	[LOCATION_NAME_EN] [varchar](100) NOT NULL,
	[LOCATION_DETAIL] [varchar](500) NULL,
	[LOCATION_LATITUDE] [varchar](100) NULL,
	[LOCATION_LONGITUDE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REASON]    Script Date: 23/02/2023 17:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REASON](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[REASON_ID] [int] NOT NULL,
	[REASON_CODE] [varchar](5) NOT NULL,
	[REASON_NAME_TH] [varchar](100) NOT NULL,
	[REASON_NAME_EN] [varchar](100) NOT NULL,
	[REASON_GROUP] [varchar](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REASON] PRIMARY KEY CLUSTERED 
(
	[REASON_CODE] ASC,
	[REASON_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_YEAR]    Script Date: 23/02/2023 17:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_YEAR](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[YEAR_ID] [int] NOT NULL,
	[YEAR_CODE] [char](4) NOT NULL,
	[YEAR_NAME_TH] [varchar](100) NOT NULL,
	[YEAR_NAME_EN] [varchar](100) NOT NULL,
	[YEAR_FROMDATE] [datetime] NOT NULL,
	[YEAR_TODATE] [datetime] NOT NULL,
	[YEAR_GROUP] [varchar](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_YEAR] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[YEAR_CODE] ASC,
	[YEAR_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'BKK', N'กรุงเทพ', N'bangkok', N'Not login', CAST(N'2023-01-02T21:56:30.527' AS DateTime), N'Administrator', CAST(N'2023-01-02T23:47:51.097' AS DateTime), 1)
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'KTB', N'กรุงไทย', N'KTB', N'TEST', CAST(N'2023-01-03T00:13:14.073' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'SCB', N'ไทยพาณิชย์', N'SCB', N'TEST', CAST(N'2023-02-08T10:35:46.217' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_LOCATION] ([COMPANY_CODE], [LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [LOCATION_LATITUDE], [LOCATION_LONGITUDE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'00000', N'สำนักงานใหญ่', N'CENTER', N'952 อาคารรามาแลนด์ ชั้นที่ 11 ถนนพระรามสี่ แขวงสุริยวงศ์  เขตบางรัก จังหวัดกรุงเทพฯ 10500', N'13.7606452', N'100.6331538', N'Adminn', CAST(N'2023-02-23T17:25:49.883' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_REASON] ([COMPANY_CODE], [REASON_ID], [REASON_CODE], [REASON_NAME_TH], [REASON_NAME_EN], [REASON_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'01', N'ลาพักร้อน', N'Summer', N'LEAVE', N'Admin', CAST(N'2023-02-23T17:24:47.590' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_YEAR] ([COMPANY_CODE], [YEAR_ID], [YEAR_CODE], [YEAR_NAME_TH], [YEAR_NAME_EN], [YEAR_FROMDATE], [YEAR_TODATE], [YEAR_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'2023', N'ปีการลา', N'Leave Calendar', CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-12-31T00:00:00.000' AS DateTime), N'LEAVE', N'Adminn', CAST(N'2023-02-23T17:24:18.587' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_YEAR] ([COMPANY_CODE], [YEAR_ID], [YEAR_CODE], [YEAR_NAME_TH], [YEAR_NAME_EN], [YEAR_FROMDATE], [YEAR_TODATE], [YEAR_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'2023', N'ปีภาษี', N'Tax Calendar', CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-12-31T00:00:00.000' AS DateTime), N'TAX', N'Adminn', CAST(N'2023-02-23T17:24:18.527' AS DateTime), NULL, NULL, 0)
GO
