USE [OPR]
GO
/****** Object:  Table [dbo].[SYS_MT_UNIFORM]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_UNIFORM]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_UNIFORM]
GO
/****** Object:  Table [dbo].[SYS_MT_SUPPLY]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_SUPPLY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_SUPPLY]
GO
/****** Object:  Table [dbo].[REQ_TR_TRAINING]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_TRAINING]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_TRAINING]
GO
/****** Object:  Table [dbo].[REQ_TR_SUGGEST]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_SUGGEST]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_SUGGEST]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_FOREIGNER]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_FOREIGNER]
GO
/****** Object:  Table [dbo].[REQ_TR_EDUCATION]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_EDUCATION]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_EDUCATION]
GO
/****** Object:  Table [dbo].[REQ_TR_CRIMINAL]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_CRIMINAL]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_CRIMINAL]
GO
/****** Object:  Table [dbo].[REQ_TR_CARD]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_CARD]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_CARD]
GO
/****** Object:  Table [dbo].[REQ_TR_ASSESSMENT]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_ASSESSMENT]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_ASSESSMENT]
GO
/****** Object:  Table [dbo].[REQ_TR_ADDRESS]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_ADDRESS]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_ADDRESS]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_MT_WORKER]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_MT_WORKER]
GO
/****** Object:  Table [dbo].[EMP_TR_UNIFORM]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_UNIFORM]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_UNIFORM]
GO
/****** Object:  Table [dbo].[EMP_TR_TRAINING]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_TRAINING]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_TRAINING]
GO
/****** Object:  Table [dbo].[EMP_TR_SUPPLY]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_SUPPLY]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_SUPPLY]
GO
/****** Object:  Table [dbo].[EMP_TR_SUGGEST]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_SUGGEST]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_SUGGEST]
GO
/****** Object:  Table [dbo].[EMP_TR_SALARY]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_SALARY]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_SALARY]
GO
/****** Object:  Table [dbo].[EMP_TR_REDUCE]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_REDUCE]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_REDUCE]
GO
/****** Object:  Table [dbo].[EMP_TR_PROVIDENT]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_PROVIDENT]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_PROVIDENT]
GO
/****** Object:  Table [dbo].[EMP_TR_POSITION]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_POSITION]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_POSITION]
GO
/****** Object:  Table [dbo].[EMP_TR_LOCATION]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_LOCATION]
GO
/****** Object:  Table [dbo].[EMP_TR_HOSPITAL]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_HOSPITAL]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_HOSPITAL]
GO
/****** Object:  Table [dbo].[EMP_TR_GROUP]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_GROUP]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_GROUP]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNER]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_FOREIGNER]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_FOREIGNER]
GO
/****** Object:  Table [dbo].[EMP_TR_FAMILY]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_FAMILY]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_FAMILY]
GO
/****** Object:  Table [dbo].[EMP_TR_EDUCATION]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_EDUCATION]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_EDUCATION]
GO
/****** Object:  Table [dbo].[EMP_TR_DEP]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_DEP]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_DEP]
GO
/****** Object:  Table [dbo].[EMP_TR_CRIMINAL]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_CRIMINAL]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_CRIMINAL]
GO
/****** Object:  Table [dbo].[EMP_TR_CARD]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_CARD]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_CARD]
GO
/****** Object:  Table [dbo].[EMP_TR_BRANCH]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_BRANCH]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_BRANCH]
GO
/****** Object:  Table [dbo].[EMP_TR_BENEFIT]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_BENEFIT]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_BENEFIT]
GO
/****** Object:  Table [dbo].[EMP_TR_BANK]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_BANK]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_BANK]
GO
/****** Object:  Table [dbo].[EMP_TR_ASSESSMENT]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_ASSESSMENT]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_ASSESSMENT]
GO
/****** Object:  Table [dbo].[EMP_TR_ADDRESS]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_ADDRESS]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_ADDRESS]
GO
/****** Object:  Table [dbo].[EMP_MT_WORKER]    Script Date: 02/06/2023 17:50:32 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_WORKER]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_WORKER]
GO
/****** Object:  Table [dbo].[EMP_MT_WORKER]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_WORKER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[WORKER_CARD] [varchar](15) NULL,
	[WORKER_INITIAL] [varchar](15) NOT NULL,
	[WORKER_FNAME_TH] [varchar](200) NOT NULL,
	[WORKER_LNAME_TH] [varchar](200) NOT NULL,
	[WORKER_FNAME_EN] [varchar](200) NOT NULL,
	[WORKER_LNAME_EN] [varchar](200) NOT NULL,
	[WORKER_TYPE] [varchar](5) NOT NULL,
	[WORKER_GENDER] [char](1) NOT NULL,
	[WORKER_BIRTHDATE] [datetime] NULL,
	[WORKER_HIREDATE] [datetime] NOT NULL,
	[WORKER_STATUS] [varchar](5) NOT NULL,
	[RELIGION_CODE] [varchar](5) NULL,
	[BLOOD_CODE] [varchar](5) NULL,
	[WORKER_HEIGHT] [decimal](18, 2) NULL,
	[WORKER_WEIGHT] [decimal](18, 2) NULL,
	[WORKER_RESIGNDATE] [datetime] NULL,
	[WORKER_RESIGNSTATUS] [bit] NOT NULL,
	[WORKER_RESIGNREASON] [varchar](5) NULL,
	[WORKER_PROBATIONDATE] [datetime] NULL,
	[WORKER_PROBATIONENDDATE] [datetime] NULL,
	[WORKER_PROBATIONDAY] [decimal](18, 0) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[WORKER_TAXMETHOD] [char](1) NULL,
	[WORKER_PWD] [varchar](100) NULL,
	[SELF_ADMIN] [bit] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_MT_WORKER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_ADDRESS]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[ADDRESS_TYPE] [varchar](5) NOT NULL,
	[ADDRESS_NO] [varchar](30) NULL,
	[ADDRESS_MOO] [varchar](30) NULL,
	[ADDRESS_SOI] [varchar](100) NULL,
	[ADDRESS_ROAD] [varchar](100) NULL,
	[ADDRESS_TAMBON] [varchar](100) NULL,
	[ADDRESS_AMPHUR] [varchar](100) NULL,
	[PROVINCE_CODE] [varchar](30) NULL,
	[ADDRESS_ZIPCODE] [varchar](30) NULL,
	[ADDRESS_TEL] [varchar](30) NULL,
	[ADDRESS_EMAIL] [varchar](50) NULL,
	[ADDRESS_LINE] [varchar](50) NULL,
	[ADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_ASSESSMENT]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ASSESSMENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPASSESSMENT_ID] [int] NOT NULL,
	[EMPASSESSMENT_LOCATION] [varchar](100) NOT NULL,
	[EMPASSESSMENT_TOPIC] [varchar](100) NOT NULL,
	[EMPASSESSMENT_FROMDATE] [datetime] NOT NULL,
	[EMPASSESSMENT_TODATE] [datetime] NOT NULL,
	[EMPASSESSMENT_COUNT] [decimal](5, 2) NOT NULL,
	[EMPASSESSMENT_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ASSESSMENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPASSESSMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_BANK]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_BANK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](20) NOT NULL,
	[BANK_ACCOUNT] [varchar](20) NOT NULL,
	[BANK_PERCENT] [decimal](5, 2) NOT NULL,
	[BANK_CASHPERCENT] [decimal](5, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[BANK_BANKNAME] [varchar](100) NULL,
 CONSTRAINT [PK_EMP_TR_BANK] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_BENEFIT]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_BENEFIT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPBENEFIT_ID] [int] NOT NULL,
	[ITEM_CODE] [varchar](20) NOT NULL,
	[EMPBENEFIT_AMOUNT] [decimal](10, 2) NOT NULL,
	[EMPBENEFIT_STARTDATE] [datetime] NOT NULL,
	[EMPBENEFIT_ENDDATE] [datetime] NOT NULL,
	[EMPBENEFIT_REASON] [varchar](3) NOT NULL,
	[EMPBENEFIT_NOTE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[EMPBENEFIT_PAYTYPE] [char](1) NULL,
	[EMPBENEFIT_BREAK] [bit] NULL,
	[EMPBENEFIT_BREAKREASON] [varchar](3) NULL,
	[EMPBENEFIT_CONDITIONPAY] [char](1) NULL,
	[EMPBENEFIT_PAYFIRST] [char](1) NULL,
 CONSTRAINT [PK_EMP_TR_BENEFIT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ITEM_CODE] ASC,
	[EMPBENEFIT_STARTDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_BRANCH]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_BRANCH](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[BRANCH_CODE] [varchar](5) NOT NULL,
	[EMPBRANCH_STARTDATE] [datetime] NOT NULL,
	[EMPBRANCH_ENDDATE] [datetime] NULL,
	[EMPBRANCH_NOTE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_BRANCH] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[BRANCH_CODE] ASC,
	[EMPBRANCH_STARTDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_CARD]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_CARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[CARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[CARD_ISSUE] [datetime] NOT NULL,
	[CARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_CARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[CARD_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_CRIMINAL]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_CRIMINAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPCRIMINAL_ID] [int] NOT NULL,
	[EMPCRIMINAL_LOCATION] [varchar](100) NOT NULL,
	[EMPCRIMINAL_FROMDATE] [datetime] NOT NULL,
	[EMPCRIMINAL_TODATE] [datetime] NOT NULL,
	[EMPCRIMINAL_COUNT] [decimal](5, 2) NOT NULL,
	[EMPCRIMINAL_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_CRIMINAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPCRIMINAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_DEP]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_DEP](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPDEP_ID] [int] NOT NULL,
	[EMPDEP_DATE] [datetime] NOT NULL,
	[EMPDEP_LEVEL01] [varchar](10) NOT NULL,
	[EMPDEP_LEVEL02] [varchar](10) NULL,
	[EMPDEP_LEVEL03] [varchar](10) NULL,
	[EMPDEP_LEVEL04] [varchar](10) NULL,
	[EMPDEP_LEVEL05] [varchar](10) NULL,
	[EMPDEP_LEVEL06] [varchar](10) NULL,
	[EMPDEP_LEVEL07] [varchar](10) NULL,
	[EMPDEP_LEVEL08] [varchar](10) NULL,
	[EMPDEP_LEVEL09] [varchar](10) NULL,
	[EMPDEP_LEVEL10] [varchar](10) NULL,
	[EMPDEP_REASON] [varchar](5) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_DEP] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPDEP_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_EDUCATION]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_EDUCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPEDUCATION_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NULL,
	[FACULTY_CODE] [varchar](10) NULL,
	[MAJOR_CODE] [varchar](10) NULL,
	[QUALIFICATION_CODE] [varchar](10) NULL,
	[EMPEDUCATION_GPA] [varchar](20) NULL,
	[EMPEDUCATION_START] [datetime] NOT NULL,
	[EMPEDUCATION_FINISH] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPEDUCATION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_FAMILY]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_FAMILY](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FAMILY_ID] [int] NOT NULL,
	[FAMILY_CODE] [varchar](20) NOT NULL,
	[FAMILY_TYPE] [varchar](5) NOT NULL,
	[FAMILY_FNAME_TH] [varchar](200) NOT NULL,
	[FAMILY_LNAME_TH] [varchar](200) NOT NULL,
	[FAMILY_FNAME_EN] [varchar](200) NOT NULL,
	[FAMILY_LNAME_EN] [varchar](200) NOT NULL,
	[FAMILY_BIRTHDATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_FAMILY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FAMILY_CODE] ASC,
	[FAMILY_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNER]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[PASSPORT_NO] [varchar](20) NOT NULL,
	[PASSPORT_ISSUE] [datetime] NOT NULL,
	[PASSPORT_EXPIRE] [datetime] NOT NULL,
	[VISA_NO] [varchar](20) NOT NULL,
	[VISA_ISSUE] [datetime] NOT NULL,
	[VISA_EXPIRE] [datetime] NOT NULL,
	[WORKPERMIT_NO] [varchar](20) NOT NULL,
	[WORKPERMIT_BY] [varchar](200) NOT NULL,
	[WORKPERMIT_ISSUE] [datetime] NOT NULL,
	[WORKPERMIT_EXPIRE] [datetime] NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[CERTIFICATE_NO] [varchar](20) NOT NULL,
	[CERTIFICATE_EXPIRE] [datetime] NOT NULL,
	[OTHERDOC_NO] [varchar](20) NULL,
	[OTHERDOC_EXPIRE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_GROUP]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_GROUP](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPGROUP_ID] [int] NOT NULL,
	[EMPGROUP_CODE] [varchar](10) NOT NULL,
	[EMPGROUP_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_GROUP] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_HOSPITAL]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_HOSPITAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPHOSPITAL_ID] [int] NOT NULL,
	[EMPHOSPITAL_CODE] [varchar](20) NOT NULL,
	[EMPHOSPITAL_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPHOSPITAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_LOCATION]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_LOCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[LOCATION_CODE] [varchar](5) NOT NULL,
	[EMPLOCATION_STARTDATE] [datetime] NOT NULL,
	[EMPLOCATION_ENDDATE] [datetime] NULL,
	[EMPLOCATION_NOTE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_LOCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[LOCATION_CODE] ASC,
	[EMPLOCATION_STARTDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_POSITION]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_POSITION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPPOSITION_ID] [int] NOT NULL,
	[EMPPOSITION_DATE] [datetime] NOT NULL,
	[EMPPOSITION_POSITION] [varchar](10) NOT NULL,
	[EMPPOSITION_REASON] [varchar](5) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_POSITION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPPOSITION_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_PROVIDENT]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_PROVIDENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PROVIDENT_CODE] [varchar](10) NOT NULL,
	[EMPPROVIDENT_CARD] [varchar](20) NOT NULL,
	[EMPPROVIDENT_ENTRY] [datetime] NOT NULL,
	[EMPPROVIDENT_START] [datetime] NOT NULL,
	[EMPPROVIDENT_END] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_PROVIDENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PROVIDENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_REDUCE]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_REDUCE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPREDUCE_ID] [int] NOT NULL,
	[REDUCE_TYPE] [varchar](3) NOT NULL,
	[EMPREDUCE_AMOUNT] [decimal](10, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_REDUCE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REDUCE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_SALARY]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_SALARY](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPSALARY_ID] [int] NOT NULL,
	[EMPSALARY_AMOUNT] [decimal](10, 2) NOT NULL,
	[EMPSALARY_DATE] [datetime] NOT NULL,
	[EMPSALARY_REASON] [varchar](3) NOT NULL,
	[EMPSALARY_INCAMOUNT] [decimal](10, 2) NULL,
	[EMPSALARY_INCPERCENT] [decimal](5, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_SALARY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPSALARY_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_SUGGEST]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_SUGGEST](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPSUGGEST_ID] [int] NOT NULL,
	[EMPSUGGEST_CODE] [varchar](5) NOT NULL,
	[EMPSUGGEST_DATE] [datetime] NULL,
	[EMPSUGGEST_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_SUGGEST] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPSUGGEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_SUPPLY]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_SUPPLY](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPSUPPLY_ID] [int] NOT NULL,
	[EMPSUPPLY_CODE] [varchar](5) NOT NULL,
	[EMPSUPPLY_QUANTITY] [decimal](4, 2) NOT NULL,
	[EMPSUPPLY_ISSUEDATE] [datetime] NOT NULL,
	[EMPSUPPLY_NOTE] [varchar](200) NULL,
	[EMPSUPPLY_RETURNDATE] [datetime] NULL,
	[EMPSUPPLY_RETURNSTATUS] [bit] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_SUPPLY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPSUPPLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_TRAINING]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_TRAINING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPTRAINING_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](20) NULL,
	[COURSE_CODE] [varchar](20) NULL,
	[INSTITUTE_OTHER] [varchar](500) NULL,
	[COURSE_OTHER] [varchar](500) NULL,
	[EMPTRAINING_START] [datetime] NOT NULL,
	[EMPTRAINING_FINISH] [datetime] NOT NULL,
	[EMPTRAINING_STATUS] [char](1) NULL,
	[EMPTRAINING_HOURS] [decimal](5, 2) NULL,
	[EMPTRAINING_COST] [decimal](10, 2) NULL,
	[EMPTRAINING_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPTRAINING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_UNIFORM]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_UNIFORM](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPUNIFORM_ID] [int] NOT NULL,
	[EMPUNIFORM_CODE] [varchar](5) NOT NULL,
	[EMPUNIFORM_QUANTITY] [decimal](4, 2) NOT NULL,
	[EMPUNIFORM_AMOUNT] [decimal](8, 2) NOT NULL,
	[EMPUNIFORM_ISSUEDATE] [datetime] NOT NULL,
	[EMPUNIFORM_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_UNIFORM] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPUNIFORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_WORKER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[WORKER_CARD] [varchar](15) NULL,
	[WORKER_INITIAL] [varchar](15) NOT NULL,
	[WORKER_FNAME_TH] [varchar](200) NOT NULL,
	[WORKER_LNAME_TH] [varchar](200) NOT NULL,
	[WORKER_FNAME_EN] [varchar](200) NOT NULL,
	[WORKER_LNAME_EN] [varchar](200) NOT NULL,
	[WORKER_TYPE] [varchar](5) NULL,
	[WORKER_GENDER] [char](1) NOT NULL,
	[WORKER_BIRTHDATE] [datetime] NULL,
	[WORKER_HIREDATE] [datetime] NOT NULL,
	[WORKER_STATUS] [varchar](5) NULL,
	[RELIGION_CODE] [varchar](5) NULL,
	[BLOOD_CODE] [varchar](5) NULL,
	[WORKER_HEIGHT] [decimal](18, 2) NULL,
	[WORKER_WEIGHT] [decimal](18, 2) NULL,
	[WORKER_RESIGNDATE] [datetime] NULL,
	[WORKER_RESIGNSTATUS] [bit] NOT NULL,
	[WORKER_RESIGNREASON] [varchar](5) NULL,
	[WORKER_PROBATIONDATE] [datetime] NULL,
	[WORKER_PROBATIONENDDATE] [datetime] NULL,
	[WORKER_PROBATIONDAY] [decimal](18, 0) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[WORKER_TAXMETHOD] [char](1) NULL,
	[WORKER_PWD] [varchar](100) NULL,
	[SELF_ADMIN] [bit] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_WORKER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_ADDRESS]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_ADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[ADDRESS_TYPE] [varchar](5) NOT NULL,
	[ADDRESS_NO] [varchar](30) NULL,
	[ADDRESS_MOO] [varchar](30) NULL,
	[ADDRESS_SOI] [varchar](100) NULL,
	[ADDRESS_ROAD] [varchar](100) NULL,
	[ADDRESS_TAMBON] [varchar](100) NULL,
	[ADDRESS_AMPHUR] [varchar](100) NULL,
	[PROVINCE_CODE] [varchar](30) NULL,
	[ADDRESS_ZIPCODE] [varchar](30) NULL,
	[ADDRESS_TEL] [varchar](30) NULL,
	[ADDRESS_EMAIL] [varchar](50) NULL,
	[ADDRESS_LINE] [varchar](50) NULL,
	[ADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_ASSESSMENT]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_ASSESSMENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQASSESSMENT_ID] [int] NOT NULL,
	[REQASSESSMENT_LOCATION] [varchar](100) NOT NULL,
	[REQASSESSMENT_TOPIC] [varchar](100) NOT NULL,
	[REQASSESSMENT_FROMDATE] [datetime] NOT NULL,
	[REQASSESSMENT_TODATE] [datetime] NOT NULL,
	[REQASSESSMENT_COUNT] [decimal](5, 2) NOT NULL,
	[REQASSESSMENT_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_ASSESSMENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQASSESSMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_CARD]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_CARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[CARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[CARD_ISSUE] [datetime] NOT NULL,
	[CARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_CARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[CARD_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_CRIMINAL]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_CRIMINAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQCRIMINAL_ID] [int] NOT NULL,
	[REQCRIMINAL_LOCATION] [varchar](100) NOT NULL,
	[REQCRIMINAL_FROMDATE] [datetime] NOT NULL,
	[REQCRIMINAL_TODATE] [datetime] NOT NULL,
	[REQCRIMINAL_COUNT] [decimal](5, 2) NOT NULL,
	[REQCRIMINAL_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_CRIMINAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQCRIMINAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_EDUCATION]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_EDUCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQEDUCATION_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NULL,
	[FACULTY_CODE] [varchar](10) NULL,
	[MAJOR_CODE] [varchar](10) NULL,
	[QUALIFICATION_CODE] [varchar](10) NULL,
	[REQEDUCATION_GPA] [varchar](20) NULL,
	[REQEDUCATION_START] [datetime] NOT NULL,
	[REQEDUCATION_FINISH] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQEDUCATION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[PASSPORT_NO] [varchar](20) NOT NULL,
	[PASSPORT_ISSUE] [datetime] NOT NULL,
	[PASSPORT_EXPIRE] [datetime] NOT NULL,
	[VISA_NO] [varchar](20) NOT NULL,
	[VISA_ISSUE] [datetime] NOT NULL,
	[VISA_EXPIRE] [datetime] NOT NULL,
	[WORKPERMIT_NO] [varchar](20) NOT NULL,
	[WORKPERMIT_BY] [varchar](200) NOT NULL,
	[WORKPERMIT_ISSUE] [datetime] NOT NULL,
	[WORKPERMIT_EXPIRE] [datetime] NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[CERTIFICATE_NO] [varchar](20) NOT NULL,
	[CERTIFICATE_EXPIRE] [datetime] NOT NULL,
	[OTHERDOC_NO] [varchar](20) NULL,
	[OTHERDOC_EXPIRE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_SUGGEST]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_SUGGEST](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQSUGGEST_ID] [int] NOT NULL,
	[REQSUGGEST_CODE] [varchar](5) NOT NULL,
	[REQSUGGEST_DATE] [datetime] NULL,
	[REQSUGGEST_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_SUGGEST] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQSUGGEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_TRAINING]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_TRAINING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQTRAINING_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](20) NULL,
	[COURSE_CODE] [varchar](20) NULL,
	[INSTITUTE_OTHER] [varchar](500) NULL,
	[COURSE_OTHER] [varchar](500) NULL,
	[REQTRAINING_START] [datetime] NOT NULL,
	[REQTRAINING_FINISH] [datetime] NOT NULL,
	[REQTRAINING_STATUS] [char](1) NULL,
	[REQTRAINING_HOURS] [decimal](5, 2) NULL,
	[REQTRAINING_COST] [decimal](10, 2) NULL,
	[REQTRAINING_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQTRAINING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_SUPPLY]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_SUPPLY](
	[SUPPLY_ID] [int] NOT NULL,
	[SUPPLY_CODE] [varchar](5) NOT NULL,
	[SUPPLY_NAME_TH] [varchar](200) NOT NULL,
	[SUPPLY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_SUPPLY] PRIMARY KEY CLUSTERED 
(
	[SUPPLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_UNIFORM]    Script Date: 02/06/2023 17:50:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_UNIFORM](
	[UNIFORM_ID] [int] NOT NULL,
	[UNIFORM_CODE] [varchar](5) NOT NULL,
	[UNIFORM_NAME_TH] [varchar](200) NOT NULL,
	[UNIFORM_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_UNIFORM] PRIMARY KEY CLUSTERED 
(
	[UNIFORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMP_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', 7, N'001', N'200', N'', N'test', N'test', N'test', N'test', N'3', N'12020', N'0900000000', N'', N'', N'', N'Not login', CAST(N'2023-04-28T16:42:43.393' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 9, N'004', N'100', N'', N'IMP1', N'IMP2', N'IMP3', N'IMP4', N'3', N'44963', N'992123122', N'', N'', N'', N'Not login', CAST(N'2023-06-02T16:05:44.833' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 6, N'1', N'1234', N'', N'1234', N'1234', N'1234', N'1234', N'5', N'12345', N'09999293', N'www@wwww.com', N'dds', N'waa', N'Not login', CAST(N'2023-04-17T15:43:50.363' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_ASSESSMENT] ([COMPANY_CODE], [WORKER_CODE], [EMPASSESSMENT_ID], [EMPASSESSMENT_LOCATION], [EMPASSESSMENT_TOPIC], [EMPASSESSMENT_FROMDATE], [EMPASSESSMENT_TODATE], [EMPASSESSMENT_COUNT], [EMPASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 2, N'0003', N'0004', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'Not login', CAST(N'2023-06-02T16:05:46.850' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_ASSESSMENT] ([COMPANY_CODE], [WORKER_CODE], [EMPASSESSMENT_ID], [EMPASSESSMENT_LOCATION], [EMPASSESSMENT_TOPIC], [EMPASSESSMENT_FROMDATE], [EMPASSESSMENT_TODATE], [EMPASSESSMENT_COUNT], [EMPASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'00001', N'00001', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'Not login', CAST(N'2023-04-17T15:44:15.620' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_BANK] ([COMPANY_CODE], [WORKER_CODE], [BANK_ID], [BANK_CODE], [BANK_ACCOUNT], [BANK_PERCENT], [BANK_CASHPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG], [BANK_BANKNAME]) VALUES (N'OPR', N'EMP01', 7, N'002', N'8600285277', CAST(100.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-04-28T16:42:44.050' AS DateTime), NULL, NULL, 1, N'')
INSERT [dbo].[EMP_TR_BANK] ([COMPANY_CODE], [WORKER_CODE], [BANK_ID], [BANK_CODE], [BANK_ACCOUNT], [BANK_PERCENT], [BANK_CASHPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG], [BANK_BANKNAME]) VALUES (N'OPR', N'IMP003', 9, N'001', N'38291029341', CAST(100.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-06-02T16:05:44.890' AS DateTime), NULL, NULL, 1, N'Siri Dumdum')
INSERT [dbo].[EMP_TR_BANK] ([COMPANY_CODE], [WORKER_CODE], [BANK_ID], [BANK_CODE], [BANK_ACCOUNT], [BANK_PERCENT], [BANK_CASHPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG], [BANK_BANKNAME]) VALUES (N'OPR', N'OPR00001', 6, N'BKK', N'209911002', CAST(100.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-04-17T15:43:50.533' AS DateTime), NULL, NULL, 1, N'Test Test')
GO
INSERT [dbo].[EMP_TR_BRANCH] ([COMPANY_CODE], [WORKER_CODE], [BRANCH_CODE], [EMPBRANCH_STARTDATE], [EMPBRANCH_ENDDATE], [EMPBRANCH_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', N'00000', CAST(N'2023-05-31T00:00:00.000' AS DateTime), CAST(N'2024-05-31T00:00:00.000' AS DateTime), N'', N'Not login', CAST(N'2023-06-02T16:05:45.113' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_BRANCH] ([COMPANY_CODE], [WORKER_CODE], [BRANCH_CODE], [EMPBRANCH_STARTDATE], [EMPBRANCH_ENDDATE], [EMPBRANCH_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', N'00000', CAST(N'2023-03-09T00:00:00.000' AS DateTime), CAST(N'2023-03-31T00:00:00.000' AS DateTime), N'22222222223', N'Not login', CAST(N'2023-04-17T15:43:50.463' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_CARD] ([COMPANY_CODE], [WORKER_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', 7, N'999999999', N'NID', CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-04-28T16:42:44.050' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_CARD] ([COMPANY_CODE], [WORKER_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 8, N'1100392011124', N'NID', CAST(N'2010-05-12T00:00:00.000' AS DateTime), CAST(N'2025-05-12T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-06-02T16:05:44.910' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_CARD] ([COMPANY_CODE], [WORKER_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 6, N'8293319221', N'NTID', CAST(N'2023-03-01T00:00:00.000' AS DateTime), CAST(N'2023-03-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-04-17T15:43:50.363' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_CRIMINAL] ([COMPANY_CODE], [WORKER_CODE], [EMPCRIMINAL_ID], [EMPCRIMINAL_LOCATION], [EMPCRIMINAL_FROMDATE], [EMPCRIMINAL_TODATE], [EMPCRIMINAL_COUNT], [EMPCRIMINAL_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 1, N'0003', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'Not login', CAST(N'2023-06-02T16:05:46.683' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_DEP] ([COMPANY_CODE], [WORKER_CODE], [EMPDEP_ID], [EMPDEP_DATE], [EMPDEP_LEVEL01], [EMPDEP_LEVEL02], [EMPDEP_LEVEL03], [EMPDEP_LEVEL04], [EMPDEP_LEVEL05], [EMPDEP_LEVEL06], [EMPDEP_LEVEL07], [EMPDEP_LEVEL08], [EMPDEP_LEVEL09], [EMPDEP_LEVEL10], [EMPDEP_REASON], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 2, CAST(N'2023-05-03T00:00:00.000' AS DateTime), N'DEP1', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'Not login', CAST(N'2023-06-02T16:05:45.397' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_DEP] ([COMPANY_CODE], [WORKER_CODE], [EMPDEP_ID], [EMPDEP_DATE], [EMPDEP_LEVEL01], [EMPDEP_LEVEL02], [EMPDEP_LEVEL03], [EMPDEP_LEVEL04], [EMPDEP_LEVEL05], [EMPDEP_LEVEL06], [EMPDEP_LEVEL07], [EMPDEP_LEVEL08], [EMPDEP_LEVEL09], [EMPDEP_LEVEL10], [EMPDEP_REASON], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, CAST(N'2023-03-21T00:00:00.000' AS DateTime), N'AB01', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'Not login', CAST(N'2023-04-17T15:43:50.950' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_EDUCATION] ([COMPANY_CODE], [WORKER_CODE], [EMPEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [EMPEDUCATION_GPA], [EMPEDUCATION_START], [EMPEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 2, N'1', N'123', N'123', N'321', N'3', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-06-02T16:05:45.793' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_EDUCATION] ([COMPANY_CODE], [WORKER_CODE], [EMPEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [EMPEDUCATION_GPA], [EMPEDUCATION_START], [EMPEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'0003', N'0003', N'0003', N'0003', N'3', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-04-17T15:44:09.053' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_FAMILY] ([COMPANY_CODE], [WORKER_CODE], [FAMILY_ID], [FAMILY_CODE], [FAMILY_TYPE], [FAMILY_FNAME_TH], [FAMILY_LNAME_TH], [FAMILY_FNAME_EN], [FAMILY_LNAME_EN], [FAMILY_BIRTHDATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 3, N'333332221', N'03', N'ซูซู', N'ดัมดัม', N'Susu', N'Dumdum', CAST(N'2011-02-19T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-06-02T16:05:44.833' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_FAMILY] ([COMPANY_CODE], [WORKER_CODE], [FAMILY_ID], [FAMILY_CODE], [FAMILY_TYPE], [FAMILY_FNAME_TH], [FAMILY_LNAME_TH], [FAMILY_FNAME_EN], [FAMILY_LNAME_EN], [FAMILY_BIRTHDATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'12345678900', N'5', N'สา', N'สา', N'Sa', N'Sa', CAST(N'2010-01-01T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-04-17T15:43:51.057' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_FAMILY] ([COMPANY_CODE], [WORKER_CODE], [FAMILY_ID], [FAMILY_CODE], [FAMILY_TYPE], [FAMILY_FNAME_TH], [FAMILY_LNAME_TH], [FAMILY_FNAME_EN], [FAMILY_LNAME_EN], [FAMILY_BIRTHDATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'TD222', 2, N'11221123122', N'01', N'Tee', N'Tee', N'Tee', N'Tee', CAST(N'2023-05-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-05-17T16:23:50.773' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_GROUP] ([COMPANY_CODE], [WORKER_CODE], [EMPGROUP_ID], [EMPGROUP_CODE], [EMPGROUP_DATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 1, N'G01', CAST(N'2023-05-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-06-02T16:05:45.697' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_HOSPITAL] ([COMPANY_CODE], [WORKER_CODE], [EMPHOSPITAL_ID], [EMPHOSPITAL_CODE], [EMPHOSPITAL_DATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 2, N'11', CAST(N'2023-05-03T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-06-02T16:05:45.760' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_HOSPITAL] ([COMPANY_CODE], [WORKER_CODE], [EMPHOSPITAL_ID], [EMPHOSPITAL_CODE], [EMPHOSPITAL_DATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'10022', CAST(N'2023-02-01T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-04-17T15:44:14.170' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_LOCATION] ([COMPANY_CODE], [WORKER_CODE], [LOCATION_CODE], [EMPLOCATION_STARTDATE], [EMPLOCATION_ENDDATE], [EMPLOCATION_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP02', N'00000', CAST(N'2023-03-30T00:00:00.000' AS DateTime), CAST(N'2023-03-30T00:00:00.000' AS DateTime), N'', N'Not login', CAST(N'2023-03-31T11:31:06.783' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_LOCATION] ([COMPANY_CODE], [WORKER_CODE], [LOCATION_CODE], [EMPLOCATION_STARTDATE], [EMPLOCATION_ENDDATE], [EMPLOCATION_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', N'LO01', CAST(N'2023-05-31T00:00:00.000' AS DateTime), CAST(N'2024-05-31T00:00:00.000' AS DateTime), N'', N'Not login', CAST(N'2023-06-02T16:05:44.810' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_LOCATION] ([COMPANY_CODE], [WORKER_CODE], [LOCATION_CODE], [EMPLOCATION_STARTDATE], [EMPLOCATION_ENDDATE], [EMPLOCATION_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', N'00000', CAST(N'2023-03-09T00:00:00.000' AS DateTime), CAST(N'2023-03-09T00:00:00.000' AS DateTime), N'11111', N'Not login', CAST(N'2023-04-17T15:43:50.383' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_POSITION] ([COMPANY_CODE], [WORKER_CODE], [EMPPOSITION_ID], [EMPPOSITION_DATE], [EMPPOSITION_POSITION], [EMPPOSITION_REASON], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', 6, CAST(N'2023-03-30T00:00:00.000' AS DateTime), N'AC-E', N'', N'Not login', CAST(N'2023-04-28T16:42:44.923' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_POSITION] ([COMPANY_CODE], [WORKER_CODE], [EMPPOSITION_ID], [EMPPOSITION_DATE], [EMPPOSITION_POSITION], [EMPPOSITION_REASON], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP02', 1, CAST(N'2023-03-30T00:00:00.000' AS DateTime), N'AC-E', N'', N'Not login', CAST(N'2023-03-30T17:14:48.040' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_POSITION] ([COMPANY_CODE], [WORKER_CODE], [EMPPOSITION_ID], [EMPPOSITION_DATE], [EMPPOSITION_POSITION], [EMPPOSITION_REASON], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 7, CAST(N'2023-05-03T00:00:00.000' AS DateTime), N'005', N'', N'Not login', CAST(N'2023-06-02T16:05:44.863' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_PROVIDENT] ([COMPANY_CODE], [WORKER_CODE], [PROVIDENT_CODE], [EMPPROVIDENT_CARD], [EMPPROVIDENT_ENTRY], [EMPPROVIDENT_START], [EMPPROVIDENT_END], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', N'', N'666', CAST(N'2023-04-30T00:00:00.000' AS DateTime), CAST(N'2023-04-30T00:00:00.000' AS DateTime), NULL, N'Not login', CAST(N'2023-04-28T16:43:10.237' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_PROVIDENT] ([COMPANY_CODE], [WORKER_CODE], [PROVIDENT_CODE], [EMPPROVIDENT_CARD], [EMPPROVIDENT_ENTRY], [EMPPROVIDENT_START], [EMPPROVIDENT_END], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', N'003', N'00021', CAST(N'2020-05-31T00:00:00.000' AS DateTime), CAST(N'2020-06-01T00:00:00.000' AS DateTime), NULL, N'Not login', CAST(N'2023-06-02T16:05:46.683' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_PROVIDENT] ([COMPANY_CODE], [WORKER_CODE], [PROVIDENT_CODE], [EMPPROVIDENT_CARD], [EMPPROVIDENT_ENTRY], [EMPPROVIDENT_START], [EMPPROVIDENT_END], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', N'111', N'202022', CAST(N'2023-03-01T00:00:00.000' AS DateTime), CAST(N'2023-03-01T00:00:00.000' AS DateTime), NULL, N'Not login', CAST(N'2023-04-17T15:44:19.080' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_REDUCE] ([COMPANY_CODE], [WORKER_CODE], [EMPREDUCE_ID], [REDUCE_TYPE], [EMPREDUCE_AMOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 2, N'R01', CAST(3000.00 AS Decimal(10, 2)), N'Not login', CAST(N'2023-06-02T16:05:46.797' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_REDUCE] ([COMPANY_CODE], [WORKER_CODE], [EMPREDUCE_ID], [REDUCE_TYPE], [EMPREDUCE_AMOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'112', CAST(123332.00 AS Decimal(10, 2)), N'Not login', CAST(N'2023-04-17T15:44:22.487' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_SALARY] ([COMPANY_CODE], [WORKER_CODE], [EMPSALARY_ID], [EMPSALARY_AMOUNT], [EMPSALARY_DATE], [EMPSALARY_REASON], [EMPSALARY_INCAMOUNT], [EMPSALARY_INCPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', 7, CAST(99999.00 AS Decimal(10, 2)), CAST(N'2023-03-30T00:00:00.000' AS DateTime), N'', CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-04-28T16:43:10.187' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_SALARY] ([COMPANY_CODE], [WORKER_CODE], [EMPSALARY_ID], [EMPSALARY_AMOUNT], [EMPSALARY_DATE], [EMPSALARY_REASON], [EMPSALARY_INCAMOUNT], [EMPSALARY_INCPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP02', 3, CAST(1212121.00 AS Decimal(10, 2)), CAST(N'2023-03-31T00:00:00.000' AS DateTime), N'', CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-03-31T17:15:07.573' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_SALARY] ([COMPANY_CODE], [WORKER_CODE], [EMPSALARY_ID], [EMPSALARY_AMOUNT], [EMPSALARY_DATE], [EMPSALARY_REASON], [EMPSALARY_INCAMOUNT], [EMPSALARY_INCPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 8, CAST(30000.00 AS Decimal(10, 2)), CAST(N'2023-05-31T00:00:00.000' AS DateTime), N'', CAST(1000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-06-02T16:05:45.990' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_SUGGEST] ([COMPANY_CODE], [WORKER_CODE], [EMPSUGGEST_ID], [EMPSUGGEST_CODE], [EMPSUGGEST_DATE], [EMPSUGGEST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 2, N'EMP01', NULL, N'', N'Not login', CAST(N'2023-06-02T16:05:46.303' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_SUGGEST] ([COMPANY_CODE], [WORKER_CODE], [EMPSUGGEST_ID], [EMPSUGGEST_CODE], [EMPSUGGEST_DATE], [EMPSUGGEST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'TD222', 1, N'EMP01', NULL, N'sdsd', N'Not login', CAST(N'2023-05-17T16:23:50.943' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_SUPPLY] ([COMPANY_CODE], [WORKER_CODE], [EMPSUPPLY_ID], [EMPSUPPLY_CODE], [EMPSUPPLY_QUANTITY], [EMPSUPPLY_ISSUEDATE], [EMPSUPPLY_NOTE], [EMPSUPPLY_RETURNDATE], [EMPSUPPLY_RETURNSTATUS], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 2, N'01', CAST(10.00 AS Decimal(4, 2)), CAST(N'2023-05-31T00:00:00.000' AS DateTime), N'', NULL, 0, N'Not login', CAST(N'2023-06-02T16:05:45.580' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_SUPPLY] ([COMPANY_CODE], [WORKER_CODE], [EMPSUPPLY_ID], [EMPSUPPLY_CODE], [EMPSUPPLY_QUANTITY], [EMPSUPPLY_ISSUEDATE], [EMPSUPPLY_NOTE], [EMPSUPPLY_RETURNDATE], [EMPSUPPLY_RETURNSTATUS], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'', CAST(7.00 AS Decimal(4, 2)), CAST(N'2023-04-12T00:00:00.000' AS DateTime), N'fff', NULL, 0, N'Not login', CAST(N'2023-04-17T15:43:50.893' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_UNIFORM] ([COMPANY_CODE], [WORKER_CODE], [EMPUNIFORM_ID], [EMPUNIFORM_CODE], [EMPUNIFORM_QUANTITY], [EMPUNIFORM_AMOUNT], [EMPUNIFORM_ISSUEDATE], [EMPUNIFORM_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'IMP003', 2, N'03', CAST(2.00 AS Decimal(4, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(N'2023-05-31T00:00:00.000' AS DateTime), N'', N'Not login', CAST(N'2023-06-02T16:05:46.243' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_UNIFORM] ([COMPANY_CODE], [WORKER_CODE], [EMPUNIFORM_ID], [EMPUNIFORM_CODE], [EMPUNIFORM_QUANTITY], [EMPUNIFORM_AMOUNT], [EMPUNIFORM_ISSUEDATE], [EMPUNIFORM_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'', CAST(9.00 AS Decimal(4, 2)), CAST(999.00 AS Decimal(8, 2)), CAST(N'2023-04-29T00:00:00.000' AS DateTime), N'test', N'Not login', CAST(N'2023-04-17T15:45:48.207' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'3', N'111', N'', N'TTT', N'TTT', N'TTT', N'TTT', N'[object Object]', N'10000', N'0999999999', N'', N'', N'', N'Not login', CAST(N'2023-05-16T14:10:58.790' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'004', N'100', N'', N'IMP1', N'IMP2', N'IMP3', N'IMP4', N'3', N'44963', N'992123122', N'', N'', N'', N'TEST', CAST(N'2023-06-01T14:16:22.950' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_ASSESSMENT] ([COMPANY_CODE], [WORKER_CODE], [REQASSESSMENT_ID], [REQASSESSMENT_LOCATION], [REQASSESSMENT_TOPIC], [REQASSESSMENT_FROMDATE], [REQASSESSMENT_TODATE], [REQASSESSMENT_COUNT], [REQASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'8999', N'112', CAST(N'2023-05-01T00:00:00.000' AS DateTime), CAST(N'2023-05-31T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'Y', N'Not login', CAST(N'2023-05-16T14:10:58.747' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_ASSESSMENT] ([COMPANY_CODE], [WORKER_CODE], [REQASSESSMENT_ID], [REQASSESSMENT_LOCATION], [REQASSESSMENT_TOPIC], [REQASSESSMENT_FROMDATE], [REQASSESSMENT_TODATE], [REQASSESSMENT_COUNT], [REQASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'0003', N'0004', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'TEST', CAST(N'2023-06-01T14:34:08.510' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_CARD] ([COMPANY_CODE], [WORKER_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 1, N'1100392011124', N'NID', CAST(N'2010-05-12T00:00:00.000' AS DateTime), CAST(N'2025-05-12T00:00:00.000' AS DateTime), N'TEST', CAST(N'2023-06-01T14:19:24.570' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_CRIMINAL] ([COMPANY_CODE], [WORKER_CODE], [REQCRIMINAL_ID], [REQCRIMINAL_LOCATION], [REQCRIMINAL_FROMDATE], [REQCRIMINAL_TODATE], [REQCRIMINAL_COUNT], [REQCRIMINAL_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'8999', CAST(N'2023-05-05T00:00:00.000' AS DateTime), CAST(N'2023-05-12T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'Y', N'Not login', CAST(N'2023-05-16T14:10:58.750' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_CRIMINAL] ([COMPANY_CODE], [WORKER_CODE], [REQCRIMINAL_ID], [REQCRIMINAL_LOCATION], [REQCRIMINAL_FROMDATE], [REQCRIMINAL_TODATE], [REQCRIMINAL_COUNT], [REQCRIMINAL_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'0003', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'TEST', CAST(N'2023-06-01T14:37:01.080' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_EDUCATION] ([COMPANY_CODE], [WORKER_CODE], [REQEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [REQEDUCATION_GPA], [REQEDUCATION_START], [REQEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'1', N'1234', N'123', N'321', N'3.1', CAST(N'2023-05-17T00:00:00.000' AS DateTime), CAST(N'2023-05-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-05-16T14:10:58.767' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_EDUCATION] ([COMPANY_CODE], [WORKER_CODE], [REQEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [REQEDUCATION_GPA], [REQEDUCATION_START], [REQEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'1', N'123', N'123', N'321', N'3', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), N'TEST', CAST(N'2023-06-01T14:26:15.207' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_SUGGEST] ([COMPANY_CODE], [WORKER_CODE], [REQSUGGEST_ID], [REQSUGGEST_CODE], [REQSUGGEST_DATE], [REQSUGGEST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'EMP02', NULL, N'Test', N'Not login', CAST(N'2023-05-16T14:10:58.740' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_SUGGEST] ([COMPANY_CODE], [WORKER_CODE], [REQSUGGEST_ID], [REQSUGGEST_CODE], [REQSUGGEST_DATE], [REQSUGGEST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'EMP01', NULL, N'', N'TEST', CAST(N'2023-06-01T14:38:10.323' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_SUPPLY] ([SUPPLY_ID], [SUPPLY_CODE], [SUPPLY_NAME_TH], [SUPPLY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'ไม้บรรทัด', N'Ruler', N'Not login', CAST(N'2023-06-02T16:43:20.127' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_UNIFORM] ([UNIFORM_ID], [UNIFORM_CODE], [UNIFORM_NAME_TH], [UNIFORM_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'แบบที่1', N'Type1', N'Not login', CAST(N'2023-06-02T16:44:25.453' AS DateTime), NULL, NULL, 1)
GO
