USE [OPR]
GO
/****** Object:  Table [dbo].[PRO_MT_PROUNIFORM]    Script Date: 12/03/2024 4:30:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROUNIFORM]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROUNIFORM]
GO
/****** Object:  Table [dbo].[PRO_MT_PROUNIFORM]    Script Date: 12/03/2024 4:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROUNIFORM](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[PROUNIFORM_ID] [int] NOT NULL,
	[PROUNIFORM_CODE] [varchar](10) NOT NULL,
	[PROUNIFORM_NAME_TH] [varchar](100) NOT NULL,
	[PROUNIFORM_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_PROUNIFORM] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROUNIFORM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRO_MT_PROUNIFORM] ([COMPANY_CODE], [PROUNIFORM_ID], [PROUNIFORM_CODE], [PROUNIFORM_NAME_TH], [PROUNIFORM_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'01', N'ชุดฟอร์ม', N'test', N'Admin', CAST(N'2023-10-04T16:48:30.577' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[PRO_MT_PROUNIFORM] ([COMPANY_CODE], [PROUNIFORM_ID], [PROUNIFORM_CODE], [PROUNIFORM_NAME_TH], [PROUNIFORM_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 1, N'PROM.001', N'ชุดขาวแถบแดง', N'white dress with red stripes', N'Not login', CAST(N'2023-03-22T14:37:04.747' AS DateTime), NULL, NULL, 1)
GO
