USE [OPR]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMECARD]    Script Date: 19/12/2023 9:14:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATT_TR_TIMECARD]') AND type in (N'U'))
DROP TABLE [dbo].[ATT_TR_TIMECARD]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMECARD]    Script Date: 19/12/2023 9:14:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATT_TR_TIMECARD](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PROJECT_CODE] [varchar](20) NOT NULL,
	[PROJOB_CODE] [varchar](20) NOT NULL,
	[PROJOBSUB_CODE] [varchar](20) NOT NULL,
	[TIMECARD_WORKDATE] [datetime] NOT NULL,
	[TIMECARD_DAYTYPE] [char](1) NOT NULL,
	[SHIFT_CODE] [varchar](10) NOT NULL,
	[TIMECARD_COLOR] [char](1) NULL,
	[TIMECARD_CH1] [datetime] NULL,
	[TIMECARD_CH2] [datetime] NULL,
	[TIMECARD_CH3] [datetime] NULL,
	[TIMECARD_CH4] [datetime] NULL,
	[TIMECARD_CH5] [datetime] NULL,
	[TIMECARD_CH6] [datetime] NULL,
	[TIMECARD_CH7] [datetime] NULL,
	[TIMECARD_CH8] [datetime] NULL,
	[TIMECARD_CH9] [datetime] NULL,
	[TIMECARD_CH10] [datetime] NULL,
	[TIMECARD_BEFORE_MIN] [int] NULL,
	[TIMECARD_WORK1_MIN] [int] NULL,
	[TIMECARD_BREAK_MIN] [int] NULL,
	[TIMECARD_WORK2_MIN] [int] NULL,
	[TIMECARD_AFTER_MIN] [int] NULL,
	[TIMECARD_LATE_MIN] [int] NULL,
	[TIMECARD_BEFORE_MIN_APP] [int] NULL,
	[TIMECARD_WORK1_MIN_APP] [int] NULL,
	[TIMECARD_BREAK_MIN_APP] [int] NULL,
	[TIMECARD_WORK2_MIN_APP] [int] NULL,
	[TIMECARD_AFTER_MIN_APP] [int] NULL,
	[TIMECARD_LATE_MIN_APP] [int] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[TIMECARD_LEAVEPAY_MIN] [int] NULL,
	[TIMECARD_LEAVEDEDUCT_MIN] [int] NULL,
	[TIMECARD_BEFORE_DG] [bit] NULL,
	[TIMECARD_AFTER_DG] [bit] NULL,
	[TIMECARD_LOCK] [bit] NULL,
 CONSTRAINT [PK_ATT_TR_TIMECARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PROJECT_CODE] ASC,
	[PROJOB_CODE] ASC,
	[TIMECARD_WORKDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
