USE [OPR]
GO
/****** Object:  Table [dbo].[ATT_TR_LOSTWAGES]    Script Date: 05/01/2024 11:01:49 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATT_TR_LOSTWAGES]') AND type in (N'U'))
DROP TABLE [dbo].[ATT_TR_LOSTWAGES]
GO
/****** Object:  Table [dbo].[ATT_TR_LOSTWAGES]    Script Date: 05/01/2024 11:01:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATT_TR_LOSTWAGES](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[LOSTWAGES_CARDNO] [varchar](13) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PROJECT_CODE] [varchar](20) NOT NULL,
	[PROJOB_CODE] [varchar](20) NOT NULL,
	[LOSTWAGES_STATUS] [char](1) NOT NULL,
	[LOSTWAGES_INITIAL] [varchar](15) NULL,
	[LOSTWAGES_GENDER] [char](1) NULL,
	[LOSTWAGES_FNAME_TH] [varchar](200) NULL,
	[LOSTWAGES_LNAME_TH] [varchar](200) NULL,
	[LOSTWAGES_WORKDATE] [datetime] NOT NULL,
	[LOSTWAGES_DAYTYPE] [char](1) NOT NULL,
	[SHIFT_CODE] [varchar](10) NOT NULL,
	[LOSTWAGES_COLOR] [char](1) NULL,
	[LOSTWAGES_CH1] [datetime] NULL,
	[LOSTWAGES_CH2] [datetime] NULL,
	[LOSTWAGES_CH3] [datetime] NULL,
	[LOSTWAGES_CH4] [datetime] NULL,
	[LOSTWAGES_CH5] [datetime] NULL,
	[LOSTWAGES_CH6] [datetime] NULL,
	[LOSTWAGES_CH7] [datetime] NULL,
	[LOSTWAGES_CH8] [datetime] NULL,
	[LOSTWAGES_CH9] [datetime] NULL,
	[LOSTWAGES_CH10] [datetime] NULL,
	[LOSTWAGES_BEFORE_MIN] [int] NULL,
	[LOSTWAGES_WORK1_MIN] [int] NULL,
	[LOSTWAGES_BREAK_MIN] [int] NULL,
	[LOSTWAGES_WORK2_MIN] [int] NULL,
	[LOSTWAGES_AFTER_MIN] [int] NULL,
	[LOSTWAGES_LATE_MIN] [int] NULL,
	[LOSTWAGES_BEFORE_MIN_APP] [int] NULL,
	[LOSTWAGES_WORK1_MIN_APP] [int] NULL,
	[LOSTWAGES_BREAK_MIN_APP] [int] NULL,
	[LOSTWAGES_WORK2_MIN_APP] [int] NULL,
	[LOSTWAGES_AFTER_MIN_APP] [int] NULL,
	[LOSTWAGES_LATE_MIN_APP] [int] NULL,
	[LOSTWAGES_SALARY] [decimal](10, 2) NULL,
	[LOSTWAGES_DILIGENCE] [decimal](10, 2) NULL,
	[LOSTWAGES_TRAVELEXPENSES] [decimal](10, 2) NULL,
	[LOSTWAGES_OTHER] [decimal](10, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[LOSTWAGES_LEAVEPAY_MIN] [int] NULL,
	[LOSTWAGES_LEAVEDEDUCT_MIN] [int] NULL,
	[LOSTWAGES_BEFORE_DG] [bit] NULL,
	[LOSTWAGES_AFTER_DG] [bit] NULL,
	[LOSTWAGES_LOCK] [bit] NULL,
 CONSTRAINT [PK_ATT_TR_LOSTWAGES] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[LOSTWAGES_CARDNO] ASC,
	[WORKER_CODE] ASC,
	[PROJECT_CODE] ASC,
	[PROJOB_CODE] ASC,
	[LOSTWAGES_WORKDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
