USE [OPR]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMEOT]    Script Date: 08/02/2024 4:25:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATT_TR_TIMEOT]') AND type in (N'U'))
DROP TABLE [dbo].[ATT_TR_TIMEOT]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMEONSITE]    Script Date: 08/02/2024 4:25:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATT_TR_TIMEONSITE]') AND type in (N'U'))
DROP TABLE [dbo].[ATT_TR_TIMEONSITE]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMELEAVE]    Script Date: 08/02/2024 4:25:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATT_TR_TIMELEAVE]') AND type in (N'U'))
DROP TABLE [dbo].[ATT_TR_TIMELEAVE]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMECHECKIN]    Script Date: 08/02/2024 4:25:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATT_TR_TIMECHECKIN]') AND type in (N'U'))
DROP TABLE [dbo].[ATT_TR_TIMECHECKIN]
GO
/****** Object:  Table [dbo].[ATT_MT_REQDOCUMENT]    Script Date: 08/02/2024 4:25:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATT_MT_REQDOCUMENT]') AND type in (N'U'))
DROP TABLE [dbo].[ATT_MT_REQDOCUMENT]
GO
/****** Object:  Table [dbo].[ATT_MT_REQDOC]    Script Date: 08/02/2024 4:25:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATT_MT_REQDOC]') AND type in (N'U'))
DROP TABLE [dbo].[ATT_MT_REQDOC]
GO
/****** Object:  Table [dbo].[ATT_MT_REQDOC]    Script Date: 08/02/2024 4:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATT_MT_REQDOC](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](30) NOT NULL,
	[REQDOC_ID] [bigint] NOT NULL,
	[REQDOC_DOC] [varchar](30) NULL,
	[REQDOC_DATE] [datetime] NOT NULL,
	[REQDOC_NOTE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_ATT_MT_REQDOC] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQDOC_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATT_MT_REQDOCUMENT]    Script Date: 08/02/2024 4:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATT_MT_REQDOCUMENT](
	[COMPANY_CODE] [varchar](30) NOT NULL,
	[DOCUMENT_ID] [bigint] NOT NULL,
	[JOB_ID] [varchar](30) NOT NULL,
	[JOB_TYPE] [varchar](100) NOT NULL,
	[DOCUMENT_NAME] [varchar](100) NOT NULL,
	[DOCUMENT_TYPE] [varchar](100) NOT NULL,
	[DOCUMENT_PATH] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_ATT_MT_REQDOCUMENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMECHECKIN]    Script Date: 08/02/2024 4:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATT_TR_TIMECHECKIN](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[TIMECHECKIN_ID] [int] NOT NULL,
	[TIMECHECKIN_DOC] [varchar](30) NOT NULL,
	[TIMECHECKIN_WORKDATE] [datetime] NOT NULL,
	[TIMECHECKIN_TIME] [varchar](10) NOT NULL,
	[TIMECHECKIN_TYPE] [varchar](10) NULL,
	[TIMECHECKIN_LAT] [float] NOT NULL,
	[TIMECHECKIN_LONG] [float] NOT NULL,
	[TIMECHECKIN_NOTE] [varchar](200) NULL,
	[LOCATION_CODE] [varchar](20) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_ATT_TR_TIMECHECKIN] PRIMARY KEY CLUSTERED 
(
	[TIMECHECKIN_WORKDATE] ASC,
	[TIMECHECKIN_TIME] ASC,
	[WORKER_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMELEAVE]    Script Date: 08/02/2024 4:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATT_TR_TIMELEAVE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[TIMELEAVE_ID] [bigint] NOT NULL,
	[TIMELEAVE_DOC] [varchar](30) NULL,
	[TIMELEAVE_FROMDATE] [datetime] NOT NULL,
	[TIMELEAVE_TODATE] [datetime] NOT NULL,
	[TIMELEAVE_TYPE] [varchar](2) NOT NULL,
	[TIMELEAVE_MIN] [int] NULL,
	[TIMELEAVE_ACTUALDAY] [int] NULL,
	[TIMELEAVE_INCHOLIDAY] [bit] NULL,
	[TIMELEAVE_DEDUCT] [bit] NULL,
	[TIMELEAVE_NOTE] [varchar](100) NULL,
	[LEAVE_CODE] [varchar](10) NOT NULL,
	[REASON_CODE] [varchar](10) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_ATT_TR_TIMELEAVE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[TIMELEAVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMEONSITE]    Script Date: 08/02/2024 4:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATT_TR_TIMEONSITE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[TIMEONSITE_ID] [bigint] NOT NULL,
	[TIMEONSITE_DOC] [varchar](30) NULL,
	[TIMEONSITE_WORKDATE] [datetime] NOT NULL,
	[TIMEONSITE_IN] [char](5) NOT NULL,
	[TIMEONSITE_OUT] [char](5) NOT NULL,
	[TIMEONSITE_NOTE] [varchar](100) NULL,
	[REASON_CODE] [varchar](10) NULL,
	[LOCATION_CODE] [varchar](10) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_ATT_TR_TIMEONSITE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[TIMEONSITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATT_TR_TIMEOT]    Script Date: 08/02/2024 4:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATT_TR_TIMEOT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[TIMEOT_ID] [bigint] NOT NULL,
	[TIMEOT_DOC] [varchar](30) NULL,
	[TIMEOT_WORKDATE] [datetime] NOT NULL,
	[TIMEOT_WORKTODATE] [datetime] NOT NULL,
	[TIMEOT_BEFOREMIN] [int] NULL,
	[TIMEOT_NORMALMIN] [int] NULL,
	[TIMEOT_AFTERMIN] [int] NULL,
	[TIMEOT_NOTE] [varchar](100) NULL,
	[REASON_CODE] [varchar](10) NULL,
	[LOCATION_CODE] [varchar](10) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[TIMEOT_BREAK] [int] NULL,
 CONSTRAINT [PK_ATT_TR_TIMEOT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[TIMEOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ATT_TR_TIMEONSITE] ([COMPANY_CODE], [WORKER_CODE], [TIMEONSITE_ID], [TIMEONSITE_DOC], [TIMEONSITE_WORKDATE], [TIMEONSITE_IN], [TIMEONSITE_OUT], [TIMEONSITE_NOTE], [REASON_CODE], [LOCATION_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'130765', 1, N'ONSITE_20240208153647', CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'00:00', N'00:00', N'', N'01', N'HQ_A', N'Admin', CAST(N'2024-02-08T15:36:47.380' AS DateTime), NULL, NULL, 0)
GO
