USE [OPR]
GO
/****** Object:  Table [dbo].[EMP_TR_ASSESSMENT]    Script Date: 20/10/2023 1:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_ASSESSMENT]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_ASSESSMENT]
GO
/****** Object:  Table [dbo].[EMP_TR_ASSESSMENT]    Script Date: 20/10/2023 1:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ASSESSMENT](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPASSESSMENT_ID] [int] NOT NULL,
	[EMPASSESSMENT_TOPIC] [varchar](100) NOT NULL,
	[EMPASSESSMENT_FROMDATE] [datetime] NOT NULL,
	[EMPASSESSMENT_TODATE] [datetime] NOT NULL,
	[EMPASSESSMENT_COUNT] [decimal](5, 2) NOT NULL,
	[EMPASSESSMENT_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ASSESSMENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPASSESSMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
