USE [OPR]
GO
/****** Object:  Table [dbo].[EMP_MT_FORETYPE]    Script Date: 22/09/2023 18:43:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_FORETYPE]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_FORETYPE]
GO
/****** Object:  Table [dbo].[EMP_MT_FORETYPE]    Script Date: 22/09/2023 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_FORETYPE](
	[FORETYPE_ID] [int] NOT NULL,
	[FORETYPE_CODE] [char](3) NOT NULL,
	[FORETYPE_NAME_TH] [varchar](200) NOT NULL,
	[FORETYPE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_FORETYPE] PRIMARY KEY CLUSTERED 
(
	[FORETYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMP_MT_FORETYPE] ([FORETYPE_ID], [FORETYPE_CODE], [FORETYPE_NAME_TH], [FORETYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'CHA', N'เปลี่ยนนายจ้าง', N'Change employer', N'Admin', CAST(N'2023-09-22T17:58:48.553' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_FORETYPE] ([FORETYPE_ID], [FORETYPE_CODE], [FORETYPE_NAME_TH], [FORETYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'HIA', N'บุคคลบนพื้นที่สูง', N'High area', N'Admin', CAST(N'2023-09-22T18:04:45.210' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_FORETYPE] ([FORETYPE_ID], [FORETYPE_CODE], [FORETYPE_NAME_TH], [FORETYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'MOU', N'MOU', N'MOU', N'Admin', CAST(N'2023-09-22T17:54:44.487' AS DateTime), NULL, NULL, 1)
GO
