USE [OPR]
GO
/****** Object:  Table [dbo].[OPR_MT_REQUESTS]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPR_MT_REQUESTS](
	[REQUEST_ID] [int] NOT NULL,
	[REQUEST_CODE] [varchar](5) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[REQUEST_AGENCY] [varchar](30) NOT NULL,
	[REQUEST_WORK] [varchar](100) NOT NULL,
	[REQUEST_JOB_TYPE] [varchar](30) NOT NULL,
	[REQUEST_EMPLOYEE_TYPE] [varchar](30) NOT NULL,
	[REQUEST_QUANTITY] [decimal](4, 2) NULL,
	[REQUEST_URGENCY] [varchar](30) NOT NULL,
	[REQUEST_WAGE_RATE] [decimal](4, 2) NULL,
	[REQUEST_OVERTIME] [decimal](4, 2) NULL,
	[REQUEST_ANOTHER] [varchar](30) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_OPR_MT_REQUESTS] PRIMARY KEY CLUSTERED 
(
	[REQUEST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_MT_APPLYWORK]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_APPLYWORK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_ID] [int] NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[APPLYWORK_INITIAL] [varchar](15) NOT NULL,
	[APPLYWORK_FNAME_TH] [varchar](200) NOT NULL,
	[APPLYWORK_LNAME_TH] [varchar](200) NOT NULL,
	[APPLYWORK_FNAME_EN] [varchar](200) NOT NULL,
	[APPLYWORK_LNAME_EN] [varchar](200) NOT NULL,
	[APPLYWORK_BIRTHDATE] [datetime] NOT NULL,
	[APPLYWORK_STARTDATE] [datetime] NULL,
	[PROVINCE_CODE] [varchar](5) NOT NULL,
	[BLOODTYPE_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_HEIGHT] [varchar](5) NOT NULL,
	[APPLYWORK_WEIGHT] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_APPLYWORK] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_APPLYADDRESS]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_APPLYADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[APPLYADDRESS_ID] [int] NOT NULL,
	[APPLYADDRESS_TYPE] [varchar](5) NOT NULL,
	[APPLYADDRESS_NO] [varchar](30) NULL,
	[APPLYADDRESS_MOO] [varchar](30) NULL,
	[APPLYADDRESS_SOI] [varchar](100) NULL,
	[APPLYADDRESS_ROAD] [varchar](100) NULL,
	[APPLYADDRESS_TAMBON] [varchar](100) NULL,
	[APPLYADDRESS_AMPHUR] [varchar](100) NULL,
	[APPLYPROVINCE_CODE] [varchar](30) NULL,
	[APPLYADDRESS_ZIPCODE] [varchar](30) NULL,
	[APPLYADDRESS_TEL] [varchar](30) NULL,
	[APPLYADDRESS_EMAIL] [varchar](50) NULL,
	[APPLYADDRESS_LINE] [varchar](50) NULL,
	[APPLYADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_APPLYADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[APPLYADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_CARD]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_CARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[CARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[CARD_ISSUE] [datetime] NOT NULL,
	[CARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_CARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[CARD_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_EDUCATION]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_EDUCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[REQEDUCATION_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NULL,
	[FACULTY_CODE] [varchar](10) NULL,
	[MAJOR_CODE] [varchar](10) NULL,
	[QUALIFICATION_CODE] [varchar](10) NULL,
	[REQEDUCATION_GPA] [varchar](20) NULL,
	[REQEDUCATION_START] [datetime] NOT NULL,
	[REQEDUCATION_FINISH] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[REQEDUCATION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[PASSPORT_NO] [varchar](20) NOT NULL,
	[PASSPORT_ISSUE] [datetime] NOT NULL,
	[PASSPORT_EXPIRE] [datetime] NOT NULL,
	[VISA_NO] [varchar](20) NOT NULL,
	[VISA_ISSUE] [datetime] NOT NULL,
	[VISA_EXPIRE] [datetime] NOT NULL,
	[WORKPERMIT_NO] [varchar](20) NOT NULL,
	[WORKPERMIT_BY] [varchar](200) NOT NULL,
	[WORKPERMIT_ISSUE] [datetime] NOT NULL,
	[WORKPERMIT_EXPIRE] [datetime] NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[CERTIFICATE_NO] [varchar](20) NOT NULL,
	[CERTIFICATE_EXPIRE] [datetime] NOT NULL,
	[OTHERDOC_NO] [varchar](20) NOT NULL,
	[OTHERDOC_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_TRAINING]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_TRAINING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[REQTRAINING_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](20) NULL,
	[COURSE_CODE] [varchar](20) NULL,
	[INSTITUTE_OTHER] [varchar](500) NULL,
	[COURSE_OTHER] [varchar](500) NULL,
	[REQTRAINING_START] [datetime] NOT NULL,
	[REQTRAINING_FINISH] [datetime] NOT NULL,
	[REQTRAINING_STATUS] [char](1) NULL,
	[REQTRAINING_HOURS] [decimal](5, 2) NULL,
	[REQTRAINING_COST] [decimal](10, 2) NULL,
	[REQTRAINING_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[REQTRAINING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ADDRESSTYPE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ADDRESSTYPE](
	[ADDRESSTYPE_ID] [int] NOT NULL,
	[ADDRESSTYPE_CODE] [varchar](5) NOT NULL,
	[ADDRESSTYPE_NAME_TH] [varchar](200) NOT NULL,
	[ADDRESSTYPE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_ADDRESSTYPE] PRIMARY KEY CLUSTERED 
(
	[ADDRESSTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BANK](
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](5) NOT NULL,
	[BANK_NAME_TH] [varchar](100) NOT NULL,
	[BANK_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BANK] PRIMARY KEY CLUSTERED 
(
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BLOODTYPE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BLOODTYPE](
	[BLOODTYPE_ID] [int] NOT NULL,
	[BLOODTYPE_CODE] [varchar](5) NOT NULL,
	[BLOODTYPE_NAME_TH] [varchar](100) NOT NULL,
	[BLOODTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BLOODTYPE] PRIMARY KEY CLUSTERED 
(
	[BLOODTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CARDTYPE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CARDTYPE](
	[CARDTYPE_ID] [int] NOT NULL,
	[CARDTYPE_CODE] [varchar](5) NOT NULL,
	[CARDTYPE_NAME_TH] [varchar](100) NOT NULL,
	[CARDTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_CARDTYPE] PRIMARY KEY CLUSTERED 
(
	[CARDTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CCOURSE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CCOURSE](
	[COURSE_ID] [int] NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[COURSE_NAME_TH] [varchar](200) NOT NULL,
	[COURSE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_CCOURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CODESTRUCTURE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CODESTRUCTURE](
	[CODESTRUCTURE_CODE] [varchar](5) NOT NULL,
	[CODESTRUCTURE_NAME_TH] [varchar](100) NOT NULL,
	[CODESTRUCTURE_NAME_EN] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SYS_MT_CODESTRUCTURE] PRIMARY KEY CLUSTERED 
(
	[CODESTRUCTURE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMADDRESS]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMBRANCH_CODE] [varchar](5) NOT NULL,
	[COMADDRESS_TYPE] [char](1) NOT NULL,
	[COMADDRESS_NO] [varchar](30) NULL,
	[COMADDRESS_MOO] [varchar](30) NULL,
	[COMADDRESS_SOI] [varchar](100) NULL,
	[COMADDRESS_ROAD] [varchar](100) NULL,
	[COMADDRESS_TAMBON] [varchar](100) NULL,
	[COMADDRESS_AMPHUR] [varchar](100) NULL,
	[PROVINCE_CODE] [varchar](30) NULL,
	[COMADDRESS_ZIPCODE] [varchar](30) NULL,
	[COMADDRESS_TEL] [varchar](30) NULL,
	[COMADDRESS_EMAIL] [varchar](50) NULL,
	[COMADDRESS_LINE] [varchar](50) NULL,
	[COMADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMBRANCH_CODE] ASC,
	[COMADDRESS_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBANkK]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMBANkK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMBANK_ID] [int] NOT NULL,
	[COMBANK_BANKCODE] [varchar](20) NOT NULL,
	[COMBANK_BANKACCOUNT] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMBANKk] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMBANK_BANKACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBRANCH]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMBRANCH](
	[COMBRANCH_ID] [int] NOT NULL,
	[COMBRANCH_CODE] [varchar](10) NOT NULL,
	[COMBRANCH_NAME_TH] [varchar](200) NOT NULL,
	[COMBRANCH_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMBRANCH] PRIMARY KEY CLUSTERED 
(
	[COMBRANCH_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMCARD]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMCARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMBRANCH_CODE] [varchar](5) NOT NULL,
	[COMCARD_ID] [int] NOT NULL,
	[COMCARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[COMCARD_ISSUE] [datetime] NOT NULL,
	[COMCARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMCARD] PRIMARY KEY CLUSTERED 
(
	[COMCARD_CODE] ASC,
	[COMPANY_CODE] ASC,
	[COMBRANCH_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMPANYS]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMPANYS](
	[COMPANY_ID] [int] NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMPANY_INITIALS] [varchar](200) NOT NULL,
	[COMPANY_NAME_TH] [varchar](200) NOT NULL,
	[COMPANY_NAME_EN] [varchar](200) NOT NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[SSO_COM_RATE] [decimal](4, 2) NULL,
	[SSO_EMP_RATE] [decimal](4, 2) NULL,
	[SSO_MIN_WAGE] [decimal](10, 2) NULL,
	[SSO_MAX_WAGE] [decimal](10, 2) NULL,
	[SSO_MIN_AGE] [int] NULL,
	[SSO_MAX_AGE] [int] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMPANYS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COURSE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COURSE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[COURSE_NAME_TH] [varchar](200) NOT NULL,
	[COURSE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_EMPID]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_EMPID](
	[EMPID_ID] [int] NOT NULL,
	[EMPID_CODE] [varchar](5) NOT NULL,
	[EMPID_NAME_TH] [varchar](200) NOT NULL,
	[EMPID_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_EMPID] PRIMARY KEY CLUSTERED 
(
	[EMPID_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ETHNICITY]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ETHNICITY](
	[ETHNICITY_ID] [int] NOT NULL,
	[ETHNICITY_CODE] [varchar](5) NOT NULL,
	[ETHNICITY_NAME_TH] [varchar](100) NOT NULL,
	[ETHNICITY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ETHNICITY] PRIMARY KEY CLUSTERED 
(
	[ETHNICITY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FACULTY]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FACULTY](
	[FACULTY_ID] [int] NOT NULL,
	[FACULTY_CODE] [varchar](10) NOT NULL,
	[FACULTY_NAME_TH] [varchar](200) NOT NULL,
	[FACULTY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_FACULTY] PRIMARY KEY CLUSTERED 
(
	[FACULTY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FAMILY]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FAMILY](
	[FAMILY_ID] [int] NOT NULL,
	[FAMILY_CODE] [varchar](5) NOT NULL,
	[FAMILY_NAME_TH] [varchar](100) NOT NULL,
	[FAMILY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_FAMILY] PRIMARY KEY CLUSTERED 
(
	[FAMILY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_HOSPITAL](
	[HOSPITAL_ID] [int] NOT NULL,
	[HOSPITAL_CODE] [varchar](5) NOT NULL,
	[HOSPITAL_NAME_TH] [varchar](100) NOT NULL,
	[HOSPITAL_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_INSTITUTE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_INSTITUTE](
	[INSTITUTE_ID] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NOT NULL,
	[INSTITUTE_NAME_TH] [varchar](200) NOT NULL,
	[INSTITUTE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_INSTITUTE] PRIMARY KEY CLUSTERED 
(
	[INSTITUTE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_LEVEL]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_LEVEL](
	[LEVEL_ID] [int] NOT NULL,
	[LEVEL_CODE] [char](2) NOT NULL,
	[LEVEL_NAME_TH] [varchar](200) NOT NULL,
	[LEVEL_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_LEVEL] PRIMARY KEY CLUSTERED 
(
	[LEVEL_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_LOCATION]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_LOCATION](
	[LOCATION_ID] [int] NOT NULL,
	[LOCATION_CODE] [varchar](5) NOT NULL,
	[LOCATION_NAME_TH] [varchar](100) NOT NULL,
	[LOCATION_NAME_EN] [varchar](100) NOT NULL,
	[LOCATION_DETAIL] [varchar](500) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_MAJORR]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_MAJORR](
	[MAJOR_ID] [int] NOT NULL,
	[MAJOR_CODE] [varchar](10) NOT NULL,
	[MAJOR_NAME_TH] [varchar](200) NOT NULL,
	[MAJOR_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_MAJORR] PRIMARY KEY CLUSTERED 
(
	[MAJOR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_POLCODE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_POLCODE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[POLCODE_ID] [int] NOT NULL,
	[POLCODE_TYPE] [varchar](3) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_POLCODE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[POLCODE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_PROVINCE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_PROVINCE](
	[PROVINCE_ID] [int] NOT NULL,
	[PROVINCE_CODE] [varchar](5) NOT NULL,
	[PROVINCE_NAME_TH] [varchar](200) NOT NULL,
	[PROVINCE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_QUALIFICATION]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_QUALIFICATION](
	[QUALIFICATION_ID] [int] NOT NULL,
	[QUALIFICATION_CODE] [varchar](10) NOT NULL,
	[QUALIFICATION_NAME_TH] [varchar](200) NOT NULL,
	[QUALIFICATION_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_QUALIFICATION] PRIMARY KEY CLUSTERED 
(
	[QUALIFICATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REASON]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REASON](
	[REASON_ID] [int] NOT NULL,
	[REASON_CODE] [varchar](5) NOT NULL,
	[REASON_NAME_TH] [varchar](100) NOT NULL,
	[REASON_NAME_EN] [varchar](100) NOT NULL,
	[REASON_GROUP] [varchar](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REASON] PRIMARY KEY CLUSTERED 
(
	[REASON_CODE] ASC,
	[REASON_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REDUCE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REDUCE](
	[REDUCE_ID] [int] NOT NULL,
	[REDUCE_CODE] [varchar](5) NOT NULL,
	[REDUCE_NAME_TH] [varchar](100) NOT NULL,
	[REDUCE_NAME_EN] [varchar](100) NOT NULL,
	[REDUCE_AMOUNT] [decimal](12, 2) NOT NULL,
	[REDUCE_PERCENT] [decimal](6, 2) NOT NULL,
	[REDUCE_PERCENT_MAX] [decimal](12, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REDUCE] PRIMARY KEY CLUSTERED 
(
	[REDUCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_RELIGION]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_RELIGION](
	[RELIGION_ID] [int] NOT NULL,
	[RELIGION_CODE] [varchar](5) NOT NULL,
	[RELIGION_NAME_TH] [varchar](100) NOT NULL,
	[RELIGION_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_RELIGION] PRIMARY KEY CLUSTERED 
(
	[RELIGION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_POLCODE]    Script Date: 21/03/2023 17:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_POLCODE](
	[POLCODE_ID] [int] NOT NULL,
	[CODESTRUCTURE_CODE] [varchar](4) NOT NULL,
	[POLCODE_LENGHT] [int] NOT NULL,
	[POLCODE_TEXT] [varchar](10) NULL,
	[POLCODE_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_SYS_TR_POLCODE] PRIMARY KEY CLUSTERED 
(
	[POLCODE_ID] ASC,
	[CODESTRUCTURE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OPR_MT_REQUESTS] ([REQUEST_ID], [REQUEST_CODE], [REQUEST_DATE], [REQUEST_AGENCY], [REQUEST_WORK], [REQUEST_JOB_TYPE], [REQUEST_EMPLOYEE_TYPE], [REQUEST_QUANTITY], [REQUEST_URGENCY], [REQUEST_WAGE_RATE], [REQUEST_OVERTIME], [REQUEST_ANOTHER], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', CAST(N'2011-11-11T00:00:00.000' AS DateTime), N'1', N'1', N'1', N'1', CAST(1.00 AS Decimal(4, 2)), N'1', CAST(1.00 AS Decimal(4, 2)), CAST(1.00 AS Decimal(4, 2)), N'1', N'1', CAST(N'2011-11-11T00:00:00.000' AS DateTime), N'11', NULL, 1)
GO
INSERT [dbo].[REQ_TR_CARD] ([COMPANY_CODE], [APPLYWORK_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 1, N'12', N'02', CAST(N'2023-03-20T00:00:00.000' AS DateTime), CAST(N'2023-03-29T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-17T14:22:57.393' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_CARD] ([COMPANY_CODE], [APPLYWORK_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'009', 2, N'55', N'02', CAST(N'2023-03-26T00:00:00.000' AS DateTime), CAST(N'2023-03-28T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-21T16:52:42.123' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_EDUCATION] ([COMPANY_CODE], [APPLYWORK_CODE], [REQEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [REQEDUCATION_GPA], [REQEDUCATION_START], [REQEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 1, N'8999', N'1234', N'123', N'321', N'4', CAST(N'2023-03-27T00:00:00.000' AS DateTime), CAST(N'2023-03-29T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-21T16:40:28.353' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_EDUCATION] ([COMPANY_CODE], [APPLYWORK_CODE], [REQEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [REQEDUCATION_GPA], [REQEDUCATION_START], [REQEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'009', 2, N'1', N'1234', N'123', N'321', N'1', CAST(N'2023-03-22T00:00:00.000' AS DateTime), CAST(N'2023-03-23T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-21T16:52:42.043' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_ADDRESSTYPE] ([ADDRESSTYPE_ID], [ADDRESSTYPE_CODE], [ADDRESSTYPE_NAME_TH], [ADDRESSTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'1', N'1', N'Not login', CAST(N'2023-03-03T12:00:44.437' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'BKK', N'กรุงเทพ', N'Bangkoka
', N'Not login', CAST(N'2023-01-11T15:02:28.980' AS DateTime), N'Not login', CAST(N'2023-02-23T16:58:49.450' AS DateTime), 1)
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'KTB', N'กรุงไทย
', N'KTB
', N'Not login', CAST(N'2023-01-11T15:02:42.530' AS DateTime), N'Not login', CAST(N'2023-02-24T15:40:44.390' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_BLOODTYPE] ([BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'2', N'a', N'a', N'Not login', CAST(N'2023-03-15T14:08:29.020' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'CID', N'เลขที่ประจำตัวนิติบุคคล	', N'Citizen ID', N'Not login', CAST(N'2023-03-20T20:48:50.837' AS DateTime), N'Not login', CAST(N'2023-03-20T20:48:50.837' AS DateTime), 1)
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'NTID', N'บัตรประชาชน', N'National ID', N'Not login', CAST(N'2023-03-20T20:49:12.223' AS DateTime), N'Not login', CAST(N'2023-03-20T20:49:12.223' AS DateTime), 1)
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'PAS', N'Passport 
', N'Passport ', N'Not login', CAST(N'2023-03-20T20:49:30.110' AS DateTime), N'Not login', CAST(N'2023-03-20T20:49:30.110' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_CCOURSE] ([COURSE_ID], [COURSE_CODE], [COURSE_NAME_TH], [COURSE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1231', N'Course', N'Course', N'Not login', CAST(N'2023-03-20T16:14:46.857' AS DateTime), N'Not login', CAST(N'2023-03-20T20:27:38.683' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_COMADDRESS] ([COMPANY_CODE], [COMBRANCH_CODE], [COMADDRESS_TYPE], [COMADDRESS_NO], [COMADDRESS_MOO], [COMADDRESS_SOI], [COMADDRESS_ROAD], [COMADDRESS_TAMBON], [COMADDRESS_AMPHUR], [PROVINCE_CODE], [COMADDRESS_ZIPCODE], [COMADDRESS_TEL], [COMADDRESS_EMAIL], [COMADDRESS_LINE], [COMADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'ee', N'', N' ', N'', N'', N'', N'', N'', N'', N'[object Object]', N'', N'', N'', N'', N'', N'Not login', CAST(N'2023-03-10T12:36:18.473' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_COMBANkK] ([COMPANY_CODE], [COMBANK_ID], [COMBANK_BANKCODE], [COMBANK_BANKACCOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'009', 1, N'undefined', N'1234567', N'Not login', CAST(N'2023-03-08T20:02:39.510' AS DateTime), N'Not login', CAST(N'2023-03-10T16:32:36.117' AS DateTime), 0)
INSERT [dbo].[SYS_MT_COMBANkK] ([COMPANY_CODE], [COMBANK_ID], [COMBANK_BANKCODE], [COMBANK_BANKACCOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'009', 3, N'BKK', N'12345678', N'Not login', CAST(N'2023-03-10T14:25:04.407' AS DateTime), N'Not login', CAST(N'2023-03-10T16:32:36.397' AS DateTime), 0)
INSERT [dbo].[SYS_MT_COMBANkK] ([COMPANY_CODE], [COMBANK_ID], [COMBANK_BANKCODE], [COMBANK_BANKACCOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'12', 2, N'BKK', N'1111', N'Not login', CAST(N'2023-03-09T20:34:23.070' AS DateTime), N'Not login', CAST(N'2023-03-10T10:53:53.653' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_COMBRANCH] ([COMBRANCH_ID], [COMBRANCH_CODE], [COMBRANCH_NAME_TH], [COMBRANCH_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'001', N'ทดสอบ', N'test', N'', N'Not login', CAST(N'2023-03-10T13:51:49.417' AS DateTime), N'Not login', CAST(N'2023-03-10T16:57:30.590' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_COMCARD] ([COMPANY_CODE], [COMBRANCH_CODE], [COMCARD_ID], [COMCARD_CODE], [CARD_TYPE], [COMCARD_ISSUE], [COMCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'001', 6, N'098', N'02', CAST(N'2023-03-20T00:00:00.000' AS DateTime), CAST(N'2023-03-29T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-10T16:42:38.587' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_COMCARD] ([COMPANY_CODE], [COMBRANCH_CODE], [COMCARD_ID], [COMCARD_CODE], [CARD_TYPE], [COMCARD_ISSUE], [COMCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'009', N'', 3, N'1', N'02', CAST(N'2023-03-27T00:00:00.000' AS DateTime), CAST(N'2023-03-29T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-10T16:28:42.943' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_COMCARD] ([COMPANY_CODE], [COMBRANCH_CODE], [COMCARD_ID], [COMCARD_CODE], [CARD_TYPE], [COMCARD_ISSUE], [COMCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'opop', N'', 1, N'1', N'1', CAST(N'2011-11-11T00:00:00.000' AS DateTime), CAST(N'2011-11-11T00:00:00.000' AS DateTime), N's', CAST(N'2011-11-11T00:00:00.000' AS DateTime), NULL, CAST(N'2011-11-11T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_ETHNICITY] ([ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'34', N'ไทย', N'thai', N'Not login', CAST(N'2023-01-16T11:59:53.737' AS DateTime), N'Not login', CAST(N'2023-02-24T16:11:01.580' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_FACULTY] ([FACULTY_ID], [FACULTY_CODE], [FACULTY_NAME_TH], [FACULTY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1234', N'Faculty', N'Faculty', N'Not login', CAST(N'2023-03-20T20:17:26.347' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'พี่สาว', N' Older sis', N'Not login', CAST(N'2023-02-10T11:28:51.363' AS DateTime), N'Not login', CAST(N'2023-03-07T15:09:13.377' AS DateTime), 1)
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'03', N'มารดา', N'Mother', N'Not login', CAST(N'2023-03-20T20:50:05.217' AS DateTime), N'Not login', CAST(N'2023-03-20T20:50:05.217' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_HOSPITAL] ([HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'โรงพยาบาล', N'
Hospital', N'Not login', CAST(N'2023-02-24T14:22:12.457' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_INSTITUTE] ([INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'1', N'1', N'Not login', CAST(N'2023-03-20T20:02:21.563' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_INSTITUTE] ([INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'8999', N'thai', N'thai', N'Not login', CAST(N'2023-03-20T20:06:59.150' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_LEVEL] ([LEVEL_ID], [LEVEL_CODE], [LEVEL_NAME_TH], [LEVEL_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'แผนก', N'Department', N'gg', N'Not login', CAST(N'2023-02-10T11:26:23.577' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_LOCATION] ([LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'0000', N'สำนักงานใหญ่', N'CENTER', N'952 อาคารรามาแลนด์ ชั้นที่ 11 ถนนพระรามสี่ แขวงสุริยวงศ์ 
เขตบางรัก จังหวัดกรุงเทพฯ 10500 
', N'Not login', CAST(N'2023-02-10T11:42:12.807' AS DateTime), N'Not login', CAST(N'2023-02-10T12:00:33.237' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_MAJORR] ([MAJOR_ID], [MAJOR_CODE], [MAJOR_NAME_TH], [MAJOR_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'123', N'Major', N'Major', N'Not login', CAST(N'2023-03-20T20:27:23.433' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_PROVINCE] ([PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'10', N'กรุงเทพมกห', N'Bangkok', N'Not login', CAST(N'2023-02-10T11:31:09.907' AS DateTime), N'Not login', CAST(N'2023-02-24T16:37:15.670' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_QUALIFICATION] ([QUALIFICATION_ID], [QUALIFICATION_CODE], [QUALIFICATION_NAME_TH], [QUALIFICATION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'321', N'Qualification', N'Qualification', N'Not login', CAST(N'2023-03-20T20:26:48.577' AS DateTime), N'Not login', CAST(N'2023-03-20T20:26:54.080' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_REASON] ([REASON_ID], [REASON_CODE], [REASON_NAME_TH], [REASON_NAME_EN], [REASON_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'ลาพักร้อน', N'Annual Lea', N'', N'Not login', CAST(N'2023-02-10T11:24:10.860' AS DateTime), N'Not login', CAST(N'2023-02-23T10:54:40.297' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_REDUCE] ([REDUCE_ID], [REDUCE_CODE], [REDUCE_NAME_TH], [REDUCE_NAME_EN], [REDUCE_AMOUNT], [REDUCE_PERCENT], [REDUCE_PERCENT_MAX], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'11', N'ผู้มีเงินได้(60,000บาทหรือ 120,000บาทแล้วแต่กรณี)
', N'Income earners (60,000 baht or 120,000 baht depending on the case)', CAST(60000.00 AS Decimal(12, 2)), CAST(11.00 AS Decimal(6, 2)), CAST(1.00 AS Decimal(12, 2)), N'Not login', CAST(N'2023-01-19T10:11:03.197' AS DateTime), N'Not login', CAST(N'2023-02-24T16:38:47.713' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_RELIGION] ([RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'ศาสนาพุทธ', N'Buddhist', N'Not login', CAST(N'2023-01-15T00:35:09.793' AS DateTime), N'Not login', CAST(N'2023-02-24T16:05:24.383' AS DateTime), 1)
GO
