USE [OPR]
GO
/****** Object:  Table [dbo].[EMP_MT_DEP]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_DEP](
	[DEP_ID] [int] NOT NULL,
	[DEP_CODE] [varchar](10) NOT NULL,
	[DEP_NAME_TH] [varchar](200) NOT NULL,
	[DEP_NAME_EN] [varchar](200) NOT NULL,
	[DEP_PARENT] [varchar](10) NOT NULL,
	[DEP_LEVEL] [char](2) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_MT_DEP] PRIMARY KEY CLUSTERED 
(
	[DEP_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_GROUP]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_GROUP](
	[GROUP_ID] [int] NOT NULL,
	[GROUP_CODE] [varchar](10) NOT NULL,
	[GROUP_NAME_TH] [varchar](200) NOT NULL,
	[GROUP_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_GROUP] PRIMARY KEY CLUSTERED 
(
	[GROUP_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_INITIAL]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_INITIAL](
	[INITIAL_ID] [int] NOT NULL,
	[INITIAL_CODE] [char](3) NOT NULL,
	[INITIAL_NAME_TH] [varchar](200) NOT NULL,
	[INITIAL_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_INITIAL] PRIMARY KEY CLUSTERED 
(
	[INITIAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_LOCATION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_LOCATION](
	[LOCATION_ID] [int] NOT NULL,
	[LOCATION_CODE] [varchar](5) NOT NULL,
	[LOCATION_NAME_TH] [varchar](100) NOT NULL,
	[LOCATION_NAME_EN] [varchar](100) NOT NULL,
	[LOCATION_DETAIL] [varchar](500) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_MT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_POSITION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_POSITION](
	[POSITION_ID] [int] NOT NULL,
	[POSITION_CODE] [varchar](10) NOT NULL,
	[POSITION_NAME_TH] [varchar](200) NOT NULL,
	[POSITION_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_POSITION] PRIMARY KEY CLUSTERED 
(
	[POSITION_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_STATUS]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_STATUS](
	[STATUS_ID] [int] NOT NULL,
	[STATUS_CODE] [varchar](10) NOT NULL,
	[STATUS_NAME_TH] [varchar](200) NOT NULL,
	[STATUS_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_TYPE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_TYPE](
	[TYPE_ID] [int] NOT NULL,
	[TYPE_CODE] [varchar](10) NOT NULL,
	[TYPE_NAME_TH] [varchar](200) NOT NULL,
	[TYPE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_WORKER]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_WORKER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[WORKER_CARD] [varchar](15) NULL,
	[WORKER_INITIAL] [varchar](15) NOT NULL,
	[WORKER_FNAME_TH] [varchar](200) NOT NULL,
	[WORKER_LNAME_TH] [varchar](200) NOT NULL,
	[WORKER_FNAME_EN] [varchar](200) NOT NULL,
	[WORKER_LNAME_EN] [varchar](200) NOT NULL,
	[WORKER_TYPE] [varchar](5) NOT NULL,
	[WORKER_GENDER] [char](1) NOT NULL,
	[WORKER_BIRTHDATE] [datetime] NULL,
	[WORKER_HIREDATE] [datetime] NOT NULL,
	[WORKER_STATUS] [varchar](5) NOT NULL,
	[RELIGION_CODE] [varchar](5) NULL,
	[BLOOD_CODE] [varchar](5) NULL,
	[WORKER_HEIGHT] [decimal](18, 2) NULL,
	[WORKER_WEIGHT] [decimal](18, 2) NULL,
	[WORKER_RESIGNDATE] [datetime] NULL,
	[WORKER_RESIGNSTATUS] [bit] NOT NULL,
	[WORKER_RESIGNREASON] [varchar](5) NULL,
	[WORKER_PROBATIONDATE] [datetime] NULL,
	[WORKER_PROBATIONENDDATE] [datetime] NULL,
	[WORKER_PROBATIONDAY] [decimal](18, 0) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[WORKER_TAXMETHOD] [char](1) NULL,
	[WORKER_PWD] [varchar](100) NULL,
	[SELF_ADMIN] [bit] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_MT_WORKER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_ACCUMALATE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ACCUMALATE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PERIODYEAR] [varchar](4) NOT NULL,
	[PERIODID] [varchar](2) NOT NULL,
	[PAYDATE] [datetime] NOT NULL,
	[INCOMEFIX] [numeric](18, 2) NULL,
	[INCOMEVAR] [numeric](18, 2) NULL,
	[TAXFIX] [numeric](18, 2) NULL,
	[TAXVAR] [numeric](18, 2) NULL,
	[INCOMEFORTYONE] [numeric](18, 2) NULL,
	[INCOMEFORTYONEPERTHREE] [numeric](18, 2) NULL,
	[INCOMEFORTYONETWO] [numeric](18, 2) NULL,
	[INCOMEFORTYTWOIN] [numeric](18, 2) NULL,
	[INCOMEFORTYTWOOUT] [numeric](18, 2) NULL,
	[TAXFORTYONE] [numeric](18, 2) NULL,
	[TAXFORTYONEPERTHREE] [numeric](18, 2) NULL,
	[TAXFORTYONETWO] [numeric](18, 2) NULL,
	[TAXFORTYTWOIN] [numeric](18, 2) NULL,
	[TAXFORTYTWOOUT] [numeric](18, 2) NULL,
	[SSOACC_WORKER] [numeric](18, 2) NULL,
	[SSOACC_COMPANY] [numeric](18, 2) NULL,
	[PFACC_WORKER] [numeric](18, 2) NULL,
	[PFACC_COMPANY] [numeric](18, 2) NULL,
	[ALLWANCEINCTAX] [numeric](18, 2) NULL,
	[ALLWANCENOTINCTAX] [numeric](18, 2) NULL,
	[DEDUCTINCTAX] [numeric](18, 2) NULL,
	[DEDUCTNOTINCTAX] [numeric](18, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ACCUMALATE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PERIODYEAR] ASC,
	[PERIODID] ASC,
	[PAYDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_ADDRESS]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[ADDRESS_TYPE] [varchar](5) NOT NULL,
	[ADDRESS_NO] [varchar](30) NULL,
	[ADDRESS_MOO] [varchar](30) NULL,
	[ADDRESS_SOI] [varchar](100) NULL,
	[ADDRESS_ROAD] [varchar](100) NULL,
	[ADDRESS_TAMBON] [varchar](100) NULL,
	[ADDRESS_AMPHUR] [varchar](100) NULL,
	[PROVINCE_CODE] [varchar](30) NULL,
	[ADDRESS_ZIPCODE] [varchar](30) NULL,
	[ADDRESS_TEL] [varchar](30) NULL,
	[ADDRESS_EMAIL] [varchar](50) NULL,
	[ADDRESS_LINE] [varchar](50) NULL,
	[ADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_ASSESSMENT]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ASSESSMENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPASSESSMENT_ID] [int] NOT NULL,
	[EMPASSESSMENT_LOCATION] [varchar](100) NOT NULL,
	[EMPASSESSMENT_TOPIC] [varchar](100) NOT NULL,
	[EMPASSESSMENT_FROMDATE] [datetime] NOT NULL,
	[EMPASSESSMENT_TODATE] [datetime] NOT NULL,
	[EMPASSESSMENT_COUNT] [decimal](5, 2) NOT NULL,
	[EMPASSESSMENT_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ASSESSMENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPASSESSMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_BANK]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_BANK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](20) NOT NULL,
	[BANK_ACCOUNT] [varchar](20) NOT NULL,
	[BANK_PERCENT] [decimal](5, 2) NOT NULL,
	[BANK_CASHPERCENT] [decimal](5, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[BANK_BANKNAME] [varchar](100) NULL,
 CONSTRAINT [PK_EMP_TR_BANK] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_BENEFIT]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_BENEFIT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPBENEFIT_ID] [int] NOT NULL,
	[ITEM_CODE] [varchar](20) NOT NULL,
	[EMPBENEFIT_AMOUNT] [decimal](10, 2) NOT NULL,
	[EMPBENEFIT_STARTDATE] [datetime] NOT NULL,
	[EMPBENEFIT_ENDDATE] [datetime] NOT NULL,
	[EMPBENEFIT_REASON] [varchar](3) NOT NULL,
	[EMPBENEFIT_NOTE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[EMPBENEFIT_PAYTYPE] [char](1) NULL,
	[EMPBENEFIT_BREAK] [bit] NULL,
	[EMPBENEFIT_BREAKREASON] [varchar](3) NULL,
	[EMPBENEFIT_CONDITIONPAY] [char](1) NULL,
	[EMPBENEFIT_PAYFIRST] [char](1) NULL,
 CONSTRAINT [PK_EMP_TR_BENEFIT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ITEM_CODE] ASC,
	[EMPBENEFIT_STARTDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_CARD]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_CARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[CARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[CARD_ISSUE] [datetime] NOT NULL,
	[CARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_CARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[CARD_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_CRIMINAL]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_CRIMINAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPCRIMINAL_ID] [int] NOT NULL,
	[EMPCRIMINAL_LOCATION] [varchar](100) NOT NULL,
	[EMPCRIMINAL_FROMDATE] [datetime] NOT NULL,
	[EMPCRIMINAL_TODATE] [datetime] NOT NULL,
	[EMPCRIMINAL_COUNT] [decimal](5, 2) NOT NULL,
	[EMPCRIMINAL_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_CRIMINAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPCRIMINAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_DEP]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_DEP](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPDEP_ID] [int] NOT NULL,
	[EMPDEP_DATE] [datetime] NOT NULL,
	[EMPDEP_LEVEL01] [varchar](10) NOT NULL,
	[EMPDEP_LEVEL02] [varchar](10) NULL,
	[EMPDEP_LEVEL03] [varchar](10) NULL,
	[EMPDEP_LEVEL04] [varchar](10) NULL,
	[EMPDEP_LEVEL05] [varchar](10) NULL,
	[EMPDEP_LEVEL06] [varchar](10) NULL,
	[EMPDEP_LEVEL07] [varchar](10) NULL,
	[EMPDEP_LEVEL08] [varchar](10) NULL,
	[EMPDEP_LEVEL09] [varchar](10) NULL,
	[EMPDEP_LEVEL10] [varchar](10) NULL,
	[EMPDEP_REASON] [varchar](5) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_DEP] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPDEP_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_EDUCATION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_EDUCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPEDUCATION_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NULL,
	[FACULTY_CODE] [varchar](10) NULL,
	[MAJOR_CODE] [varchar](10) NULL,
	[QUALIFICATION_CODE] [varchar](10) NULL,
	[EMPEDUCATION_GPA] [varchar](20) NULL,
	[EMPEDUCATION_START] [datetime] NOT NULL,
	[EMPEDUCATION_FINISH] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPEDUCATION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_FAMILY]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_FAMILY](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FAMILY_ID] [int] NOT NULL,
	[FAMILY_CODE] [varchar](20) NOT NULL,
	[FAMILY_TYPE] [varchar](5) NOT NULL,
	[FAMILY_FNAME_TH] [varchar](200) NOT NULL,
	[FAMILY_LNAME_TH] [varchar](200) NOT NULL,
	[FAMILY_FNAME_EN] [varchar](200) NOT NULL,
	[FAMILY_LNAME_EN] [varchar](200) NOT NULL,
	[FAMILY_BIRTHDATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_FAMILY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FAMILY_CODE] ASC,
	[FAMILY_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNER]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[PASSPORT_NO] [varchar](20) NOT NULL,
	[PASSPORT_ISSUE] [datetime] NOT NULL,
	[PASSPORT_EXPIRE] [datetime] NOT NULL,
	[VISA_NO] [varchar](20) NOT NULL,
	[VISA_ISSUE] [datetime] NOT NULL,
	[VISA_EXPIRE] [datetime] NOT NULL,
	[WORKPERMIT_NO] [varchar](20) NOT NULL,
	[WORKPERMIT_BY] [varchar](200) NOT NULL,
	[WORKPERMIT_ISSUE] [datetime] NOT NULL,
	[WORKPERMIT_EXPIRE] [datetime] NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[CERTIFICATE_NO] [varchar](20) NOT NULL,
	[CERTIFICATE_EXPIRE] [datetime] NOT NULL,
	[OTHERDOC_NO] [varchar](20) NOT NULL,
	[OTHERDOC_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_HOSPITAL]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_HOSPITAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPHOSPITAL_ID] [int] NOT NULL,
	[EMPHOSPITAL_CODE] [varchar](20) NOT NULL,
	[EMPHOSPITAL_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPHOSPITAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_POSITION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_POSITION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPPOSITION_ID] [int] NOT NULL,
	[EMPPOSITION_DATE] [datetime] NOT NULL,
	[EMPPOSITION_POSITION] [varchar](10) NOT NULL,
	[EMPPOSITION_REASON] [varchar](5) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_POSITION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPPOSITION_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_PROVIDENT]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_PROVIDENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PROVIDENT_CODE] [varchar](10) NOT NULL,
	[EMPPROVIDENT_CARD] [varchar](20) NOT NULL,
	[EMPPROVIDENT_ENTRY] [datetime] NOT NULL,
	[EMPPROVIDENT_START] [datetime] NOT NULL,
	[EMPPROVIDENT_END] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_PROVIDENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PROVIDENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_REDUCE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_REDUCE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPREDUCE_ID] [int] NOT NULL,
	[REDUCE_TYPE] [varchar](3) NOT NULL,
	[EMPREDUCE_AMOUNT] [decimal](10, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_REDUCE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REDUCE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_SALARY]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_SALARY](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPSALARY_ID] [int] NOT NULL,
	[EMPSALARY_AMOUNT] [decimal](10, 2) NOT NULL,
	[EMPSALARY_DATE] [datetime] NOT NULL,
	[EMPSALARY_REASON] [varchar](3) NOT NULL,
	[EMPSALARY_INCAMOUNT] [decimal](10, 2) NULL,
	[EMPSALARY_INCPERCENT] [decimal](5, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_SALARY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPSALARY_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_TRAINING]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_TRAINING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPTRAINING_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](20) NULL,
	[COURSE_CODE] [varchar](20) NULL,
	[INSTITUTE_OTHER] [varchar](500) NULL,
	[COURSE_OTHER] [varchar](500) NULL,
	[EMPTRAINING_START] [datetime] NOT NULL,
	[EMPTRAINING_FINISH] [datetime] NOT NULL,
	[EMPTRAINING_STATUS] [char](1) NULL,
	[EMPTRAINING_HOURS] [decimal](5, 2) NULL,
	[EMPTRAINING_COST] [decimal](10, 2) NULL,
	[EMPTRAINING_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPTRAINING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_TRANFER]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_TRANFER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPTRANFER_ID] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NOT NULL,
	[JOB_TYPE] [varchar](20) NOT NULL,
	[EMPTRANFER_FROMDATE] [datetime] NOT NULL,
	[EMPTRANFER_TODATE] [datetime] NOT NULL,
	[EMPTRANFER_SALARY] [decimal](18, 2) NOT NULL,
	[EMPTRANFER_OT] [decimal](18, 2) NOT NULL,
	[EMPTRANFER_OTHER] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_TRANFER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPTRANFER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPR_MT_REQUESTS]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPR_MT_REQUESTS](
	[REQUEST_ID] [int] NOT NULL,
	[REQUEST_CODE] [varchar](5) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[REQUEST_AGENCY] [varchar](30) NOT NULL,
	[REQUEST_WORK] [varchar](100) NOT NULL,
	[REQUEST_JOB_TYPE] [varchar](30) NOT NULL,
	[REQUEST_EMPLOYEE_TYPE] [varchar](30) NOT NULL,
	[REQUEST_QUANTITY] [decimal](4, 2) NULL,
	[REQUEST_URGENCY] [varchar](30) NOT NULL,
	[REQUEST_WAGE_RATE] [decimal](4, 2) NULL,
	[REQUEST_OVERTIME] [decimal](4, 2) NULL,
	[REQUEST_ANOTHER] [varchar](30) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_OPR_MT_REQUESTS] PRIMARY KEY CLUSTERED 
(
	[REQUEST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_MT_APPLYWORK]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_APPLYWORK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_ID] [int] NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[APPLYWORK_INITIAL] [varchar](15) NOT NULL,
	[APPLYWORK_FNAME_TH] [varchar](200) NOT NULL,
	[APPLYWORK_LNAME_TH] [varchar](200) NOT NULL,
	[APPLYWORK_FNAME_EN] [varchar](200) NOT NULL,
	[APPLYWORK_LNAME_EN] [varchar](200) NOT NULL,
	[APPLYWORK_BIRTHDATE] [datetime] NOT NULL,
	[APPLYWORK_STARTDATE] [datetime] NULL,
	[PROVINCE_CODE] [varchar](5) NOT NULL,
	[BLOODTYPE_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_HEIGHT] [varchar](5) NOT NULL,
	[APPLYWORK_WEIGHT] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_APPLYWORK] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_APPLYADDRESS]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_APPLYADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[APPLYADDRESS_ID] [int] NOT NULL,
	[APPLYADDRESS_TYPE] [varchar](5) NOT NULL,
	[APPLYADDRESS_NO] [varchar](30) NULL,
	[APPLYADDRESS_MOO] [varchar](30) NULL,
	[APPLYADDRESS_SOI] [varchar](100) NULL,
	[APPLYADDRESS_ROAD] [varchar](100) NULL,
	[APPLYADDRESS_TAMBON] [varchar](100) NULL,
	[APPLYADDRESS_AMPHUR] [varchar](100) NULL,
	[APPLYPROVINCE_CODE] [varchar](30) NULL,
	[APPLYADDRESS_ZIPCODE] [varchar](30) NULL,
	[APPLYADDRESS_TEL] [varchar](30) NULL,
	[APPLYADDRESS_EMAIL] [varchar](50) NULL,
	[APPLYADDRESS_LINE] [varchar](50) NULL,
	[APPLYADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_APPLYADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[APPLYADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_ASSESSMENT]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_ASSESSMENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[REQASSESSMENT_ID] [int] NOT NULL,
	[REQASSESSMENT_LOCATION] [varchar](100) NOT NULL,
	[REQASSESSMENT_TOPIC] [varchar](100) NOT NULL,
	[REQASSESSMENT_FROMDATE] [datetime] NOT NULL,
	[REQASSESSMENT_TODATE] [datetime] NOT NULL,
	[REQASSESSMENT_COUNT] [decimal](5, 2) NOT NULL,
	[REQASSESSMENT_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_ASSESSMENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[REQASSESSMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_CARD]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_CARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[CARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[CARD_ISSUE] [datetime] NOT NULL,
	[CARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_CARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[CARD_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_CRIMINAL]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_CRIMINAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[REQCRIMINAL_ID] [int] NOT NULL,
	[REQCRIMINAL_LOCATION] [varchar](100) NOT NULL,
	[REQCRIMINAL_FROMDATE] [datetime] NOT NULL,
	[REQCRIMINAL_TODATE] [datetime] NOT NULL,
	[REQCRIMINAL_COUNT] [decimal](5, 2) NOT NULL,
	[REQCRIMINAL_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_CRIMINAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[REQCRIMINAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_EDUCATION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_EDUCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[REQEDUCATION_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NULL,
	[FACULTY_CODE] [varchar](10) NULL,
	[MAJOR_CODE] [varchar](10) NULL,
	[QUALIFICATION_CODE] [varchar](10) NULL,
	[REQEDUCATION_GPA] [varchar](20) NULL,
	[REQEDUCATION_START] [datetime] NOT NULL,
	[REQEDUCATION_FINISH] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[REQEDUCATION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[PASSPORT_NO] [varchar](20) NOT NULL,
	[PASSPORT_ISSUE] [datetime] NOT NULL,
	[PASSPORT_EXPIRE] [datetime] NOT NULL,
	[VISA_NO] [varchar](20) NOT NULL,
	[VISA_ISSUE] [datetime] NOT NULL,
	[VISA_EXPIRE] [datetime] NOT NULL,
	[WORKPERMIT_NO] [varchar](20) NOT NULL,
	[WORKPERMIT_BY] [varchar](200) NOT NULL,
	[WORKPERMIT_ISSUE] [datetime] NOT NULL,
	[WORKPERMIT_EXPIRE] [datetime] NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[CERTIFICATE_NO] [varchar](20) NOT NULL,
	[CERTIFICATE_EXPIRE] [datetime] NOT NULL,
	[OTHERDOC_NO] [varchar](20) NOT NULL,
	[OTHERDOC_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_TRAINING]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_TRAINING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[REQTRAINING_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](20) NULL,
	[COURSE_CODE] [varchar](20) NULL,
	[INSTITUTE_OTHER] [varchar](500) NULL,
	[COURSE_OTHER] [varchar](500) NULL,
	[REQTRAINING_START] [datetime] NOT NULL,
	[REQTRAINING_FINISH] [datetime] NOT NULL,
	[REQTRAINING_STATUS] [char](1) NULL,
	[REQTRAINING_HOURS] [decimal](5, 2) NULL,
	[REQTRAINING_COST] [decimal](10, 2) NULL,
	[REQTRAINING_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[REQTRAINING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ADDRESSTYPE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ADDRESSTYPE](
	[ADDRESSTYPE_ID] [int] NOT NULL,
	[ADDRESSTYPE_CODE] [varchar](5) NOT NULL,
	[ADDRESSTYPE_NAME_TH] [varchar](200) NOT NULL,
	[ADDRESSTYPE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_ADDRESSTYPE] PRIMARY KEY CLUSTERED 
(
	[ADDRESSTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BANK](
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](5) NOT NULL,
	[BANK_NAME_TH] [varchar](100) NOT NULL,
	[BANK_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BANK] PRIMARY KEY CLUSTERED 
(
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BLOODTYPE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BLOODTYPE](
	[BLOODTYPE_ID] [int] NOT NULL,
	[BLOODTYPE_CODE] [varchar](5) NOT NULL,
	[BLOODTYPE_NAME_TH] [varchar](100) NOT NULL,
	[BLOODTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BLOODTYPE] PRIMARY KEY CLUSTERED 
(
	[BLOODTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CARDTYPE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CARDTYPE](
	[CARDTYPE_ID] [int] NOT NULL,
	[CARDTYPE_CODE] [varchar](5) NOT NULL,
	[CARDTYPE_NAME_TH] [varchar](100) NOT NULL,
	[CARDTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_CARDTYPE] PRIMARY KEY CLUSTERED 
(
	[CARDTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CCOURSE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CCOURSE](
	[COURSE_ID] [int] NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[COURSE_NAME_TH] [varchar](200) NOT NULL,
	[COURSE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_CCOURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CODESTRUCTURE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CODESTRUCTURE](
	[CODESTRUCTURE_CODE] [varchar](5) NOT NULL,
	[CODESTRUCTURE_NAME_TH] [varchar](100) NOT NULL,
	[CODESTRUCTURE_NAME_EN] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SYS_MT_CODESTRUCTURE] PRIMARY KEY CLUSTERED 
(
	[CODESTRUCTURE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMADDLOCATION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMADDLOCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMLOCATION_CODE] [varchar](5) NOT NULL,
	[COMADDRESS_TYPE] [char](1) NOT NULL,
	[COMADDLOCATIONTH_NO] [varchar](30) NULL,
	[COMADDLOCATIONEN_NO] [varchar](30) NULL,
	[COMADDLOCATIONTH_MOO] [varchar](30) NULL,
	[COMADDLOCATIONEN_MOO] [varchar](30) NULL,
	[COMADDLOCATIONTH_SOI] [varchar](100) NULL,
	[COMADDLOCATIONEN_SOI] [varchar](100) NULL,
	[COMADDLOCATIONTH_ROAD] [varchar](100) NULL,
	[COMADDLOCATIONEN_ROAD] [varchar](100) NULL,
	[COMADDLOCATIONTH_TAMBON] [varchar](100) NULL,
	[COMADDLOCATIONEN_TAMBON] [varchar](100) NULL,
	[COMADDLOCATIONTH_AMPHUR] [varchar](100) NULL,
	[COMADDLOCATIONEN_AMPHUR] [varchar](100) NULL,
	[PROVINCETH_CODE] [varchar](30) NULL,
	[PROVINCEEN_CODE] [varchar](30) NULL,
	[COMADDLOCATION_ZIPCODE] [varchar](30) NULL,
	[COMADDLOCATION_TEL] [varchar](30) NULL,
	[COMADDLOCATION_EMAIL] [varchar](50) NULL,
	[COMADDLOCATION_LINE] [varchar](50) NULL,
	[COMADDLOCATION_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMADDLOCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMADDRESS_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMADDRESS]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMBRANCH_CODE] [varchar](5) NOT NULL,
	[COMADDRESS_TYPE] [char](1) NOT NULL,
	[COMADDRESSTH_NO] [varchar](30) NULL,
	[COMADDRESSEN_NO] [varchar](30) NULL,
	[COMADDRESSTH_MOO] [varchar](30) NULL,
	[COMADDRESSEN_MOO] [varchar](30) NULL,
	[COMADDRESSTH_SOI] [varchar](100) NULL,
	[COMADDRESSEN_SOI] [varchar](100) NULL,
	[COMADDRESSTH_ROAD] [varchar](100) NULL,
	[COMADDRESSEN_ROAD] [varchar](100) NULL,
	[COMADDRESSTH_TAMBON] [varchar](100) NULL,
	[COMADDRESSEN_TAMBON] [varchar](100) NULL,
	[COMADDRESSTH_AMPHUR] [varchar](100) NULL,
	[COMADDRESSEN_AMPHUR] [varchar](100) NULL,
	[PROVINCETH_CODE] [varchar](30) NULL,
	[PROVINCEEN_CODE] [varchar](30) NULL,
	[COMADDRESS_ZIPCODE] [varchar](30) NULL,
	[COMADDRESS_TEL] [varchar](30) NULL,
	[COMADDRESS_EMAIL] [varchar](50) NULL,
	[COMADDRESS_LINE] [varchar](50) NULL,
	[COMADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMBRANCH_CODE] ASC,
	[COMADDRESS_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBANkK]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMBANkK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMBANK_ID] [int] NOT NULL,
	[COMBANK_BANKCODE] [varchar](20) NOT NULL,
	[COMBANK_BANKACCOUNT] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMBANKk] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMBANK_BANKACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBRANCH]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMBRANCH](
	[COMBRANCH_ID] [int] NOT NULL,
	[SSO_BRANCH_NO] [varchar](10) NOT NULL,
	[COMBRANCH_CODE] [varchar](10) NOT NULL,
	[COMBRANCH_NAME_TH] [varchar](200) NOT NULL,
	[COMBRANCH_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMBRANCH] PRIMARY KEY CLUSTERED 
(
	[COMBRANCH_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMCARD]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMCARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMBRANCH_CODE] [varchar](5) NOT NULL,
	[COMCARD_ID] [int] NOT NULL,
	[COMCARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[COMCARD_ISSUE] [datetime] NOT NULL,
	[COMCARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMCARD] PRIMARY KEY CLUSTERED 
(
	[COMCARD_CODE] ASC,
	[COMPANY_CODE] ASC,
	[COMBRANCH_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMLOCATION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMLOCATION](
	[COMLOCATION_ID] [int] NOT NULL,
	[COMLOCATION_CODE] [varchar](10) NOT NULL,
	[COMLOCATION_NAME_TH] [varchar](200) NOT NULL,
	[COMLOCATION_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMLOCATION] PRIMARY KEY CLUSTERED 
(
	[COMLOCATION_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMPANYS]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMPANYS](
	[COMPANY_ID] [int] NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMPANY_INITIALS] [varchar](200) NOT NULL,
	[COMPANY_NAME_TH] [varchar](200) NOT NULL,
	[COMPANY_NAME_EN] [varchar](200) NOT NULL,
	[SSO_TAX_NO] [varchar](20) NULL,
	[CITIZEN_NO] [varchar](20) NULL,
	[PROVIDENT_FUND_NO] [varchar](20) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[SSO_MIN_AGE] [int] NULL,
	[SSO_MAX_AGE] [int] NULL,
	[SSO_SECURITY_NO] [varchar](20) NULL,
	[SSO_BRANCH_NO] [varchar](20) NULL,
	[SSO_COM_RATE] [decimal](10, 2) NULL,
	[SSO_EMP_RATE] [decimal](10, 2) NULL,
	[SSO_MIN_WAGE] [decimal](10, 2) NULL,
	[SSO_MAX_WAGE] [decimal](10, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMPANYS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COURSE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COURSE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[COURSE_NAME_TH] [varchar](200) NOT NULL,
	[COURSE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_EMPID]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_EMPID](
	[EMPID_ID] [int] NOT NULL,
	[EMPID_CODE] [varchar](5) NOT NULL,
	[EMPID_NAME_TH] [varchar](200) NOT NULL,
	[EMPID_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_EMPID] PRIMARY KEY CLUSTERED 
(
	[EMPID_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ETHNICITY]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ETHNICITY](
	[ETHNICITY_ID] [int] NOT NULL,
	[ETHNICITY_CODE] [varchar](5) NOT NULL,
	[ETHNICITY_NAME_TH] [varchar](100) NOT NULL,
	[ETHNICITY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ETHNICITY] PRIMARY KEY CLUSTERED 
(
	[ETHNICITY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FACULTY]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FACULTY](
	[FACULTY_ID] [int] NOT NULL,
	[FACULTY_CODE] [varchar](10) NOT NULL,
	[FACULTY_NAME_TH] [varchar](200) NOT NULL,
	[FACULTY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_FACULTY] PRIMARY KEY CLUSTERED 
(
	[FACULTY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FAMILY]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FAMILY](
	[FAMILY_ID] [int] NOT NULL,
	[FAMILY_CODE] [varchar](5) NOT NULL,
	[FAMILY_NAME_TH] [varchar](100) NOT NULL,
	[FAMILY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_FAMILY] PRIMARY KEY CLUSTERED 
(
	[FAMILY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_HOSPITAL](
	[HOSPITAL_ID] [int] NOT NULL,
	[HOSPITAL_CODE] [varchar](5) NOT NULL,
	[HOSPITAL_NAME_TH] [varchar](100) NOT NULL,
	[HOSPITAL_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_INSTITUTE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_INSTITUTE](
	[INSTITUTE_ID] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NOT NULL,
	[INSTITUTE_NAME_TH] [varchar](200) NOT NULL,
	[INSTITUTE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_INSTITUTE] PRIMARY KEY CLUSTERED 
(
	[INSTITUTE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_LEVEL]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_LEVEL](
	[LEVEL_ID] [int] NOT NULL,
	[LEVEL_CODE] [char](2) NOT NULL,
	[LEVEL_NAME_TH] [varchar](200) NOT NULL,
	[LEVEL_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_LEVEL] PRIMARY KEY CLUSTERED 
(
	[LEVEL_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_LOCATION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_LOCATION](
	[LOCATION_ID] [int] NOT NULL,
	[LOCATION_CODE] [varchar](5) NOT NULL,
	[LOCATION_NAME_TH] [varchar](100) NOT NULL,
	[LOCATION_NAME_EN] [varchar](100) NOT NULL,
	[LOCATION_DETAIL] [varchar](500) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_MAJORR]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_MAJORR](
	[MAJOR_ID] [int] NOT NULL,
	[MAJOR_CODE] [varchar](10) NOT NULL,
	[MAJOR_NAME_TH] [varchar](200) NOT NULL,
	[MAJOR_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_MAJORR] PRIMARY KEY CLUSTERED 
(
	[MAJOR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_POLCODE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_POLCODE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[POLCODE_ID] [int] NOT NULL,
	[POLCODE_TYPE] [varchar](3) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_POLCODE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[POLCODE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_PROVINCE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_PROVINCE](
	[PROVINCE_ID] [int] NOT NULL,
	[PROVINCE_CODE] [varchar](5) NOT NULL,
	[PROVINCE_NAME_TH] [varchar](200) NOT NULL,
	[PROVINCE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_QUALIFICATION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_QUALIFICATION](
	[QUALIFICATION_ID] [int] NOT NULL,
	[QUALIFICATION_CODE] [varchar](10) NOT NULL,
	[QUALIFICATION_NAME_TH] [varchar](200) NOT NULL,
	[QUALIFICATION_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_QUALIFICATION] PRIMARY KEY CLUSTERED 
(
	[QUALIFICATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REASON]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REASON](
	[REASON_ID] [int] NOT NULL,
	[REASON_CODE] [varchar](5) NOT NULL,
	[REASON_NAME_TH] [varchar](100) NOT NULL,
	[REASON_NAME_EN] [varchar](100) NOT NULL,
	[REASON_GROUP] [varchar](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REASON] PRIMARY KEY CLUSTERED 
(
	[REASON_CODE] ASC,
	[REASON_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REDUCE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REDUCE](
	[REDUCE_ID] [int] NOT NULL,
	[REDUCE_CODE] [varchar](5) NOT NULL,
	[REDUCE_NAME_TH] [varchar](100) NOT NULL,
	[REDUCE_NAME_EN] [varchar](100) NOT NULL,
	[REDUCE_AMOUNT] [decimal](12, 2) NOT NULL,
	[REDUCE_PERCENT] [decimal](6, 2) NOT NULL,
	[REDUCE_PERCENT_MAX] [decimal](12, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REDUCE] PRIMARY KEY CLUSTERED 
(
	[REDUCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_RELIGION]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_RELIGION](
	[RELIGION_ID] [int] NOT NULL,
	[RELIGION_CODE] [varchar](5) NOT NULL,
	[RELIGION_NAME_TH] [varchar](100) NOT NULL,
	[RELIGION_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_RELIGION] PRIMARY KEY CLUSTERED 
(
	[RELIGION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ROUND]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ROUND](
	[ROUND_ID] [int] NOT NULL,
	[ROUND_CODE] [varchar](5) NOT NULL,
	[ROUND_NAME_TH] [varchar](100) NOT NULL,
	[ROUND_NAME_EN] [varchar](100) NOT NULL,
	[ROUND_GROUP] [char](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ROUND] PRIMARY KEY CLUSTERED 
(
	[ROUND_CODE] ASC,
	[ROUND_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ROUNDS]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ROUNDS](
	[ROUNDS_ID] [int] NOT NULL,
	[ROUNDS_CODE] [varchar](5) NOT NULL,
	[ROUNDS_NAME_TH] [varchar](100) NOT NULL,
	[ROUNDS_NAME_EN] [varchar](100) NOT NULL,
	[ROUNDS_GROUP] [char](10) NOT NULL,
	[ROUNDS_FROM] [decimal](10, 3) NOT NULL,
	[ROUNDS_TO] [decimal](10, 3) NOT NULL,
	[ROUNDS_RESULT] [decimal](10, 3) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ROUNDS] PRIMARY KEY CLUSTERED 
(
	[ROUNDS_CODE] ASC,
	[ROUNDS_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_POLCODE]    Script Date: 12/04/2023 15:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_POLCODE](
	[POLCODE_ID] [int] NOT NULL,
	[CODESTRUCTURE_CODE] [varchar](4) NOT NULL,
	[POLCODE_LENGHT] [int] NOT NULL,
	[POLCODE_TEXT] [varchar](10) NULL,
	[POLCODE_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_SYS_TR_POLCODE] PRIMARY KEY CLUSTERED 
(
	[POLCODE_ID] ASC,
	[CODESTRUCTURE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMP_MT_DEP] ([DEP_ID], [DEP_CODE], [DEP_NAME_TH], [DEP_NAME_EN], [DEP_PARENT], [DEP_LEVEL], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'AB', N'AAA', N'BBB', N' ', N'01', N'OPR', N'Not login', CAST(N'2023-01-27T09:25:28.157' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_GROUP] ([GROUP_ID], [GROUP_CODE], [GROUP_NAME_TH], [GROUP_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'GRB00', N'GGG', N'GGG', N'OPR', N'Not login', CAST(N'2023-01-27T09:26:35.920' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'003', N'นาย', N'Mr.', N'TEST', CAST(N'2023-02-01T13:44:49.600' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'004', N'น.ส.', N'Miss', N'TEST', CAST(N'2023-02-01T13:44:49.603' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'005', N'นาง', N'Mrs.', N'TEST', CAST(N'2023-02-01T13:44:49.603' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_LOCATION] ([LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'00000', N'สำนักงานใหญ่', N'Center', N'952 รามาแลนด์ ชั้นที่ 11 ถนนพระรามสี่ แขวงสุริยวงศ์ เขตบางรัก จังหวัดกรุงเทพฯ 10500', N'TEST', CAST(N'2023-02-16T10:27:54.693' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_LOCATION] ([LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'00001', N'สาขาชลบุรี', N'Chonburi', N'88 หมู่.5 ตำบลเหมือง อำเมืองชลบุรี จังหวัดชลบุรี 20130', N'TEST', CAST(N'2023-02-16T10:27:54.697' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_POSITION] ([POSITION_ID], [POSITION_CODE], [POSITION_NAME_TH], [POSITION_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'002', N'ผู้จัดการ IT', N'manager IT', N'OPR', N'TEST', CAST(N'2023-02-28T09:19:02.230' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_POSITION] ([POSITION_ID], [POSITION_CODE], [POSITION_NAME_TH], [POSITION_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'005', N'เจ้าหน้าที่การเงิน', N'เจ้าหน้าที่การเงิน', N'OPR', N'TEST', CAST(N'2023-02-28T09:19:02.233' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_POSITION] ([POSITION_ID], [POSITION_CODE], [POSITION_NAME_TH], [POSITION_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'AC-AM', N'ผู้ช่วยผู้จัดการฝ่ายบัญชี', N'Accounting Assistant Manager', N'OPR', N'TEST', CAST(N'2023-02-28T09:19:02.233' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'A', N'สัญญาจ้าง', N'สัญญาจ้าง', N'TEST', CAST(N'2023-02-01T15:01:13.710' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'D', N'ฝึกงาน', N'ฝึกงาน', N'TEST', CAST(N'2023-02-01T15:01:13.713' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'F', N'ประจำ', N'ประจำ', N'TEST', CAST(N'2023-02-01T15:01:13.713' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'A', N'ทั้งหมด', N'All', N'TEST', CAST(N'2023-02-01T15:02:27.203' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'D', N'รายวัน', N'Daily', N'TEST', CAST(N'2023-02-01T15:02:27.203' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'M', N'รายเดือน', N'Monthly', N'TEST', CAST(N'2023-02-01T15:02:27.207' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', 3, N'001', N'200', N'', N'test', N'test', N'test', N'test', N'3', N'12020', N'0900000000', N'', N'', N'', N'Not login', CAST(N'2023-03-21T17:44:58.460' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 2, N'', N'1234', N'', N'1234', N'1234', N'1234', N'1234', N'5', N'12345', N'09999293', N'www@wwww.com', N'dds', N'waa', N'Not login', CAST(N'2023-03-02T13:23:22.820' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_ASSESSMENT] ([COMPANY_CODE], [WORKER_CODE], [EMPASSESSMENT_ID], [EMPASSESSMENT_LOCATION], [EMPASSESSMENT_TOPIC], [EMPASSESSMENT_FROMDATE], [EMPASSESSMENT_TODATE], [EMPASSESSMENT_COUNT], [EMPASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'00001', N'00001', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'Not login', CAST(N'2023-03-02T13:23:22.823' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_BANK] ([COMPANY_CODE], [WORKER_CODE], [BANK_ID], [BANK_CODE], [BANK_ACCOUNT], [BANK_PERCENT], [BANK_CASHPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG], [BANK_BANKNAME]) VALUES (N'OPR', N'EMP01', 1, N'002', N'8600285277', CAST(100.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-03-21T17:44:59.527' AS DateTime), NULL, NULL, 1, N'')
GO
INSERT [dbo].[EMP_TR_CARD] ([COMPANY_CODE], [WORKER_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', 1, N'999999999', N'NID', CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-21T17:44:59.197' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_EDUCATION] ([COMPANY_CODE], [WORKER_CODE], [EMPEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [EMPEDUCATION_GPA], [EMPEDUCATION_START], [EMPEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'0003', N'0003', N'0003', N'0003', N'3', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-02T13:23:22.860' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_FAMILY] ([COMPANY_CODE], [WORKER_CODE], [FAMILY_ID], [FAMILY_CODE], [FAMILY_TYPE], [FAMILY_FNAME_TH], [FAMILY_LNAME_TH], [FAMILY_FNAME_EN], [FAMILY_LNAME_EN], [FAMILY_BIRTHDATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'12345678900', N'01', N'สา', N'สา', N'Sa', N'Sa', CAST(N'2010-01-01T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-02T13:23:22.820' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_HOSPITAL] ([COMPANY_CODE], [WORKER_CODE], [EMPHOSPITAL_ID], [EMPHOSPITAL_CODE], [EMPHOSPITAL_DATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'11565', CAST(N'2023-02-01T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-02T13:23:22.823' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_POSITION] ([COMPANY_CODE], [WORKER_CODE], [EMPPOSITION_ID], [EMPPOSITION_DATE], [EMPPOSITION_POSITION], [EMPPOSITION_REASON], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, CAST(N'2023-02-01T00:00:00.000' AS DateTime), N'005', N'', N'Not login', CAST(N'2023-03-02T13:23:22.820' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_PROVIDENT] ([COMPANY_CODE], [WORKER_CODE], [PROVIDENT_CODE], [EMPPROVIDENT_CARD], [EMPPROVIDENT_ENTRY], [EMPPROVIDENT_START], [EMPPROVIDENT_END], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', N'111', N'202022', CAST(N'2023-03-01T00:00:00.000' AS DateTime), CAST(N'2023-03-01T00:00:00.000' AS DateTime), CAST(N'2023-03-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-02T13:23:22.853' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_REDUCE] ([COMPANY_CODE], [WORKER_CODE], [EMPREDUCE_ID], [REDUCE_TYPE], [EMPREDUCE_AMOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'112', CAST(123332.00 AS Decimal(10, 2)), N'Not login', CAST(N'2023-03-02T13:23:22.880' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_SALARY] ([COMPANY_CODE], [WORKER_CODE], [EMPSALARY_ID], [EMPSALARY_AMOUNT], [EMPSALARY_DATE], [EMPSALARY_REASON], [EMPSALARY_INCAMOUNT], [EMPSALARY_INCPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, CAST(30000.00 AS Decimal(10, 2)), CAST(N'2023-03-29T00:00:00.000' AS DateTime), N'003', CAST(1000.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-03-02T13:23:22.850' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_ASSESSMENT] ([COMPANY_CODE], [APPLYWORK_CODE], [REQASSESSMENT_ID], [REQASSESSMENT_LOCATION], [REQASSESSMENT_TOPIC], [REQASSESSMENT_FROMDATE], [REQASSESSMENT_TODATE], [REQASSESSMENT_COUNT], [REQASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'009', 1, N'8999', N'1', CAST(N'2023-03-27T00:00:00.000' AS DateTime), CAST(N'2023-03-29T00:00:00.000' AS DateTime), CAST(5.00 AS Decimal(5, 2)), N' ', N'Not login', CAST(N'2023-03-22T17:33:40.713' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_CARD] ([COMPANY_CODE], [APPLYWORK_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 1, N'12', N'02', CAST(N'2023-03-20T00:00:00.000' AS DateTime), CAST(N'2023-03-29T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-17T14:22:57.393' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_CARD] ([COMPANY_CODE], [APPLYWORK_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'009', 2, N'55', N'02', CAST(N'2023-03-26T00:00:00.000' AS DateTime), CAST(N'2023-03-28T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-22T17:33:40.767' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_CRIMINAL] ([COMPANY_CODE], [APPLYWORK_CODE], [REQCRIMINAL_ID], [REQCRIMINAL_LOCATION], [REQCRIMINAL_FROMDATE], [REQCRIMINAL_TODATE], [REQCRIMINAL_COUNT], [REQCRIMINAL_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'009', 1, N'8999', CAST(N'2023-03-05T00:00:00.000' AS DateTime), CAST(N'2023-03-28T00:00:00.000' AS DateTime), CAST(5.00 AS Decimal(5, 2)), N' ', N'Not login', CAST(N'2023-03-22T17:33:39.840' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_EDUCATION] ([COMPANY_CODE], [APPLYWORK_CODE], [REQEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [REQEDUCATION_GPA], [REQEDUCATION_START], [REQEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 1, N'8999', N'1234', N'123', N'321', N'4', CAST(N'2023-03-27T00:00:00.000' AS DateTime), CAST(N'2023-03-29T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-21T16:40:28.353' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_EDUCATION] ([COMPANY_CODE], [APPLYWORK_CODE], [REQEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [REQEDUCATION_GPA], [REQEDUCATION_START], [REQEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'009', 2, N'1', N'1234', N'123', N'321', N'1', CAST(N'2023-03-22T00:00:00.000' AS DateTime), CAST(N'2023-03-23T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-22T17:33:41.200' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_ADDRESSTYPE] ([ADDRESSTYPE_ID], [ADDRESSTYPE_CODE], [ADDRESSTYPE_NAME_TH], [ADDRESSTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'ที่อยู่ ', N'Address', N'Not login', CAST(N'2023-03-27T13:45:00.800' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'BKK', N'กรุงเทพ', N'Bangkoka
', N'Not login', CAST(N'2023-01-11T15:02:28.980' AS DateTime), N'Not login', CAST(N'2023-02-23T16:58:49.450' AS DateTime), 1)
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'KTB', N'กรุงไทย
', N'KTB
', N'Not login', CAST(N'2023-01-11T15:02:42.530' AS DateTime), N'Not login', CAST(N'2023-02-24T15:40:44.390' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_BLOODTYPE] ([BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'2', N'a', N'a', N'Not login', CAST(N'2023-03-15T14:08:29.020' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'CID', N'เลขที่ประจำตัวนิติบุคคล	', N'Citizen ID', N'Not login', CAST(N'2023-03-20T20:48:50.837' AS DateTime), N'Not login', CAST(N'2023-03-20T20:48:50.837' AS DateTime), 1)
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'NTID', N'บัตรประชาชน', N'National ID', N'Not login', CAST(N'2023-03-20T20:49:12.223' AS DateTime), N'Not login', CAST(N'2023-03-20T20:49:12.223' AS DateTime), 1)
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'PAS', N'Passport 
', N'Passport ', N'Not login', CAST(N'2023-03-20T20:49:30.110' AS DateTime), N'Not login', CAST(N'2023-03-20T20:49:30.110' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_CCOURSE] ([COURSE_ID], [COURSE_CODE], [COURSE_NAME_TH], [COURSE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1231', N'Course', N'Course', N'Not login', CAST(N'2023-03-20T16:14:46.857' AS DateTime), N'Not login', CAST(N'2023-03-20T20:27:38.683' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_COMBANkK] ([COMPANY_CODE], [COMBANK_ID], [COMBANK_BANKCODE], [COMBANK_BANKACCOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'BKK', N'11111', N'1', CAST(N'2011-11-11T00:00:00.000' AS DateTime), NULL, CAST(N'2011-11-11T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_COMBRANCH] ([COMBRANCH_ID], [SSO_BRANCH_NO], [COMBRANCH_CODE], [COMBRANCH_NAME_TH], [COMBRANCH_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'000001', N'OPR01', N'สำนักงานใหญ่', N'Head Office', N'', N'Not login', CAST(N'2023-03-30T10:10:16.903' AS DateTime), N'Not login', CAST(N'2023-03-31T17:13:51.127' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_COMCARD] ([COMPANY_CODE], [COMBRANCH_CODE], [COMCARD_ID], [COMCARD_CODE], [CARD_TYPE], [COMCARD_ISSUE], [COMCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR01', 3, N'1', N'CID', CAST(N'2023-03-27T00:00:00.000' AS DateTime), CAST(N'2023-03-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-30T17:12:04.147' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_COMCARD] ([COMPANY_CODE], [COMBRANCH_CODE], [COMCARD_ID], [COMCARD_CODE], [CARD_TYPE], [COMCARD_ISSUE], [COMCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 1, N'12345', N'CID', CAST(N'2023-03-28T00:00:00.000' AS DateTime), CAST(N'2023-03-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-29T11:55:49.093' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_COMCARD] ([COMPANY_CODE], [COMBRANCH_CODE], [COMCARD_ID], [COMCARD_CODE], [CARD_TYPE], [COMCARD_ISSUE], [COMCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'001', 2, N'4', N'CID', CAST(N'2023-03-28T00:00:00.000' AS DateTime), CAST(N'2023-03-30T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-29T16:28:45.583' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_COMLOCATION] ([COMLOCATION_ID], [COMLOCATION_CODE], [COMLOCATION_NAME_TH], [COMLOCATION_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'2', N'ชื่อสาขา
', N'Test', N'', N'Not login', CAST(N'2023-04-03T13:00:54.863' AS DateTime), N'Not login', CAST(N'2023-04-03T15:02:08.397' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_ETHNICITY] ([ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'34', N'ไทย', N'thai', N'Not login', CAST(N'2023-01-16T11:59:53.737' AS DateTime), N'Not login', CAST(N'2023-02-24T16:11:01.580' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_FACULTY] ([FACULTY_ID], [FACULTY_CODE], [FACULTY_NAME_TH], [FACULTY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1234', N'Faculty', N'Faculty', N'Not login', CAST(N'2023-03-20T20:17:26.347' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'พี่สาว', N' Older sis', N'Not login', CAST(N'2023-02-10T11:28:51.363' AS DateTime), N'Not login', CAST(N'2023-03-07T15:09:13.377' AS DateTime), 1)
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'03', N'มารดา', N'Mother', N'Not login', CAST(N'2023-03-20T20:50:05.217' AS DateTime), N'Not login', CAST(N'2023-03-20T20:50:05.217' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_HOSPITAL] ([HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'โรงพยาบาล', N'
Hospital', N'Not login', CAST(N'2023-02-24T14:22:12.457' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_INSTITUTE] ([INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'8999', N'thai', N'thai', N'Not login', CAST(N'2023-03-20T20:06:59.150' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_LEVEL] ([LEVEL_ID], [LEVEL_CODE], [LEVEL_NAME_TH], [LEVEL_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'แผนก', N'Department', N'gg', N'Not login', CAST(N'2023-02-10T11:26:23.577' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_LOCATION] ([LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'0000', N'สำนักงานใหญ่', N'CENTER', N'952 อาคารรามาแลนด์ ชั้นที่ 11 ถนนพระรามสี่ แขวงสุริยวงศ์ 
เขตบางรัก จังหวัดกรุงเทพฯ 10500 
', N'Not login', CAST(N'2023-02-10T11:42:12.807' AS DateTime), N'Not login', CAST(N'2023-02-10T12:00:33.237' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_MAJORR] ([MAJOR_ID], [MAJOR_CODE], [MAJOR_NAME_TH], [MAJOR_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'123', N'Major', N'Major', N'Not login', CAST(N'2023-03-20T20:27:23.433' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_PROVINCE] ([PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'10', N'กรุงเทพมกห', N'Bangkok', N'Not login', CAST(N'2023-02-10T11:31:09.907' AS DateTime), N'Not login', CAST(N'2023-02-24T16:37:15.670' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_QUALIFICATION] ([QUALIFICATION_ID], [QUALIFICATION_CODE], [QUALIFICATION_NAME_TH], [QUALIFICATION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'321', N'Qualification', N'Qualification', N'Not login', CAST(N'2023-03-20T20:26:48.577' AS DateTime), N'Not login', CAST(N'2023-03-20T20:26:54.080' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_REASON] ([REASON_ID], [REASON_CODE], [REASON_NAME_TH], [REASON_NAME_EN], [REASON_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'ลาพักร้อน', N'Annual Lea', N'', N'Not login', CAST(N'2023-02-10T11:24:10.860' AS DateTime), N'Not login', CAST(N'2023-02-23T10:54:40.297' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_REDUCE] ([REDUCE_ID], [REDUCE_CODE], [REDUCE_NAME_TH], [REDUCE_NAME_EN], [REDUCE_AMOUNT], [REDUCE_PERCENT], [REDUCE_PERCENT_MAX], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'11', N'ผู้มีเงินได้(60,000บาทหรือ 120,000บาทแล้วแต่กรณี)
', N'Income earners (60,000 baht or 120,000 baht depending on the case)', CAST(60000.00 AS Decimal(12, 2)), CAST(11.00 AS Decimal(6, 2)), CAST(1.00 AS Decimal(12, 2)), N'Not login', CAST(N'2023-01-19T10:11:03.197' AS DateTime), N'Not login', CAST(N'2023-02-24T16:38:47.713' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_RELIGION] ([RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'ศาสนาพุทธ', N'Buddhist', N'Not login', CAST(N'2023-01-15T00:35:09.793' AS DateTime), N'Not login', CAST(N'2023-02-24T16:05:24.383' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_ROUNDS] ([ROUNDS_ID], [ROUNDS_CODE], [ROUNDS_NAME_TH], [ROUNDS_NAME_EN], [ROUNDS_GROUP], [ROUNDS_FROM], [ROUNDS_TO], [ROUNDS_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'LT', N'ปัดเศษเวลาสาย', N'Round Late', N'Time      ', CAST(1.000 AS Decimal(10, 3)), CAST(30.000 AS Decimal(10, 3)), CAST(0.000 AS Decimal(10, 3)), N'Not login', CAST(N'2023-04-06T17:49:15.770' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_ROUNDS] ([ROUNDS_ID], [ROUNDS_CODE], [ROUNDS_NAME_TH], [ROUNDS_NAME_EN], [ROUNDS_GROUP], [ROUNDS_FROM], [ROUNDS_TO], [ROUNDS_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'STD', N'มาตรฐาน', N'Standart', N'Currency  ', CAST(0.010 AS Decimal(10, 3)), CAST(0.494 AS Decimal(10, 3)), CAST(0.000 AS Decimal(10, 3)), N'Not login', CAST(N'2023-04-06T17:07:26.650' AS DateTime), N'Not login', CAST(N'2023-04-06T17:09:03.910' AS DateTime), 0)
GO
