USE [OPR]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 11/09/2023 14:16:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_FOREIGNER]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_FOREIGNER]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNER]    Script Date: 11/09/2023 14:16:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_FOREIGNER]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_FOREIGNER]
GO
/****** Object:  Table [dbo].[EMP_MT_TYPE]    Script Date: 11/09/2023 14:16:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_TYPE]
GO
/****** Object:  Table [dbo].[EMP_MT_STATUS]    Script Date: 11/09/2023 14:16:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_STATUS]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_STATUS]
GO
/****** Object:  Table [dbo].[EMP_MT_INITIAL]    Script Date: 11/09/2023 14:16:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_INITIAL]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_INITIAL]
GO
/****** Object:  Table [dbo].[EMP_MT_INITIAL]    Script Date: 11/09/2023 14:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_INITIAL](
	[INITIAL_ID] [int] NOT NULL,
	[INITIAL_CODE] [char](3) NOT NULL,
	[INITIAL_NAME_TH] [varchar](200) NOT NULL,
	[INITIAL_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_INITIAL] PRIMARY KEY CLUSTERED 
(
	[INITIAL_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_STATUS]    Script Date: 11/09/2023 14:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_STATUS](
	[STATUS_ID] [int] NOT NULL,
	[STATUS_CODE] [varchar](10) NOT NULL,
	[STATUS_NAME_TH] [varchar](200) NOT NULL,
	[STATUS_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUS_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_TYPE]    Script Date: 11/09/2023 14:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_TYPE](
	[TYPE_ID] [int] NOT NULL,
	[TYPE_CODE] [varchar](10) NOT NULL,
	[TYPE_NAME_TH] [varchar](200) NOT NULL,
	[TYPE_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNER]    Script Date: 11/09/2023 14:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[FOREIGNER_TYPE] [varchar](5) NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[SENT_SSO] [bit] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 11/09/2023 14:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[FOREIGNER_TYPE] [varchar](5) NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[SENT_SSO] [bit] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'003', N'นาย', N'Mr.', N'OPR', N'TEST', CAST(N'2023-09-11T11:44:38.807' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'004', N'น.ส.', N'Miss', N'OPR', N'TEST', CAST(N'2023-09-11T11:44:38.827' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'005', N'นาง', N'Mrs.', N'OPR', N'TEST', CAST(N'2023-09-11T11:44:38.843' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'D', N'ฝึกงาน', N'ฝึกงาน', N'OPR', N'TEST', CAST(N'2023-09-11T13:49:41.560' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'F', N'ประจำ', N'ประจำ', N'OPR', N'TEST', CAST(N'2023-09-11T13:49:41.573' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'M', N'รายเหมา', N'รายเหมา', N'OPR', N'TEST', CAST(N'2023-09-11T13:49:41.587' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'A', N'ทั้งหมด', N'All', N'OPR', N'TEST', CAST(N'2023-09-11T13:46:32.397' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'D', N'รายวัน', N'Daily', N'OPR', N'TEST', CAST(N'2023-09-11T13:46:32.417' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'M', N'รายเดือน', N'Monthly', N'OPR', N'TEST', CAST(N'2023-09-11T13:46:32.437' AS DateTime), NULL, NULL, 1)
GO
