USE [OPR]
GO
/****** Object:  Table [dbo].[EMP_TR_TRANFER]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_TRANFER]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_TRANFER]
GO
/****** Object:  Table [dbo].[EMP_TR_TRAINING]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_TRAINING]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_TRAINING]
GO
/****** Object:  Table [dbo].[EMP_TR_SALARY]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_SALARY]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_SALARY]
GO
/****** Object:  Table [dbo].[EMP_TR_REDUCE]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_REDUCE]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_REDUCE]
GO
/****** Object:  Table [dbo].[EMP_TR_PROVIDENT]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_PROVIDENT]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_PROVIDENT]
GO
/****** Object:  Table [dbo].[EMP_TR_POSITION]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_POSITION]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_POSITION]
GO
/****** Object:  Table [dbo].[EMP_TR_HOSPITAL]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_HOSPITAL]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_HOSPITAL]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNER]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_FOREIGNER]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_FOREIGNER]
GO
/****** Object:  Table [dbo].[EMP_TR_FAMILY]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_FAMILY]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_FAMILY]
GO
/****** Object:  Table [dbo].[EMP_TR_EDUCATION]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_EDUCATION]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_EDUCATION]
GO
/****** Object:  Table [dbo].[EMP_TR_DEP]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_DEP]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_DEP]
GO
/****** Object:  Table [dbo].[EMP_TR_CRIMINAL]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_CRIMINAL]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_CRIMINAL]
GO
/****** Object:  Table [dbo].[EMP_TR_CARD]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_CARD]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_CARD]
GO
/****** Object:  Table [dbo].[EMP_TR_BENEFIT]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_BENEFIT]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_BENEFIT]
GO
/****** Object:  Table [dbo].[EMP_TR_BANK]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_BANK]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_BANK]
GO
/****** Object:  Table [dbo].[EMP_TR_ASSESSMENT]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_ASSESSMENT]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_ASSESSMENT]
GO
/****** Object:  Table [dbo].[EMP_TR_ADDRESS]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_ADDRESS]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_ADDRESS]
GO
/****** Object:  Table [dbo].[EMP_TR_ACCUMALATE]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_ACCUMALATE]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_ACCUMALATE]
GO
/****** Object:  Table [dbo].[EMP_MT_WORKER]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_WORKER]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_WORKER]
GO
/****** Object:  Table [dbo].[EMP_MT_TYPE]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_TYPE]
GO
/****** Object:  Table [dbo].[EMP_MT_STATUS]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_STATUS]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_STATUS]
GO
/****** Object:  Table [dbo].[EMP_MT_POSITION]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_POSITION]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_POSITION]
GO
/****** Object:  Table [dbo].[EMP_MT_LOCATION]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_LOCATION]
GO
/****** Object:  Table [dbo].[EMP_MT_INITIAL]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_INITIAL]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_INITIAL]
GO
/****** Object:  Table [dbo].[EMP_MT_GROUP]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_GROUP]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_GROUP]
GO
/****** Object:  Table [dbo].[EMP_MT_DEP]    Script Date: 02/03/2023 11:30:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_MT_DEP]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_MT_DEP]
GO
/****** Object:  Table [dbo].[EMP_MT_DEP]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_DEP](
	[DEP_ID] [int] NOT NULL,
	[DEP_CODE] [varchar](10) NOT NULL,
	[DEP_NAME_TH] [varchar](200) NOT NULL,
	[DEP_NAME_EN] [varchar](200) NOT NULL,
	[DEP_PARENT] [varchar](10) NOT NULL,
	[DEP_LEVEL] [char](2) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_MT_DEP] PRIMARY KEY CLUSTERED 
(
	[DEP_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_GROUP]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_GROUP](
	[GROUP_ID] [int] NOT NULL,
	[GROUP_CODE] [varchar](10) NOT NULL,
	[GROUP_NAME_TH] [varchar](200) NOT NULL,
	[GROUP_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_GROUP] PRIMARY KEY CLUSTERED 
(
	[GROUP_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_INITIAL]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_INITIAL](
	[INITIAL_ID] [int] NOT NULL,
	[INITIAL_CODE] [char](3) NOT NULL,
	[INITIAL_NAME_TH] [varchar](200) NOT NULL,
	[INITIAL_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_INITIAL] PRIMARY KEY CLUSTERED 
(
	[INITIAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_LOCATION]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_LOCATION](
	[LOCATION_ID] [int] NOT NULL,
	[LOCATION_CODE] [varchar](5) NOT NULL,
	[LOCATION_NAME_TH] [varchar](100) NOT NULL,
	[LOCATION_NAME_EN] [varchar](100) NOT NULL,
	[LOCATION_DETAIL] [varchar](500) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_MT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_POSITION]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_POSITION](
	[POSITION_ID] [int] NOT NULL,
	[POSITION_CODE] [varchar](10) NOT NULL,
	[POSITION_NAME_TH] [varchar](200) NOT NULL,
	[POSITION_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_POSITION] PRIMARY KEY CLUSTERED 
(
	[POSITION_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_STATUS]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_STATUS](
	[STATUS_ID] [int] NOT NULL,
	[STATUS_CODE] [varchar](10) NOT NULL,
	[STATUS_NAME_TH] [varchar](200) NOT NULL,
	[STATUS_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_TYPE]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_TYPE](
	[TYPE_ID] [int] NOT NULL,
	[TYPE_CODE] [varchar](10) NOT NULL,
	[TYPE_NAME_TH] [varchar](200) NOT NULL,
	[TYPE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_MT_WORKER]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MT_WORKER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[WORKER_CARD] [varchar](15) NULL,
	[WORKER_INITIAL] [varchar](15) NOT NULL,
	[WORKER_FNAME_TH] [varchar](200) NOT NULL,
	[WORKER_LNAME_TH] [varchar](200) NOT NULL,
	[WORKER_FNAME_EN] [varchar](200) NOT NULL,
	[WORKER_LNAME_EN] [varchar](200) NOT NULL,
	[WORKER_TYPE] [varchar](5) NOT NULL,
	[WORKER_GENDER] [char](1) NOT NULL,
	[WORKER_BIRTHDATE] [datetime] NULL,
	[WORKER_HIREDATE] [datetime] NOT NULL,
	[WORKER_STATUS] [varchar](5) NOT NULL,
	[RELIGION_CODE] [varchar](5) NULL,
	[BLOOD_CODE] [varchar](5) NULL,
	[WORKER_HEIGHT] [decimal](18, 2) NULL,
	[WORKER_WEIGHT] [decimal](18, 2) NULL,
	[WORKER_RESIGNDATE] [datetime] NULL,
	[WORKER_RESIGNSTATUS] [bit] NOT NULL,
	[WORKER_RESIGNREASON] [varchar](5) NULL,
	[WORKER_PROBATIONDATE] [datetime] NULL,
	[WORKER_PROBATIONENDDATE] [datetime] NULL,
	[WORKER_PROBATIONDAY] [decimal](18, 0) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[WORKER_TAXMETHOD] [char](1) NULL,
	[WORKER_PWD] [varchar](100) NULL,
	[SELF_ADMIN] [bit] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_MT_WORKER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_ACCUMALATE]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ACCUMALATE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PERIODYEAR] [varchar](4) NOT NULL,
	[PERIODID] [varchar](2) NOT NULL,
	[PAYDATE] [datetime] NOT NULL,
	[INCOMEFIX] [numeric](18, 2) NULL,
	[INCOMEVAR] [numeric](18, 2) NULL,
	[TAXFIX] [numeric](18, 2) NULL,
	[TAXVAR] [numeric](18, 2) NULL,
	[INCOMEFORTYONE] [numeric](18, 2) NULL,
	[INCOMEFORTYONEPERTHREE] [numeric](18, 2) NULL,
	[INCOMEFORTYONETWO] [numeric](18, 2) NULL,
	[INCOMEFORTYTWOIN] [numeric](18, 2) NULL,
	[INCOMEFORTYTWOOUT] [numeric](18, 2) NULL,
	[TAXFORTYONE] [numeric](18, 2) NULL,
	[TAXFORTYONEPERTHREE] [numeric](18, 2) NULL,
	[TAXFORTYONETWO] [numeric](18, 2) NULL,
	[TAXFORTYTWOIN] [numeric](18, 2) NULL,
	[TAXFORTYTWOOUT] [numeric](18, 2) NULL,
	[SSOACC_WORKER] [numeric](18, 2) NULL,
	[SSOACC_COMPANY] [numeric](18, 2) NULL,
	[PFACC_WORKER] [numeric](18, 2) NULL,
	[PFACC_COMPANY] [numeric](18, 2) NULL,
	[ALLWANCEINCTAX] [numeric](18, 2) NULL,
	[ALLWANCENOTINCTAX] [numeric](18, 2) NULL,
	[DEDUCTINCTAX] [numeric](18, 2) NULL,
	[DEDUCTNOTINCTAX] [numeric](18, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ACCUMALATE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PERIODYEAR] ASC,
	[PERIODID] ASC,
	[PAYDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_ADDRESS]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[ADDRESS_TYPE] [varchar](5) NOT NULL,
	[ADDRESS_NO] [varchar](30) NULL,
	[ADDRESS_MOO] [varchar](30) NULL,
	[ADDRESS_SOI] [varchar](100) NULL,
	[ADDRESS_ROAD] [varchar](100) NULL,
	[ADDRESS_TAMBON] [varchar](100) NULL,
	[ADDRESS_AMPHUR] [varchar](100) NULL,
	[PROVINCE_CODE] [varchar](30) NULL,
	[ADDRESS_ZIPCODE] [varchar](30) NULL,
	[ADDRESS_TEL] [varchar](30) NULL,
	[ADDRESS_EMAIL] [varchar](50) NULL,
	[ADDRESS_LINE] [varchar](50) NULL,
	[ADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_ASSESSMENT]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_ASSESSMENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPASSESSMENT_ID] [int] NOT NULL,
	[EMPASSESSMENT_LOCATION] [varchar](100) NOT NULL,
	[EMPASSESSMENT_TOPIC] [varchar](100) NOT NULL,
	[EMPASSESSMENT_FROMDATE] [datetime] NOT NULL,
	[EMPASSESSMENT_TODATE] [datetime] NOT NULL,
	[EMPASSESSMENT_COUNT] [decimal](5, 2) NOT NULL,
	[EMPASSESSMENT_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_ASSESSMENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPASSESSMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_BANK]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_BANK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](20) NOT NULL,
	[BANK_ACCOUNT] [varchar](20) NOT NULL,
	[BANK_PERCENT] [decimal](5, 2) NOT NULL,
	[BANK_CASHPERCENT] [decimal](5, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[BANK_BANKNAME] [varchar](100) NULL,
 CONSTRAINT [PK_EMP_TR_BANK] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_BENEFIT]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_BENEFIT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPBENEFIT_ID] [int] NOT NULL,
	[ITEM_CODE] [varchar](20) NOT NULL,
	[EMPBENEFIT_AMOUNT] [decimal](10, 2) NOT NULL,
	[EMPBENEFIT_STARTDATE] [datetime] NOT NULL,
	[EMPBENEFIT_ENDDATE] [datetime] NOT NULL,
	[EMPBENEFIT_REASON] [varchar](3) NOT NULL,
	[EMPBENEFIT_NOTE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[EMPBENEFIT_PAYTYPE] [char](1) NULL,
	[EMPBENEFIT_BREAK] [bit] NULL,
	[EMPBENEFIT_BREAKREASON] [varchar](3) NULL,
	[EMPBENEFIT_CONDITIONPAY] [char](1) NULL,
	[EMPBENEFIT_PAYFIRST] [char](1) NULL,
 CONSTRAINT [PK_EMP_TR_BENEFIT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ITEM_CODE] ASC,
	[EMPBENEFIT_STARTDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_CARD]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_CARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[CARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[CARD_ISSUE] [datetime] NOT NULL,
	[CARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_CARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[CARD_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_CRIMINAL]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_CRIMINAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPCRIMINAL_ID] [int] NOT NULL,
	[EMPCRIMINAL_LOCATION] [varchar](100) NOT NULL,
	[EMPCRIMINAL_FROMDATE] [datetime] NOT NULL,
	[EMPCRIMINAL_TODATE] [datetime] NOT NULL,
	[EMPCRIMINAL_COUNT] [decimal](5, 2) NOT NULL,
	[EMPCRIMINAL_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_CRIMINAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPCRIMINAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_DEP]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_DEP](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPDEP_ID] [int] NOT NULL,
	[EMPDEP_DATE] [datetime] NOT NULL,
	[EMPDEP_LEVEL01] [varchar](10) NOT NULL,
	[EMPDEP_LEVEL02] [varchar](10) NULL,
	[EMPDEP_LEVEL03] [varchar](10) NULL,
	[EMPDEP_LEVEL04] [varchar](10) NULL,
	[EMPDEP_LEVEL05] [varchar](10) NULL,
	[EMPDEP_LEVEL06] [varchar](10) NULL,
	[EMPDEP_LEVEL07] [varchar](10) NULL,
	[EMPDEP_LEVEL08] [varchar](10) NULL,
	[EMPDEP_LEVEL09] [varchar](10) NULL,
	[EMPDEP_LEVEL10] [varchar](10) NULL,
	[EMPDEP_REASON] [varchar](5) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_DEP] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPDEP_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_EDUCATION]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_EDUCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPEDUCATION_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NULL,
	[FACULTY_CODE] [varchar](10) NULL,
	[MAJOR_CODE] [varchar](10) NULL,
	[QUALIFICATION_CODE] [varchar](10) NULL,
	[EMPEDUCATION_GPA] [varchar](20) NULL,
	[EMPEDUCATION_START] [datetime] NOT NULL,
	[EMPEDUCATION_FINISH] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPEDUCATION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_FAMILY]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_FAMILY](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FAMILY_ID] [int] NOT NULL,
	[FAMILY_CODE] [varchar](20) NOT NULL,
	[FAMILY_TYPE] [varchar](5) NOT NULL,
	[FAMILY_FNAME_TH] [varchar](200) NOT NULL,
	[FAMILY_LNAME_TH] [varchar](200) NOT NULL,
	[FAMILY_FNAME_EN] [varchar](200) NOT NULL,
	[FAMILY_LNAME_EN] [varchar](200) NOT NULL,
	[FAMILY_BIRTHDATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_FAMILY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FAMILY_CODE] ASC,
	[FAMILY_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNER]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[PASSPORT_NO] [varchar](20) NOT NULL,
	[PASSPORT_ISSUE] [datetime] NOT NULL,
	[PASSPORT_EXPIRE] [datetime] NOT NULL,
	[VISA_NO] [varchar](20) NOT NULL,
	[VISA_ISSUE] [datetime] NOT NULL,
	[VISA_EXPIRE] [datetime] NOT NULL,
	[WORKPERMIT_NO] [varchar](20) NOT NULL,
	[WORKPERMIT_BY] [varchar](200) NOT NULL,
	[WORKPERMIT_ISSUE] [datetime] NOT NULL,
	[WORKPERMIT_EXPIRE] [datetime] NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[CERTIFICATE_NO] [varchar](20) NOT NULL,
	[CERTIFICATE_EXPIRE] [datetime] NOT NULL,
	[OTHERDOC_NO] [varchar](20) NOT NULL,
	[OTHERDOC_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_HOSPITAL]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_HOSPITAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPHOSPITAL_ID] [int] NOT NULL,
	[EMPHOSPITAL_CODE] [varchar](20) NOT NULL,
	[EMPHOSPITAL_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPHOSPITAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_POSITION]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_POSITION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPPOSITION_ID] [int] NOT NULL,
	[EMPPOSITION_DATE] [datetime] NOT NULL,
	[EMPPOSITION_POSITION] [varchar](10) NOT NULL,
	[EMPPOSITION_REASON] [varchar](5) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_POSITION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPPOSITION_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_PROVIDENT]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_PROVIDENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PROVIDENT_CODE] [varchar](10) NOT NULL,
	[EMPPROVIDENT_CARD] [varchar](20) NOT NULL,
	[EMPPROVIDENT_ENTRY] [datetime] NOT NULL,
	[EMPPROVIDENT_START] [datetime] NOT NULL,
	[EMPPROVIDENT_END] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_PROVIDENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PROVIDENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_REDUCE]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_REDUCE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPREDUCE_ID] [int] NOT NULL,
	[REDUCE_TYPE] [varchar](3) NOT NULL,
	[EMPREDUCE_AMOUNT] [decimal](10, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_REDUCE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REDUCE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_SALARY]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_SALARY](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPSALARY_ID] [int] NOT NULL,
	[EMPSALARY_AMOUNT] [decimal](10, 2) NOT NULL,
	[EMPSALARY_DATE] [datetime] NOT NULL,
	[EMPSALARY_REASON] [varchar](3) NOT NULL,
	[EMPSALARY_INCAMOUNT] [decimal](10, 2) NULL,
	[EMPSALARY_INCPERCENT] [decimal](5, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_SALARY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPSALARY_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_TRAINING]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_TRAINING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPTRAINING_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](20) NULL,
	[COURSE_CODE] [varchar](20) NULL,
	[INSTITUTE_OTHER] [varchar](500) NULL,
	[COURSE_OTHER] [varchar](500) NULL,
	[EMPTRAINING_START] [datetime] NOT NULL,
	[EMPTRAINING_FINISH] [datetime] NOT NULL,
	[EMPTRAINING_STATUS] [char](1) NULL,
	[EMPTRAINING_HOURS] [decimal](5, 2) NULL,
	[EMPTRAINING_COST] [decimal](10, 2) NULL,
	[EMPTRAINING_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPTRAINING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_TRANFER]    Script Date: 02/03/2023 11:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_TRANFER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPTRANFER_ID] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NOT NULL,
	[JOB_TYPE] [varchar](20) NOT NULL,
	[EMPTRANFER_FROMDATE] [datetime] NOT NULL,
	[EMPTRANFER_TODATE] [datetime] NOT NULL,
	[EMPTRANFER_SALARY] [decimal](18, 2) NOT NULL,
	[EMPTRANFER_OT] [decimal](18, 2) NOT NULL,
	[EMPTRANFER_OTHER] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_TRANFER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPTRANFER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMP_MT_DEP] ([DEP_ID], [DEP_CODE], [DEP_NAME_TH], [DEP_NAME_EN], [DEP_PARENT], [DEP_LEVEL], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'AB', N'AAA', N'BBB', N' ', N'01', N'OPR', N'Not login', CAST(N'2023-01-27T09:25:28.157' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_GROUP] ([GROUP_ID], [GROUP_CODE], [GROUP_NAME_TH], [GROUP_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'GRB00', N'GGG', N'GGG', N'OPR', N'Not login', CAST(N'2023-01-27T09:26:35.920' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'003', N'นาย', N'Mr.', N'TEST', CAST(N'2023-02-01T13:44:49.600' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'004', N'น.ส.', N'Miss', N'TEST', CAST(N'2023-02-01T13:44:49.603' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_INITIAL] ([INITIAL_ID], [INITIAL_CODE], [INITIAL_NAME_TH], [INITIAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'005', N'นาง', N'Mrs.', N'TEST', CAST(N'2023-02-01T13:44:49.603' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_LOCATION] ([LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'00000', N'สำนักงานใหญ่', N'Center', N'952 รามาแลนด์ ชั้นที่ 11 ถนนพระรามสี่ แขวงสุริยวงศ์ เขตบางรัก จังหวัดกรุงเทพฯ 10500', N'TEST', CAST(N'2023-02-16T10:27:54.693' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_LOCATION] ([LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'00001', N'สาขาชลบุรี', N'Chonburi', N'88 หมู่.5 ตำบลเหมือง อำเมืองชลบุรี จังหวัดชลบุรี 20130', N'TEST', CAST(N'2023-02-16T10:27:54.697' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_POSITION] ([POSITION_ID], [POSITION_CODE], [POSITION_NAME_TH], [POSITION_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'002', N'ผู้จัดการ IT', N'manager IT', N'OPR', N'TEST', CAST(N'2023-02-28T09:19:02.230' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_POSITION] ([POSITION_ID], [POSITION_CODE], [POSITION_NAME_TH], [POSITION_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'005', N'เจ้าหน้าที่การเงิน', N'เจ้าหน้าที่การเงิน', N'OPR', N'TEST', CAST(N'2023-02-28T09:19:02.233' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_POSITION] ([POSITION_ID], [POSITION_CODE], [POSITION_NAME_TH], [POSITION_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'AC-AM', N'ผู้ช่วยผู้จัดการฝ่ายบัญชี', N'Accounting Assistant Manager', N'OPR', N'TEST', CAST(N'2023-02-28T09:19:02.233' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'A', N'สัญญาจ้าง', N'สัญญาจ้าง', N'TEST', CAST(N'2023-02-01T15:01:13.710' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'D', N'ฝึกงาน', N'ฝึกงาน', N'TEST', CAST(N'2023-02-01T15:01:13.713' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_STATUS] ([STATUS_ID], [STATUS_CODE], [STATUS_NAME_TH], [STATUS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'F', N'ประจำ', N'ประจำ', N'TEST', CAST(N'2023-02-01T15:01:13.713' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'A', N'ทั้งหมด', N'All', N'TEST', CAST(N'2023-02-01T15:02:27.203' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'D', N'รายวัน', N'Daily', N'TEST', CAST(N'2023-02-01T15:02:27.203' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_MT_TYPE] ([TYPE_ID], [TYPE_CODE], [TYPE_NAME_TH], [TYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'M', N'รายเดือน', N'Monthly', N'TEST', CAST(N'2023-02-01T15:02:27.207' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', 1, N'001', N'200', N'', N'test', N'test', N'test', N'test', N'3', N'12020', N'0900000000', N'', N'', N'', N'test', CAST(N'2023-02-07T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 2, N'', N'1234', N'', N'1234', N'1234', N'1234', N'1234', N'5', N'12345', N'09999293', N'www@wwww.com', N'dds', N'waa', N'Not login', CAST(N'2023-03-01T15:40:56.307' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_ASSESSMENT] ([COMPANY_CODE], [WORKER_CODE], [EMPASSESSMENT_ID], [EMPASSESSMENT_LOCATION], [EMPASSESSMENT_TOPIC], [EMPASSESSMENT_FROMDATE], [EMPASSESSMENT_TODATE], [EMPASSESSMENT_COUNT], [EMPASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'00001', N'00001', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'Not login', CAST(N'2023-03-01T15:40:56.327' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_BANK] ([COMPANY_CODE], [WORKER_CODE], [BANK_ID], [BANK_CODE], [BANK_ACCOUNT], [BANK_PERCENT], [BANK_CASHPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG], [BANK_BANKNAME]) VALUES (N'OPR', N'EMP01', 1, N'002', N'8600285277', CAST(100.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), N'test', CAST(N'2023-02-07T00:00:00.000' AS DateTime), NULL, NULL, 1, NULL)
GO
INSERT [dbo].[EMP_TR_CARD] ([COMPANY_CODE], [WORKER_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', 1, N'999999999', N'NID', CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'test', CAST(N'2023-01-01T00:00:00.000' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_EDUCATION] ([COMPANY_CODE], [WORKER_CODE], [EMPEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [EMPEDUCATION_GPA], [EMPEDUCATION_START], [EMPEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'0003', N'0003', N'0003', N'0003', N'3', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-01T15:40:56.313' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_FAMILY] ([COMPANY_CODE], [WORKER_CODE], [FAMILY_ID], [FAMILY_CODE], [FAMILY_TYPE], [FAMILY_FNAME_TH], [FAMILY_LNAME_TH], [FAMILY_FNAME_EN], [FAMILY_LNAME_EN], [FAMILY_BIRTHDATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'12345678900', N'01', N'สา', N'สา', N'Sa', N'Sa', CAST(N'2010-01-01T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-01T15:40:56.263' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_HOSPITAL] ([COMPANY_CODE], [WORKER_CODE], [EMPHOSPITAL_ID], [EMPHOSPITAL_CODE], [EMPHOSPITAL_DATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'11565', CAST(N'2023-02-01T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-01T15:40:56.307' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_POSITION] ([COMPANY_CODE], [WORKER_CODE], [EMPPOSITION_ID], [EMPPOSITION_DATE], [EMPPOSITION_POSITION], [EMPPOSITION_REASON], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, CAST(N'2023-02-01T00:00:00.000' AS DateTime), N'005', N'', N'Not login', CAST(N'2023-03-01T15:40:56.303' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_PROVIDENT] ([COMPANY_CODE], [WORKER_CODE], [PROVIDENT_CODE], [EMPPROVIDENT_CARD], [EMPPROVIDENT_ENTRY], [EMPPROVIDENT_START], [EMPPROVIDENT_END], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', N'111', N'202022', CAST(N'2023-03-01T00:00:00.000' AS DateTime), CAST(N'2023-03-01T00:00:00.000' AS DateTime), CAST(N'2023-03-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-03-01T15:40:56.337' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_REDUCE] ([COMPANY_CODE], [WORKER_CODE], [EMPREDUCE_ID], [REDUCE_TYPE], [EMPREDUCE_AMOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, N'112', CAST(123332.00 AS Decimal(10, 2)), N'Not login', CAST(N'2023-03-01T15:40:56.400' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[EMP_TR_SALARY] ([COMPANY_CODE], [WORKER_CODE], [EMPSALARY_ID], [EMPSALARY_AMOUNT], [EMPSALARY_DATE], [EMPSALARY_REASON], [EMPSALARY_INCAMOUNT], [EMPSALARY_INCPERCENT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', 1, CAST(30000.00 AS Decimal(10, 2)), CAST(N'2023-03-29T00:00:00.000' AS DateTime), N'003', CAST(1000.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)), N'Not login', CAST(N'2023-03-01T15:40:56.400' AS DateTime), NULL, NULL, 1)
GO
