USE [OPR]
GO
/****** Object:  Table [dbo].[REQ_TR_TRAINING]    Script Date: 08/05/2023 11:30:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_TRAINING]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_TRAINING]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 08/05/2023 11:30:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_FOREIGNER]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_FOREIGNER]
GO
/****** Object:  Table [dbo].[REQ_TR_EDUCATION]    Script Date: 08/05/2023 11:30:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_EDUCATION]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_EDUCATION]
GO
/****** Object:  Table [dbo].[REQ_TR_CARD]    Script Date: 08/05/2023 11:30:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_CARD]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_CARD]
GO
/****** Object:  Table [dbo].[REQ_TR_APPLYADDRESS]    Script Date: 08/05/2023 11:30:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_APPLYADDRESS]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_APPLYADDRESS]
GO
/****** Object:  Table [dbo].[REQ_TR_ADDRESS]    Script Date: 08/05/2023 11:30:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_ADDRESS]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_ADDRESS]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 08/05/2023 11:30:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_MT_WORKER]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_MT_WORKER]
GO
/****** Object:  Table [dbo].[EMP_TR_SUGGEST]    Script Date: 08/05/2023 11:30:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_SUGGEST]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_SUGGEST]
GO
/****** Object:  Table [dbo].[EMP_TR_SUGGEST]    Script Date: 08/05/2023 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_SUGGEST](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPSUGGEST_ID] [int] NOT NULL,
	[EMPSUGGEST_CODE] [varchar](5) NOT NULL,
	[EMPSUGGEST_DATE] [datetime] NULL,
	[EMPSUGGEST_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_SUGGEST] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPSUGGEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 08/05/2023 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_WORKER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[WORKER_CARD] [varchar](15) NULL,
	[WORKER_INITIAL] [varchar](15) NOT NULL,
	[WORKER_FNAME_TH] [varchar](200) NOT NULL,
	[WORKER_LNAME_TH] [varchar](200) NOT NULL,
	[WORKER_FNAME_EN] [varchar](200) NOT NULL,
	[WORKER_LNAME_EN] [varchar](200) NOT NULL,
	[WORKER_TYPE] [varchar](5) NULL,
	[WORKER_GENDER] [char](1) NOT NULL,
	[WORKER_BIRTHDATE] [datetime] NULL,
	[WORKER_HIREDATE] [datetime] NOT NULL,
	[WORKER_STATUS] [varchar](5) NULL,
	[RELIGION_CODE] [varchar](5) NULL,
	[BLOOD_CODE] [varchar](5) NULL,
	[WORKER_HEIGHT] [decimal](18, 2) NULL,
	[WORKER_WEIGHT] [decimal](18, 2) NULL,
	[WORKER_RESIGNDATE] [datetime] NULL,
	[WORKER_RESIGNSTATUS] [bit] NOT NULL,
	[WORKER_RESIGNREASON] [varchar](5) NULL,
	[WORKER_PROBATIONDATE] [datetime] NULL,
	[WORKER_PROBATIONENDDATE] [datetime] NULL,
	[WORKER_PROBATIONDAY] [decimal](18, 0) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[WORKER_TAXMETHOD] [char](1) NULL,
	[WORKER_PWD] [varchar](100) NULL,
	[SELF_ADMIN] [bit] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_WORKER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_ADDRESS]    Script Date: 08/05/2023 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_ADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[ADDRESS_TYPE] [varchar](5) NOT NULL,
	[ADDRESS_NO] [varchar](30) NULL,
	[ADDRESS_MOO] [varchar](30) NULL,
	[ADDRESS_SOI] [varchar](100) NULL,
	[ADDRESS_ROAD] [varchar](100) NULL,
	[ADDRESS_TAMBON] [varchar](100) NULL,
	[ADDRESS_AMPHUR] [varchar](100) NULL,
	[PROVINCE_CODE] [varchar](30) NULL,
	[ADDRESS_ZIPCODE] [varchar](30) NULL,
	[ADDRESS_TEL] [varchar](30) NULL,
	[ADDRESS_EMAIL] [varchar](50) NULL,
	[ADDRESS_LINE] [varchar](50) NULL,
	[ADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_APPLYADDRESS]    Script Date: 08/05/2023 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_APPLYADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[APPLYWORK_CODE] [varchar](15) NOT NULL,
	[APPLYADDRESS_ID] [int] NOT NULL,
	[APPLYADDRESS_TYPE] [varchar](5) NOT NULL,
	[APPLYADDRESS_NO] [varchar](30) NULL,
	[APPLYADDRESS_MOO] [varchar](30) NULL,
	[APPLYADDRESS_SOI] [varchar](100) NULL,
	[APPLYADDRESS_ROAD] [varchar](100) NULL,
	[APPLYADDRESS_TAMBON] [varchar](100) NULL,
	[APPLYADDRESS_AMPHUR] [varchar](100) NULL,
	[APPLYPROVINCE_CODE] [varchar](30) NULL,
	[APPLYADDRESS_ZIPCODE] [varchar](30) NULL,
	[APPLYADDRESS_TEL] [varchar](30) NULL,
	[APPLYADDRESS_EMAIL] [varchar](50) NULL,
	[APPLYADDRESS_LINE] [varchar](50) NULL,
	[APPLYADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_APPLYADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[APPLYWORK_CODE] ASC,
	[APPLYADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_CARD]    Script Date: 08/05/2023 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_CARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[CARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[CARD_ISSUE] [datetime] NOT NULL,
	[CARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_CARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[CARD_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_EDUCATION]    Script Date: 08/05/2023 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_EDUCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQEDUCATION_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NULL,
	[FACULTY_CODE] [varchar](10) NULL,
	[MAJOR_CODE] [varchar](10) NULL,
	[QUALIFICATION_CODE] [varchar](10) NULL,
	[REQEDUCATION_GPA] [varchar](20) NULL,
	[REQEDUCATION_START] [datetime] NOT NULL,
	[REQEDUCATION_FINISH] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQEDUCATION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 08/05/2023 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[PASSPORT_NO] [varchar](20) NOT NULL,
	[PASSPORT_ISSUE] [datetime] NOT NULL,
	[PASSPORT_EXPIRE] [datetime] NOT NULL,
	[VISA_NO] [varchar](20) NOT NULL,
	[VISA_ISSUE] [datetime] NOT NULL,
	[VISA_EXPIRE] [datetime] NOT NULL,
	[WORKPERMIT_NO] [varchar](20) NOT NULL,
	[WORKPERMIT_BY] [varchar](200) NOT NULL,
	[WORKPERMIT_ISSUE] [datetime] NOT NULL,
	[WORKPERMIT_EXPIRE] [datetime] NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[CERTIFICATE_NO] [varchar](20) NOT NULL,
	[CERTIFICATE_EXPIRE] [datetime] NOT NULL,
	[OTHERDOC_NO] [varchar](20) NOT NULL,
	[OTHERDOC_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_TRAINING]    Script Date: 08/05/2023 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_TRAINING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQTRAINING_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](20) NULL,
	[COURSE_CODE] [varchar](20) NULL,
	[INSTITUTE_OTHER] [varchar](500) NULL,
	[COURSE_OTHER] [varchar](500) NULL,
	[REQTRAINING_START] [datetime] NOT NULL,
	[REQTRAINING_FINISH] [datetime] NOT NULL,
	[REQTRAINING_STATUS] [char](1) NULL,
	[REQTRAINING_HOURS] [decimal](5, 2) NULL,
	[REQTRAINING_COST] [decimal](10, 2) NULL,
	[REQTRAINING_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQTRAINING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMP_TR_SUGGEST] ([COMPANY_CODE], [WORKER_CODE], [EMPSUGGEST_ID], [EMPSUGGEST_CODE], [EMPSUGGEST_DATE], [EMPSUGGEST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'TD222', 1, N'EMP01', NULL, N'sdsd', N'Not login', CAST(N'2023-04-28T16:48:29.890' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'3', N'111', N'', N'TTT', N'TTT', N'TTT', N'TTT', N'[object Object]', N'10000', N'0999999999', N'', N'', N'', N'Not login', CAST(N'2023-05-04T16:36:18.027' AS DateTime), NULL, NULL, 1)
GO
