USE [OPR]
GO
/****** Object:  Table [dbo].[EMP_TR_PAYSUSPEND]    Script Date: 15/11/2023 18:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_PAYSUSPEND](
	[PAYSUSPEND_ID] [int] NOT NULL,
	[PAYITEM_DATE] [datetime] NOT NULL,
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](20) NOT NULL,
	[PAYSUSPEND_NOTE] [varchar](500) NULL,
	[REASON_CODE] [varchar](20) NULL,
	[PAYSUSPEND_TYPE] [char](1) NOT NULL,
	[PAYSUSPEND_PAYMENT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_PAYSUSPEND] PRIMARY KEY CLUSTERED 
(
	[PAYITEM_DATE] ASC,
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TR_RESIGN]    Script Date: 15/11/2023 18:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_RESIGN](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[CARD_NO] [varchar](13) NOT NULL,
	[WORKER_CODE] [varchar](20) NULL,
	[EMPRESIGN_ID] [int] NOT NULL,
	[EMPRESIGN_DATE] [datetime] NOT NULL,
	[REASON_CODE] [varchar](20) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_RESIGN] PRIMARY KEY CLUSTERED 
(
	[EMPRESIGN_ID] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/**********************/

/****** Object:  Table [dbo].[EMP_TR_HOSPITAL]    Script Date: 15/11/2023 18:56:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_HOSPITAL]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_HOSPITAL]
GO
/****** Object:  Table [dbo].[EMP_TR_HOSPITAL]    Script Date: 15/11/2023 18:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_HOSPITAL](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPHOSPITAL_ID] [int] NOT NULL,
	[EMPHOSPITAL_CODE] [varchar](20) NOT NULL,
	[EMPHOSPITAL_DATE] [datetime] NOT NULL,
	[EMPHOSPITAL_ORDER] [char](1) NOT NULL,
	[EMPHOSPITAL_ACTIVATE] [bit] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPHOSPITAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT INTO [dbo].[SYS_MT_SUBMENU]
           ([MAINMENU_CODE]
           ,[SUBMENU_CODE]
           ,[SUBMENU_DETAIL_TH]
           ,[SUBMENU_DETAIL_EN]
           ,[SUBMENU_ORDER])
     VALUES
           ('EMP'
           ,'EMP005'
           ,'ระงับการจ่าย'
           ,'Pay Suspend'
           ,5)
GO


