USE [OPR]
GO
/****** Object:  Table [dbo].[PRO_MT_PROUNIFORM]    Script Date: 11/09/2023 4:54:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROUNIFORM]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROUNIFORM]
GO
/****** Object:  Table [dbo].[PRO_MT_PROTYPE]    Script Date: 11/09/2023 4:54:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROTYPE]
GO
/****** Object:  Table [dbo].[PRO_MT_PROSLIP]    Script Date: 11/09/2023 4:54:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROSLIP]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROSLIP]
GO
/****** Object:  Table [dbo].[PRO_MT_PROGROUP]    Script Date: 11/09/2023 4:54:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROGROUP]
GO
/****** Object:  Table [dbo].[PRO_MT_PROBUSINESS]    Script Date: 11/09/2023 4:54:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROBUSINESS]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROBUSINESS]
GO
/****** Object:  Table [dbo].[PRO_MT_PROAREA]    Script Date: 11/09/2023 4:54:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROAREA]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROAREA]
GO
/****** Object:  Table [dbo].[PRO_MT_PROAREA]    Script Date: 11/09/2023 4:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROAREA](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[PROAREA_ID] [int] NOT NULL,
	[PROAREA_CODE] [varchar](10) NOT NULL,
	[PROAREA_NAME_TH] [varchar](100) NOT NULL,
	[PROAREA_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_PROAREA] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROAREA_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRO_MT_PROBUSINESS]    Script Date: 11/09/2023 4:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROBUSINESS](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[PROBUSINESS_ID] [int] NOT NULL,
	[PROBUSINESS_CODE] [varchar](10) NOT NULL,
	[PROBUSINESS_NAME_TH] [varchar](100) NOT NULL,
	[PROBUSINESS_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_PROBUSINESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROBUSINESS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRO_MT_PROGROUP]    Script Date: 11/09/2023 4:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROGROUP](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[PROGROUP_ID] [int] NOT NULL,
	[PROGROUP_CODE] [varchar](10) NOT NULL,
	[PROGROUP_NAME_TH] [varchar](100) NOT NULL,
	[PROGROUP_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_PROGROUP] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROGROUP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRO_MT_PROSLIP]    Script Date: 11/09/2023 4:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROSLIP](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[PROSLIP_ID] [int] NOT NULL,
	[PROSLIP_CODE] [varchar](10) NOT NULL,
	[PROSLIP_NAME_TH] [varchar](100) NOT NULL,
	[PROSLIP_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_PROSLIP] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROSLIP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRO_MT_PROTYPE]    Script Date: 11/09/2023 4:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROTYPE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[PROTYPE_ID] [int] NOT NULL,
	[PROTYPE_CODE] [varchar](10) NOT NULL,
	[PROTYPE_NAME_TH] [varchar](100) NOT NULL,
	[PROTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_PROTYPE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRO_MT_PROUNIFORM]    Script Date: 11/09/2023 4:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROUNIFORM](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[PROUNIFORM_ID] [int] NOT NULL,
	[PROUNIFORM_CODE] [varchar](10) NOT NULL,
	[PROUNIFORM_NAME_TH] [varchar](100) NOT NULL,
	[PROUNIFORM_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_PROUNIFORM] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROUNIFORM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRO_MT_PROAREA] ([COMPANY_CODE], [PROAREA_ID], [PROAREA_CODE], [PROAREA_NAME_TH], [PROAREA_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 3, N'12', N'proarea', N'proarea', N'Admin', CAST(N'2023-07-26T12:08:09.587' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[PRO_MT_PROAREA] ([COMPANY_CODE], [PROAREA_ID], [PROAREA_CODE], [PROAREA_NAME_TH], [PROAREA_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 4, N's', N's', N's', N'Admin', CAST(N'2023-09-11T16:46:41.190' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[PRO_MT_PROBUSINESS] ([COMPANY_CODE], [PROBUSINESS_ID], [PROBUSINESS_CODE], [PROBUSINESS_NAME_TH], [PROBUSINESS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'32', N'2', N'2', N'Admin', CAST(N'2023-09-11T15:57:10.663' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[PRO_MT_PROBUSINESS] ([COMPANY_CODE], [PROBUSINESS_ID], [PROBUSINESS_CODE], [PROBUSINESS_NAME_TH], [PROBUSINESS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 4, N'd', N'd', N'd', N'Admin', CAST(N'2023-09-11T15:58:21.330' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[PRO_MT_PROBUSINESS] ([COMPANY_CODE], [PROBUSINESS_ID], [PROBUSINESS_CODE], [PROBUSINESS_NAME_TH], [PROBUSINESS_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 1, N'B001', N'ห้างสรรพสินค้า', N'Shopping mall', N'Not login', CAST(N'2023-03-22T14:36:44.693' AS DateTime), N'Admin', CAST(N'2023-08-24T16:36:03.833' AS DateTime), 1)
GO
INSERT [dbo].[PRO_MT_PROGROUP] ([COMPANY_CODE], [PROGROUP_ID], [PROGROUP_CODE], [PROGROUP_NAME_TH], [PROGROUP_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 3, N'22', N'progroup', N'progroup', N'Admin', CAST(N'2023-07-26T11:34:25.250' AS DateTime), N'Admin', CAST(N'2023-07-26T14:39:15.570' AS DateTime), 1)
GO
INSERT [dbo].[PRO_MT_PROSLIP] ([COMPANY_CODE], [PROSLIP_ID], [PROSLIP_CODE], [PROSLIP_NAME_TH], [PROSLIP_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'v', N'v', N'v', N'Admin', CAST(N'2023-09-11T16:28:56.023' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[PRO_MT_PROSLIP] ([COMPANY_CODE], [PROSLIP_ID], [PROSLIP_CODE], [PROSLIP_NAME_TH], [PROSLIP_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 1, N'STD', N'รูปแบบมาตราฐาน', N'Standard format', N'Not login', CAST(N'2023-03-22T14:37:25.597' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[PRO_MT_PROTYPE] ([COMPANY_CODE], [PROTYPE_ID], [PROTYPE_CODE], [PROTYPE_NAME_TH], [PROTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 5, N'2', N'2', N'2', N'Admin', CAST(N'2023-09-11T15:14:05.900' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[PRO_MT_PROTYPE] ([COMPANY_CODE], [PROTYPE_ID], [PROTYPE_CODE], [PROTYPE_NAME_TH], [PROTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 1, N'T001', N'ประจำ', N'Regular', N'Not login', CAST(N'2023-03-22T14:36:15.797' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[PRO_MT_PROTYPE] ([COMPANY_CODE], [PROTYPE_ID], [PROTYPE_CODE], [PROTYPE_NAME_TH], [PROTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 2, N'T002', N'ชั่วคราว', N'Temporary', N'Not login', CAST(N'2023-03-22T14:36:26.927' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[PRO_MT_PROUNIFORM] ([COMPANY_CODE], [PROUNIFORM_ID], [PROUNIFORM_CODE], [PROUNIFORM_NAME_TH], [PROUNIFORM_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 1, N'PROM.001', N'ชุดขาวแถบแดง', N'white dress with red stripes', N'Not login', CAST(N'2023-03-22T14:37:04.747' AS DateTime), NULL, NULL, 1)
GO
