USE [OPR]
GO
/****** Object:  Table [dbo].[PRO_TR_PROJOBSHIFT]    Script Date: 16/11/2023 11:16:59 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_TR_PROJOBSHIFT]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_TR_PROJOBSHIFT]
GO
/****** Object:  Table [dbo].[PRO_TR_PROJOBSHIFT]    Script Date: 16/11/2023 11:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_TR_PROJOBSHIFT](
	[PROJOBSHIFT_ID] [int] NOT NULL,
	[SHIFT_CODE] [varchar](10) NOT NULL,
	[PROJOBSHIFT_SUN] [bit] NOT NULL,
	[PROJOBSHIFT_MON] [bit] NOT NULL,
	[PROJOBSHIFT_TUE] [bit] NOT NULL,
	[PROJOBSHIFT_WED] [bit] NOT NULL,
	[PROJOBSHIFT_THU] [bit] NOT NULL,
	[PROJOBSHIFT_FRI] [bit] NOT NULL,
	[PROJOBSHIFT_SAT] [bit] NOT NULL,
	[PROJOBSHIFT_EMP] [int] NOT NULL,
	[PROJOBSHIFT_PH] [int] NOT NULL,
	[PROJOBSHIFT_WORKING] [int] NOT NULL,
	[PROJOBSHIFT_HRSPERDAY] [decimal](4, 2) NOT NULL,
	[PROJOBSHIFT_HRSOT] [decimal](4, 2) NOT NULL,
	[PROJOB_CODE] [varchar](20) NOT NULL,
	[PROJECT_CODE] [varchar](20) NOT NULL,
	[VERSION] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_TR_PROJOBSHIFT] PRIMARY KEY CLUSTERED 
(
	[SHIFT_CODE] ASC,
	[PROJOB_CODE] ASC,
	[PROJECT_CODE] ASC,
	[VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
