USE [OPR]
GO
/****** Object:  Table [dbo].[PRO_MT_SIZE]    Script Date: 18/03/2024 11:15:16 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_SIZE]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_SIZE]
GO
/****** Object:  Table [dbo].[PRO_MT_SIZE]    Script Date: 18/03/2024 11:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_SIZE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[SIZE_ID] [int] NOT NULL,
	[SIZE_CODE] [varchar](10) NOT NULL,
	[SIZE_NAME_TH] [varchar](100) NOT NULL,
	[SIZE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_SIZE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[SIZE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRO_MT_SIZE] ([COMPANY_CODE], [SIZE_ID], [SIZE_CODE], [SIZE_NAME_TH], [SIZE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'1', N'M', N'M', N'Admin', CAST(N'2024-03-12T18:07:00.247' AS DateTime), NULL, NULL, 1)
GO
