USE [OPR]
GO
/****** Object:  Table [dbo].[PRO_MT_PROJECT]    Script Date: 06/09/2023 11:32:47 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROJECT]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROJECT]
GO
/****** Object:  Table [dbo].[PRO_MT_PROJECT]    Script Date: 06/09/2023 11:32:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROJECT](
	[PROJECT_ID] [int] NOT NULL,
	[PROJECT_CODE] [varchar](20) NOT NULL,
	[PROJECT_NAME_TH] [varchar](100) NOT NULL,
	[PROJECT_NAME_EN] [varchar](100) NOT NULL,
	[PROJECT_NAME_SUB] [varchar](100) NULL,
	[PROJECT_CODECENTRAL] [varchar](20) NULL,
	[PROJECT_PROTYPE] [varchar](10) NULL,
	[PROJECT_PROAREA] [varchar](10) NULL,
	[PROJECT_PROGROUP] [varchar](10) NULL,
	[PROJECT_PROBUSINESS] [varchar](10) NULL,
	[PROJECT_ROUNDTIME] [varchar](10) NULL,
	[PROJECT_ROUNDMONEY] [varchar](10) NULL,
	[PROJECT_PROHOLIDAY] [varchar](10) NULL,
	[PROJECT_STATUS] [char](1) NULL,
	[COMPANY_CODE] [varchar](10) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[PROGROUP_CODE] [varchar](10) NULL,
 CONSTRAINT [PK_PRO_MT_PROJECT] PRIMARY KEY CLUSTERED 
(
	[PROJECT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRO_MT_PROJECT] ([PROJECT_ID], [PROJECT_CODE], [PROJECT_NAME_TH], [PROJECT_NAME_EN], [PROJECT_NAME_SUB], [PROJECT_CODECENTRAL], [PROJECT_PROTYPE], [PROJECT_PROAREA], [PROJECT_PROGROUP], [PROJECT_PROBUSINESS], [PROJECT_ROUNDTIME], [PROJECT_ROUNDMONEY], [PROJECT_PROHOLIDAY], [PROJECT_STATUS], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG], [PROGROUP_CODE]) VALUES (1, N'3', N'3', N'3', N'', N'', N'T001', N'', N'', N'B001', N'', N'', N'', N'W', N'OPR', N'Admin', CAST(N'2023-09-06T10:58:03.127' AS DateTime), NULL, NULL, 1, NULL)
INSERT [dbo].[PRO_MT_PROJECT] ([PROJECT_ID], [PROJECT_CODE], [PROJECT_NAME_TH], [PROJECT_NAME_EN], [PROJECT_NAME_SUB], [PROJECT_CODECENTRAL], [PROJECT_PROTYPE], [PROJECT_PROAREA], [PROJECT_PROGROUP], [PROJECT_PROBUSINESS], [PROJECT_ROUNDTIME], [PROJECT_ROUNDMONEY], [PROJECT_PROHOLIDAY], [PROJECT_STATUS], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG], [PROGROUP_CODE]) VALUES (1, N'88', N'8', N'8', N'', N'', N'T001', N'', N'', N'B001', N'', N'', N'', N'W', N'OPR', N'Admin', CAST(N'2023-09-06T11:14:20.410' AS DateTime), NULL, NULL, 1, NULL)
GO
