USE [OPR]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 30/06/2023 18:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_WORKER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[WORKER_CARD] [varchar](15) NULL,
	[WORKER_INITIAL] [varchar](15) NOT NULL,
	[WORKER_FNAME_TH] [varchar](200) NOT NULL,
	[WORKER_LNAME_TH] [varchar](200) NOT NULL,
	[WORKER_FNAME_EN] [varchar](200) NOT NULL,
	[WORKER_LNAME_EN] [varchar](200) NOT NULL,
	[WORKER_TYPE] [varchar](5) NULL,
	[WORKER_GENDER] [char](1) NOT NULL,
	[WORKER_BIRTHDATE] [datetime] NULL,
	[WORKER_HIREDATE] [datetime] NOT NULL,
	[WORKER_STATUS] [varchar](5) NULL,
	[RELIGION_CODE] [varchar](5) NULL,
	[BLOOD_CODE] [varchar](5) NULL,
	[WORKER_HEIGHT] [decimal](18, 2) NULL,
	[WORKER_WEIGHT] [decimal](18, 2) NULL,
	[WORKER_RESIGNDATE] [datetime] NULL,
	[WORKER_RESIGNSTATUS] [bit] NOT NULL,
	[WORKER_RESIGNREASON] [varchar](5) NULL,
	[WORKER_PROBATIONDATE] [datetime] NULL,
	[WORKER_PROBATIONENDDATE] [datetime] NULL,
	[WORKER_PROBATIONDAY] [decimal](18, 0) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[WORKER_TAXMETHOD] [char](1) NULL,
	[WORKER_PWD] [varchar](100) NULL,
	[SELF_ADMIN] [bit] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_WORKER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_ADDRESS]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_ADDRESS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[ADDRESS_TYPE] [varchar](5) NOT NULL,
	[ADDRESS_NO] [varchar](30) NULL,
	[ADDRESS_MOO] [varchar](30) NULL,
	[ADDRESS_SOI] [varchar](100) NULL,
	[ADDRESS_ROAD] [varchar](100) NULL,
	[ADDRESS_TAMBON] [varchar](100) NULL,
	[ADDRESS_AMPHUR] [varchar](100) NULL,
	[PROVINCE_CODE] [varchar](30) NULL,
	[ADDRESS_ZIPCODE] [varchar](30) NULL,
	[ADDRESS_TEL] [varchar](30) NULL,
	[ADDRESS_EMAIL] [varchar](50) NULL,
	[ADDRESS_LINE] [varchar](50) NULL,
	[ADDRESS_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_ASSESSMENT]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_ASSESSMENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQASSESSMENT_ID] [int] NOT NULL,
	[REQASSESSMENT_LOCATION] [varchar](100) NOT NULL,
	[REQASSESSMENT_TOPIC] [varchar](100) NOT NULL,
	[REQASSESSMENT_FROMDATE] [datetime] NOT NULL,
	[REQASSESSMENT_TODATE] [datetime] NOT NULL,
	[REQASSESSMENT_COUNT] [decimal](5, 2) NOT NULL,
	[REQASSESSMENT_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_ASSESSMENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQASSESSMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_CARD]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_CARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[CARD_CODE] [varchar](20) NOT NULL,
	[CARD_TYPE] [varchar](5) NOT NULL,
	[CARD_ISSUE] [datetime] NOT NULL,
	[CARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_CARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[CARD_CODE] ASC,
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_CRIMINAL]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_CRIMINAL](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQCRIMINAL_ID] [int] NOT NULL,
	[REQCRIMINAL_LOCATION] [varchar](100) NOT NULL,
	[REQCRIMINAL_FROMDATE] [datetime] NOT NULL,
	[REQCRIMINAL_TODATE] [datetime] NOT NULL,
	[REQCRIMINAL_COUNT] [decimal](5, 2) NOT NULL,
	[REQCRIMINAL_RESULT] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_CRIMINAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQCRIMINAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_EDUCATION]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_EDUCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQEDUCATION_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NULL,
	[FACULTY_CODE] [varchar](10) NULL,
	[MAJOR_CODE] [varchar](10) NULL,
	[QUALIFICATION_CODE] [varchar](10) NULL,
	[REQEDUCATION_GPA] [varchar](20) NULL,
	[REQEDUCATION_START] [datetime] NOT NULL,
	[REQEDUCATION_FINISH] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQEDUCATION_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_EMPIMAGES]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_EMPIMAGES](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPIMAGES_NO] [int] NOT NULL,
	[EMPIMAGES_IMAGES] [image] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_EMPIMAGES] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPIMAGES_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNER]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_FOREIGNER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNER_ID] [int] NOT NULL,
	[PASSPORT_NO] [varchar](20) NOT NULL,
	[PASSPORT_ISSUE] [datetime] NOT NULL,
	[PASSPORT_EXPIRE] [datetime] NOT NULL,
	[VISA_NO] [varchar](20) NOT NULL,
	[VISA_ISSUE] [datetime] NOT NULL,
	[VISA_EXPIRE] [datetime] NOT NULL,
	[WORKPERMIT_NO] [varchar](20) NOT NULL,
	[WORKPERMIT_BY] [varchar](200) NOT NULL,
	[WORKPERMIT_ISSUE] [datetime] NOT NULL,
	[WORKPERMIT_EXPIRE] [datetime] NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[CERTIFICATE_NO] [varchar](20) NOT NULL,
	[CERTIFICATE_EXPIRE] [datetime] NOT NULL,
	[OTHERDOC_NO] [varchar](20) NULL,
	[OTHERDOC_EXPIRE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_FOREIGNER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_SUGGEST]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_SUGGEST](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQSUGGEST_ID] [int] NOT NULL,
	[REQSUGGEST_CODE] [varchar](5) NOT NULL,
	[REQSUGGEST_DATE] [datetime] NULL,
	[REQSUGGEST_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_SUGGEST] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQSUGGEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_TRAINING]    Script Date: 30/06/2023 18:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_TRAINING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[REQTRAINING_NO] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](20) NULL,
	[COURSE_CODE] [varchar](20) NULL,
	[INSTITUTE_OTHER] [varchar](500) NULL,
	[COURSE_OTHER] [varchar](500) NULL,
	[REQTRAINING_START] [datetime] NOT NULL,
	[REQTRAINING_FINISH] [datetime] NOT NULL,
	[REQTRAINING_STATUS] [char](1) NULL,
	[REQTRAINING_HOURS] [decimal](5, 2) NULL,
	[REQTRAINING_COST] [decimal](10, 2) NULL,
	[REQTRAINING_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[REQTRAINING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[REQ_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'3', N'111', N'', N'TTT', N'TTT', N'TTT', N'TTT', N'[object Object]', N'10000', N'0999999999', N'', N'', N'', N'Not login', CAST(N'2023-05-16T14:10:58.790' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_ADDRESS] ([COMPANY_CODE], [WORKER_CODE], [ADDRESS_ID], [ADDRESS_TYPE], [ADDRESS_NO], [ADDRESS_MOO], [ADDRESS_SOI], [ADDRESS_ROAD], [ADDRESS_TAMBON], [ADDRESS_AMPHUR], [PROVINCE_CODE], [ADDRESS_ZIPCODE], [ADDRESS_TEL], [ADDRESS_EMAIL], [ADDRESS_LINE], [ADDRESS_FACEBOOK], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'004', N'100', N'', N'IMP1', N'IMP2', N'IMP3', N'IMP4', N'3', N'44963', N'992123122', N'', N'', N'', N'Admin', CAST(N'2023-06-28T15:42:34.930' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_ASSESSMENT] ([COMPANY_CODE], [WORKER_CODE], [REQASSESSMENT_ID], [REQASSESSMENT_LOCATION], [REQASSESSMENT_TOPIC], [REQASSESSMENT_FROMDATE], [REQASSESSMENT_TODATE], [REQASSESSMENT_COUNT], [REQASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'8999', N'112', CAST(N'2023-05-01T00:00:00.000' AS DateTime), CAST(N'2023-05-31T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'Y', N'Not login', CAST(N'2023-05-16T14:10:58.747' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_ASSESSMENT] ([COMPANY_CODE], [WORKER_CODE], [REQASSESSMENT_ID], [REQASSESSMENT_LOCATION], [REQASSESSMENT_TOPIC], [REQASSESSMENT_FROMDATE], [REQASSESSMENT_TODATE], [REQASSESSMENT_COUNT], [REQASSESSMENT_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'0003', N'0004', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'Admin', CAST(N'2023-06-28T15:42:34.957' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_CARD] ([COMPANY_CODE], [WORKER_CODE], [CARD_ID], [CARD_CODE], [CARD_TYPE], [CARD_ISSUE], [CARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 1, N'1100392011124', N'NID', CAST(N'2010-05-12T00:00:00.000' AS DateTime), CAST(N'2025-05-12T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-06-28T15:42:34.930' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_CRIMINAL] ([COMPANY_CODE], [WORKER_CODE], [REQCRIMINAL_ID], [REQCRIMINAL_LOCATION], [REQCRIMINAL_FROMDATE], [REQCRIMINAL_TODATE], [REQCRIMINAL_COUNT], [REQCRIMINAL_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'8999', CAST(N'2023-05-05T00:00:00.000' AS DateTime), CAST(N'2023-05-12T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'Y', N'Not login', CAST(N'2023-05-16T14:10:58.750' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_CRIMINAL] ([COMPANY_CODE], [WORKER_CODE], [REQCRIMINAL_ID], [REQCRIMINAL_LOCATION], [REQCRIMINAL_FROMDATE], [REQCRIMINAL_TODATE], [REQCRIMINAL_COUNT], [REQCRIMINAL_RESULT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'0003', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), CAST(1.00 AS Decimal(5, 2)), N'1', N'Admin', CAST(N'2023-06-28T15:42:35.587' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_EDUCATION] ([COMPANY_CODE], [WORKER_CODE], [REQEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [REQEDUCATION_GPA], [REQEDUCATION_START], [REQEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'1', N'1234', N'123', N'321', N'3.1', CAST(N'2023-05-17T00:00:00.000' AS DateTime), CAST(N'2023-05-31T00:00:00.000' AS DateTime), N'Not login', CAST(N'2023-05-16T14:10:58.767' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_EDUCATION] ([COMPANY_CODE], [WORKER_CODE], [REQEDUCATION_NO], [INSTITUTE_CODE], [FACULTY_CODE], [MAJOR_CODE], [QUALIFICATION_CODE], [REQEDUCATION_GPA], [REQEDUCATION_START], [REQEDUCATION_FINISH], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'1', N'123', N'123', N'321', N'3', CAST(N'2019-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-04T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-06-28T15:42:35.007' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_SUGGEST] ([COMPANY_CODE], [WORKER_CODE], [REQSUGGEST_ID], [REQSUGGEST_CODE], [REQSUGGEST_DATE], [REQSUGGEST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ111', 1, N'EMP02', NULL, N'Test', N'Not login', CAST(N'2023-05-16T14:10:58.740' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_SUGGEST] ([COMPANY_CODE], [WORKER_CODE], [REQSUGGEST_ID], [REQSUGGEST_CODE], [REQSUGGEST_DATE], [REQSUGGEST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202305191600', 2, N'EMP01', NULL, N'', N'Admin', CAST(N'2023-06-28T15:42:34.947' AS DateTime), NULL, NULL, 1)
GO
