USE [OPR]
GO
/****** Object:  Table [dbo].[PRO_MT_SIZE]    Script Date: 12/03/2024 6:43:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_SIZE]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_SIZE]
GO
/****** Object:  Table [dbo].[EMP_TR_UNIFORM]    Script Date: 12/03/2024 6:43:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_UNIFORM]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_UNIFORM]
GO
/****** Object:  Table [dbo].[EMP_TR_UNIFORM]    Script Date: 12/03/2024 6:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_UNIFORM](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPUNIFORM_ID] [int] NOT NULL,
	[EMPUNIFORM_CODE] [varchar](15) NOT NULL,
	[PROJECT_CODE] [varchar](20) NULL,
	[PROJOB_CODE] [varchar](20) NULL,
	[PROEQUIPMENTTYPE_CODE] [varchar](20) NOT NULL,
	[EMPUNIFORM_SIZE] [varchar](20) NULL,
	[EMPUNIFORM_QUANTITY] [decimal](4, 2) NOT NULL,
	[EMPUNIFORM_AMOUNT] [decimal](8, 2) NOT NULL,
	[EMPUNIFORM_TOTAL] [decimal](8, 2) NOT NULL,
	[EMPUNIFORM_ISSUEDATE] [datetime] NOT NULL,
	[EMPUNIFORM_NOTE] [varchar](200) NULL,
	[EMPUNIFORM_BY] [varchar](200) NULL,
	[EMPUNIFORM_PAYPERIOD] [decimal](8, 2) NOT NULL,
	[EMPUNIFORM_PAYAMOUNT] [decimal](8, 2) NOT NULL,
	[EMPUNIFORM_PERIOD] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_UNIFORM] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[EMPUNIFORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRO_MT_SIZE]    Script Date: 12/03/2024 6:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_SIZE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[SIZE_ID] [int] NOT NULL,
	[SIZE_CODE] [varchar](10) NOT NULL,
	[SIZE_NAME_TH] [varchar](100) NOT NULL,
	[SIZE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_SIZE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[SIZE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRO_MT_SIZE] ([COMPANY_CODE], [SIZE_ID], [SIZE_CODE], [SIZE_NAME_TH], [SIZE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'1', N'M', N'M', N'Admin', CAST(N'2024-03-12T18:07:00.247' AS DateTime), NULL, NULL, 1)
GO
