USE [OPR]
GO
/****** Object:  Table [dbo].[SYS_MT_REDUCE]    Script Date: 23/08/2023 4:50:33 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_REDUCE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_REDUCE]
GO
/****** Object:  Table [dbo].[PAY_TR_PROVIDENT_WORKAGE]    Script Date: 23/08/2023 4:50:33 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PROVIDENT_WORKAGE]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PROVIDENT_WORKAGE]
GO
/****** Object:  Table [dbo].[PAY_TR_PLANREDUCE]    Script Date: 23/08/2023 4:50:33 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PLANREDUCE]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PLANREDUCE]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYTAXWITHHOLDING]    Script Date: 23/08/2023 4:50:33 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYTAXWITHHOLDING]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYTAXWITHHOLDING]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPOLPROVIDENT]    Script Date: 23/08/2023 4:50:33 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYPOLPROVIDENT]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYPOLPROVIDENT]
GO
/****** Object:  Table [dbo].[PAY_MT_PLANREDUCE]    Script Date: 23/08/2023 4:50:33 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_MT_PLANREDUCE]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_MT_PLANREDUCE]
GO
/****** Object:  Table [dbo].[PAY_MT_PLANREDUCE]    Script Date: 23/08/2023 4:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_MT_PLANREDUCE](
	[PLANREDUCE_ID] [int] NOT NULL,
	[PLANREDUCE_CODE] [varchar](10) NOT NULL,
	[PLANREDUCE_NAME_TH] [varchar](200) NOT NULL,
	[PLANREDUCE_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_MT_PLANREDUCE] PRIMARY KEY CLUSTERED 
(
	[PLANREDUCE_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPOLPROVIDENT]    Script Date: 23/08/2023 4:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYPOLPROVIDENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYPOLPROVIDENT_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[FLAG] [bit] NULL,
 CONSTRAINT [PK_PAY_TR_PAYPOLPROVIDENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYPOLPROVIDENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYTAXWITHHOLDING]    Script Date: 23/08/2023 4:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYTAXWITHHOLDING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYTAXWITHHOLDING_DATE] [datetime] NOT NULL,
	[PAYTAXWITHHOLDING_AMOUNT] [decimal](12, 2) NOT NULL,
	[PAYTAXWITHHOLDING_TAX] [decimal](8, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_TR_PAYTAXWITHHOLDING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYTAXWITHHOLDING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PLANREDUCE]    Script Date: 23/08/2023 4:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PLANREDUCE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[PLANREDUCE_CODE] [varchar](10) NOT NULL,
	[REDUCE_CODE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PAY_TR_PLANREDUCE] PRIMARY KEY CLUSTERED 
(
	[PLANREDUCE_CODE] ASC,
	[COMPANY_CODE] ASC,
	[REDUCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PROVIDENT_WORKAGE]    Script Date: 23/08/2023 4:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PROVIDENT_WORKAGE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[PROVIDENT_CODE] [varchar](10) NOT NULL,
	[WORKAGE_FROM] [decimal](6, 2) NOT NULL,
	[WORKAGE_TO] [decimal](6, 2) NOT NULL,
	[RATE_EMP] [decimal](6, 2) NOT NULL,
	[RATE_COM] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_PAY_TR_PROVIDENT_WORKAGE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROVIDENT_CODE] ASC,
	[WORKAGE_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REDUCE]    Script Date: 23/08/2023 4:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REDUCE](
	[REDUCE_ID] [int] NOT NULL,
	[REDUCE_CODE] [varchar](5) NOT NULL,
	[REDUCE_NAME_TH] [varchar](100) NOT NULL,
	[REDUCE_NAME_EN] [varchar](100) NOT NULL,
	[REDUCE_AMOUNT] [decimal](12, 2) NOT NULL,
	[REDUCE_AMOUNT_MAX] [decimal](12, 2) NOT NULL,
	[REDUCE_PERCENT] [decimal](6, 2) NOT NULL,
	[REDUCE_PERCENT_MAX] [decimal](12, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REDUCE] PRIMARY KEY CLUSTERED 
(
	[REDUCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PAY_MT_PLANREDUCE] ([PLANREDUCE_ID], [PLANREDUCE_CODE], [PLANREDUCE_NAME_TH], [PLANREDUCE_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'1', N'1', N'OPR', N'Admin', CAST(N'2023-08-23T15:43:25.797' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[PAY_MT_PLANREDUCE] ([PLANREDUCE_ID], [PLANREDUCE_CODE], [PLANREDUCE_NAME_TH], [PLANREDUCE_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'1111111111', N'cxv', N'v', N'OPR', N'Admin', CAST(N'2023-08-23T15:44:11.037' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[PAY_TR_PLANREDUCE] ([COMPANY_CODE], [PLANREDUCE_CODE], [REDUCE_CODE]) VALUES (N'OPR', N'1', N'12')
GO
INSERT [dbo].[SYS_MT_REDUCE] ([REDUCE_ID], [REDUCE_CODE], [REDUCE_NAME_TH], [REDUCE_NAME_EN], [REDUCE_AMOUNT], [REDUCE_AMOUNT_MAX], [REDUCE_PERCENT], [REDUCE_PERCENT_MAX], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'12', N'1', N'1', CAST(0.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(12, 2)), N'Admin', CAST(N'2023-08-23T14:35:08.760' AS DateTime), N'Admin', CAST(N'2023-08-23T14:35:25.003' AS DateTime), 0)
GO
