USE [OPR]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBRANCH]    Script Date: 26/06/2023 4:34:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMBRANCH](
	[COMBRANCH_ID] [int] NOT NULL,
	[SSO_BRANCH_NO] [varchar](10) NOT NULL,
	[COMBRANCH_CODE] [varchar](10) NOT NULL,
	[COMBRANCH_NAME_TH] [varchar](200) NOT NULL,
	[COMBRANCH_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMBRANCH] PRIMARY KEY CLUSTERED 
(
	[COMBRANCH_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMPANYS]    Script Date: 26/06/2023 4:34:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMPANYS](
	[COMPANY_ID] [int] NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMPANY_INITIALS] [varchar](200) NOT NULL,
	[COMPANY_NAME_TH] [varchar](200) NOT NULL,
	[COMPANY_NAME_EN] [varchar](200) NOT NULL,
	[SSO_TAX_NO] [varchar](20) NULL,
	[CITIZEN_NO] [varchar](20) NULL,
	[PROVIDENT_FUND_NO] [varchar](20) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[SSO_MIN_AGE] [int] NULL,
	[SSO_MAX_AGE] [int] NULL,
	[SSO_SECURITY_NO] [varchar](20) NULL,
	[SSO_BRANCH_NO] [varchar](20) NULL,
	[SSO_COM_RATE] [decimal](10, 2) NULL,
	[SSO_EMP_RATE] [decimal](10, 2) NULL,
	[SSO_MIN_WAGE] [decimal](10, 2) NULL,
	[SSO_MAX_WAGE] [decimal](10, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMPANYS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SYS_MT_COMBRANCH] ([COMBRANCH_ID], [SSO_BRANCH_NO], [COMBRANCH_CODE], [COMBRANCH_NAME_TH], [COMBRANCH_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'00000000', N'001', N'ทดสอบสาขา', N'test branch', N'', N'Admin', CAST(N'2023-06-26T16:24:39.393' AS DateTime), NULL, NULL, 0)
GO
