USE [OPR]
GO
/****** Object:  Table [dbo].[SYS_TR_POLCODE]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_TR_POLCODE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_TR_POLCODE]
GO
/****** Object:  Table [dbo].[SYS_MT_SUPPLY]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_SUPPLY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_SUPPLY]
GO
/****** Object:  Table [dbo].[SYS_MT_ROUND]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_ROUND]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_ROUND]
GO
/****** Object:  Table [dbo].[SYS_MT_RELIGION]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_RELIGION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_RELIGION]
GO
/****** Object:  Table [dbo].[SYS_MT_QUALIFICATION]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_QUALIFICATION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_QUALIFICATION]
GO
/****** Object:  Table [dbo].[SYS_MT_PROVINCE]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_PROVINCE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_PROVINCE]
GO
/****** Object:  Table [dbo].[SYS_MT_MAJORR]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_MAJORR]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_MAJORR]
GO
/****** Object:  Table [dbo].[SYS_MT_LOCATION]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_LOCATION]
GO
/****** Object:  Table [dbo].[SYS_MT_INSTITUTE]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_INSTITUTE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_INSTITUTE]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_HOSPITAL]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_HOSPITAL]
GO
/****** Object:  Table [dbo].[SYS_MT_FAMILY]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_FAMILY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_FAMILY]
GO
/****** Object:  Table [dbo].[SYS_MT_FACULTY]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_FACULTY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_FACULTY]
GO
/****** Object:  Table [dbo].[SYS_MT_ETHNICITY]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_ETHNICITY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_ETHNICITY]
GO
/****** Object:  Table [dbo].[SYS_MT_CCOURSE]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_CCOURSE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_CCOURSE]
GO
/****** Object:  Table [dbo].[SYS_MT_CARDTYPE]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_CARDTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_CARDTYPE]
GO
/****** Object:  Table [dbo].[SYS_MT_BLOODTYPE]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_BLOODTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_BLOODTYPE]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_BANK]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_BANK]
GO
/****** Object:  Table [dbo].[SYS_MT_ADDRESSTYPE]    Script Date: 11/09/2023 1:22:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_ADDRESSTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_ADDRESSTYPE]
GO
/****** Object:  Table [dbo].[SYS_MT_ADDRESSTYPE]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ADDRESSTYPE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[ADDRESSTYPE_ID] [int] NOT NULL,
	[ADDRESSTYPE_CODE] [varchar](5) NOT NULL,
	[ADDRESSTYPE_NAME_TH] [varchar](200) NOT NULL,
	[ADDRESSTYPE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_ADDRESSTYPE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[ADDRESSTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BANK](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](5) NOT NULL,
	[BANK_NAME_TH] [varchar](100) NOT NULL,
	[BANK_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BANK] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BLOODTYPE]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BLOODTYPE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[BLOODTYPE_ID] [int] NOT NULL,
	[BLOODTYPE_CODE] [varchar](5) NOT NULL,
	[BLOODTYPE_NAME_TH] [varchar](100) NOT NULL,
	[BLOODTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BLOODTYPE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[BLOODTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CARDTYPE]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CARDTYPE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[CARDTYPE_ID] [int] NOT NULL,
	[CARDTYPE_CODE] [varchar](5) NOT NULL,
	[CARDTYPE_NAME_TH] [varchar](100) NOT NULL,
	[CARDTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_CARDTYPE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[CARDTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CCOURSE]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CCOURSE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[COURSE_NAME_TH] [varchar](200) NOT NULL,
	[COURSE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_CCOURSE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COURSE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ETHNICITY]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ETHNICITY](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[ETHNICITY_ID] [int] NOT NULL,
	[ETHNICITY_CODE] [varchar](5) NOT NULL,
	[ETHNICITY_NAME_TH] [varchar](100) NOT NULL,
	[ETHNICITY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ETHNICITY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[ETHNICITY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FACULTY]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FACULTY](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[FACULTY_ID] [int] NOT NULL,
	[FACULTY_CODE] [varchar](10) NOT NULL,
	[FACULTY_NAME_TH] [varchar](200) NOT NULL,
	[FACULTY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_FACULTY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[FACULTY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FAMILY]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FAMILY](
	[FAMILY_ID] [int] NOT NULL,
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[FAMILY_CODE] [varchar](5) NOT NULL,
	[FAMILY_NAME_TH] [varchar](100) NOT NULL,
	[FAMILY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_FAMILY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[FAMILY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_HOSPITAL](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[HOSPITAL_ID] [int] NOT NULL,
	[HOSPITAL_CODE] [varchar](10) NOT NULL,
	[HOSPITAL_NAME_TH] [varchar](100) NOT NULL,
	[HOSPITAL_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[HOSPITAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_INSTITUTE]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_INSTITUTE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[INSTITUTE_ID] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NOT NULL,
	[INSTITUTE_NAME_TH] [varchar](200) NOT NULL,
	[INSTITUTE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_INSTITUTE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[INSTITUTE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_LOCATION]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_LOCATION](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[LOCATION_ID] [int] NOT NULL,
	[LOCATION_CODE] [varchar](5) NOT NULL,
	[LOCATION_NAME_TH] [varchar](100) NOT NULL,
	[LOCATION_NAME_EN] [varchar](100) NOT NULL,
	[LOCATION_DETAIL] [varchar](500) NULL,
	[LOCATION_LATITUDE] [varchar](100) NULL,
	[LOCATION_LONGITUDE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[LOCATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_MAJORR]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_MAJORR](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
	[MAJOR_CODE] [varchar](10) NOT NULL,
	[MAJOR_NAME_TH] [varchar](200) NOT NULL,
	[MAJOR_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_MAJORR] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[MAJOR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_PROVINCE]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_PROVINCE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
	[PROVINCE_CODE] [varchar](5) NOT NULL,
	[PROVINCE_NAME_TH] [varchar](200) NOT NULL,
	[PROVINCE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROVINCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_QUALIFICATION]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_QUALIFICATION](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[QUALIFICATION_ID] [int] NOT NULL,
	[QUALIFICATION_CODE] [varchar](10) NOT NULL,
	[QUALIFICATION_NAME_TH] [varchar](200) NOT NULL,
	[QUALIFICATION_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_QUALIFICATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[QUALIFICATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_RELIGION]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_RELIGION](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[RELIGION_ID] [int] NOT NULL,
	[RELIGION_CODE] [varchar](5) NOT NULL,
	[RELIGION_NAME_TH] [varchar](100) NOT NULL,
	[RELIGION_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_RELIGION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[RELIGION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ROUND]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ROUND](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[ROUND_ID] [int] NOT NULL,
	[ROUND_CODE] [varchar](5) NOT NULL,
	[ROUND_NAME_TH] [varchar](100) NOT NULL,
	[ROUND_NAME_EN] [varchar](100) NOT NULL,
	[ROUND_GROUP] [char](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ROUND] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[ROUND_CODE] ASC,
	[ROUND_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_SUPPLY]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_SUPPLY](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[SUPPLY_ID] [int] NOT NULL,
	[SUPPLY_CODE] [varchar](5) NOT NULL,
	[SUPPLY_NAME_TH] [varchar](200) NOT NULL,
	[SUPPLY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_SUPPLY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[SUPPLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_POLCODE]    Script Date: 11/09/2023 1:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_POLCODE](
	[COMPANY_CODE] [varchar](20) NOT NULL,
	[POLCODE_ID] [int] NOT NULL,
	[CODESTRUCTURE_CODE] [varchar](4) NOT NULL,
	[POLCODE_LENGHT] [int] NOT NULL,
	[POLCODE_TEXT] [varchar](10) NULL,
	[POLCODE_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_SYS_TR_POLCODE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[POLCODE_ID] ASC,
	[CODESTRUCTURE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SYS_MT_ADDRESSTYPE] ([COMPANY_CODE], [ADDRESSTYPE_ID], [ADDRESSTYPE_CODE], [ADDRESSTYPE_NAME_TH], [ADDRESSTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'01', N'ที่อยู่ปัจจุบัน', N'ที่อยู่ปัจจุบัน', N'Admin', CAST(N'2023-07-18T14:01:54.880' AS DateTime), N'Admin', CAST(N'2023-09-07T13:55:20.743' AS DateTime), 1)
INSERT [dbo].[SYS_MT_ADDRESSTYPE] ([COMPANY_CODE], [ADDRESSTYPE_ID], [ADDRESSTYPE_CODE], [ADDRESSTYPE_NAME_TH], [ADDRESSTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'02', N'ที่อยู่ตามทะเบียนบ้าน', N'ที่อยู่ตามทะเบียนบ้าน', N'Admin', CAST(N'2023-08-24T13:41:03.443' AS DateTime), N'Admin', CAST(N'2023-09-07T13:55:46.367' AS DateTime), 1)
INSERT [dbo].[SYS_MT_ADDRESSTYPE] ([COMPANY_CODE], [ADDRESSTYPE_ID], [ADDRESSTYPE_CODE], [ADDRESSTYPE_NAME_TH], [ADDRESSTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 3, N'01', N'ที่อยู่ปัจจุบัน', N'ที่อยู่ปัจจุบัน', N'Admin', CAST(N'2023-09-11T11:29:56.133' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_BANK] ([COMPANY_CODE], [BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 14, N'01', N'q', N'q', N'Admin', CAST(N'2023-09-11T09:04:22.920' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BANK] ([COMPANY_CODE], [BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 1, N'002', N'ธนาคารกรุงเทพ จำกัด (มหาชน)', N'Bangkok Bank Public Company Limited', N'Admin', CAST(N'2023-09-09T19:43:08.027' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BANK] ([COMPANY_CODE], [BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 2, N'004', N'ธนาคารกสิกรไทย จำกัด (มหาชน)', N'Kasikorn Bank Public Company Limited', N'Admin', CAST(N'2023-09-09T19:43:08.053' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_BLOODTYPE] ([COMPANY_CODE], [BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'01', N'กรุ๊ปเลือด A', N'A Antigens', N'Admin', CAST(N'2023-07-18T14:14:06.947' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BLOODTYPE] ([COMPANY_CODE], [BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'02', N'กรุ๊ปเลือด B', N'B Antigens', N'Admin', CAST(N'2023-07-18T14:14:06.967' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BLOODTYPE] ([COMPANY_CODE], [BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'03', N'กรุ๊ปเลือด O', N'O Antigens', N'Admin', CAST(N'2023-07-18T14:14:06.990' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_CARDTYPE] ([COMPANY_CODE], [CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 5, N'CAT', N'บัตรประจำตัวประชาชนแมว', N'CAT National ID', N'Admin', CAST(N'2023-08-24T13:31:50.020' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_CARDTYPE] ([COMPANY_CODE], [CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'CID', N'เลขที่ประจำตัวนิติบุคคล', N'Citizen ID', N'TEST', CAST(N'2023-07-06T10:32:32.687' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_CARDTYPE] ([COMPANY_CODE], [CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'NTID', N'บัตรประชาชน', N'National ID', N'TEST', CAST(N'2023-07-06T10:32:32.713' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_CCOURSE] ([COMPANY_CODE], [COURSE_ID], [COURSE_CODE], [COURSE_NAME_TH], [COURSE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'001', N'การอาบน้ำแมว', N'Cat Bath', N'Admin', CAST(N'2023-08-24T13:55:18.100' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_CCOURSE] ([COMPANY_CODE], [COURSE_ID], [COURSE_CODE], [COURSE_NAME_TH], [COURSE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 4, N'002', N'การตัดขนแมว', N'Cat Groomong', N'Admin', CAST(N'2023-08-24T13:55:18.100' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_CCOURSE] ([COMPANY_CODE], [COURSE_ID], [COURSE_CODE], [COURSE_NAME_TH], [COURSE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 6, N'01', N'g', N'g', N'Admin', CAST(N'2023-09-11T09:10:22.003' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_ETHNICITY] ([COMPANY_CODE], [ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 4, N'09', N'ออสเตรเลีย', N'Australia', N'Admin', CAST(N'2023-08-24T13:46:27.307' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_ETHNICITY] ([COMPANY_CODE], [ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 6, N'1', N'1', N'1', N'Admin', CAST(N'2023-09-11T09:17:50.667' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_ETHNICITY] ([COMPANY_CODE], [ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'34', N'ไทย', N'thai', N'Not login', CAST(N'2023-01-16T11:59:53.737' AS DateTime), N'Not login', CAST(N'2023-02-24T16:11:01.580' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_FACULTY] ([COMPANY_CODE], [FACULTY_ID], [FACULTY_CODE], [FACULTY_NAME_TH], [FACULTY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'0001', N'คณะหมูกรอบ', N'moo moo', N'Admin', CAST(N'2023-08-24T13:58:46.487' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_FACULTY] ([COMPANY_CODE], [FACULTY_ID], [FACULTY_CODE], [FACULTY_NAME_TH], [FACULTY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 5, N'1', N'1', N'1', N'Admin', CAST(N'2023-09-11T09:20:48.197' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_FACULTY] ([COMPANY_CODE], [FACULTY_ID], [FACULTY_CODE], [FACULTY_NAME_TH], [FACULTY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'FT001', N'คณะบริหารธุรกิจ', N'Faculty of Business Management', N'Admin', CAST(N'2023-08-11T14:25:35.333' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [COMPANY_CODE], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'', N'3', N'มารดา', N'Mother', N'Admin', CAST(N'2023-07-10T09:44:21.653' AS DateTime), N'Admin', CAST(N'2023-07-18T13:59:57.043' AS DateTime), 0)
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [COMPANY_CODE], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (4, N'OPR', N'02', N'สามี', N'Husband', N'Admin', CAST(N'2023-08-24T13:38:33.340' AS DateTime), N'Admin', CAST(N'2023-08-24T13:38:33.340' AS DateTime), 0)
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [COMPANY_CODE], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (5, N'OPR', N'03', N'มารดา', N'', N'Admin', CAST(N'2023-08-24T13:38:33.340' AS DateTime), N'Admin', CAST(N'2023-08-24T13:38:33.340' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_HOSPITAL] ([COMPANY_CODE], [HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'1', N'11', N'1', N'Admin', CAST(N'2023-09-11T09:18:18.887' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_HOSPITAL] ([COMPANY_CODE], [HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 3, N'1210001', N'กลาง', N'กลาง', N'Admin', CAST(N'2023-09-11T11:41:21.170' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_HOSPITAL] ([COMPANY_CODE], [HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 4, N'1210002', N'จุฬาลงกรณ์', N'จุฬาลงกรณ์', N'Admin', CAST(N'2023-09-11T11:41:21.200' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_INSTITUTE] ([COMPANY_CODE], [INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'001', N'จุฬาลงกรณ์มหาวิทยาลัย', N'Chulalongkorn University', N'Admin', CAST(N'2023-09-08T11:32:16.170' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_INSTITUTE] ([COMPANY_CODE], [INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'002', N'มหาวิทยาลัยเชียงใหม่', N'Chiang Mai University', N'Admin', CAST(N'2023-09-08T11:32:16.170' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_INSTITUTE] ([COMPANY_CODE], [INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'003', N'มหาวิทยาลัยมหิดล', N'Mahidol University', N'Admin', CAST(N'2023-09-08T11:32:16.170' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_LOCATION] ([COMPANY_CODE], [LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [LOCATION_LATITUDE], [LOCATION_LONGITUDE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'00000', N'สำนักงานใหญ่', N'CENTER', N'952 อาคารรามาแลนด์ ชั้นที่ 11 ถนนพระรามสี่ แขวงสุริยวงศ์  เขตบางรัก จังหวัดกรุงเทพฯ 10500', N'aaa', N'aaa', N'Admin', CAST(N'2023-07-18T14:19:25.167' AS DateTime), N'Admin', CAST(N'2023-07-31T13:34:26.010' AS DateTime), 0)
INSERT [dbo].[SYS_MT_LOCATION] ([COMPANY_CODE], [LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [LOCATION_LATITUDE], [LOCATION_LONGITUDE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'003', N'โลก', N'Earth', N'', N'', N'', N'Admin', CAST(N'2023-08-24T14:09:06.237' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_LOCATION] ([COMPANY_CODE], [LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [LOCATION_LATITUDE], [LOCATION_LONGITUDE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 5, N'1', N'1', N'1', N'', N'', N'', N'Admin', CAST(N'2023-09-11T09:19:58.010' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_MAJORR] ([COMPANY_CODE], [MAJOR_ID], [MAJOR_CODE], [MAJOR_NAME_TH], [MAJOR_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 4, N'1', N'1', N'1', N'Admin', CAST(N'2023-09-11T09:20:54.567' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_MAJORR] ([COMPANY_CODE], [MAJOR_ID], [MAJOR_CODE], [MAJOR_NAME_TH], [MAJOR_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'a', N'a', N'a', N'Admin', CAST(N'2023-09-09T15:28:34.467' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_MAJORR] ([COMPANY_CODE], [MAJOR_ID], [MAJOR_CODE], [MAJOR_NAME_TH], [MAJOR_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'MJ15', N'ประวัติศาสตร์แมว', N'Cat History', N'Admin', CAST(N'2023-08-24T14:02:38.040' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_PROVINCE] ([COMPANY_CODE], [PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 5, N'1', N'1', N'1', N'Admin', CAST(N'2023-09-11T09:15:55.450' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_PROVINCE] ([COMPANY_CODE], [PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 6, N'10', N'กรุงเทพมหานคร', N'Bangkok', N'Admin', CAST(N'2023-09-11T11:32:43.580' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_PROVINCE] ([COMPANY_CODE], [PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'PSG', 7, N'11', N'สมุทรปราการ', N'Samut Prakan', N'Admin', CAST(N'2023-09-11T11:32:43.597' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_QUALIFICATION] ([COMPANY_CODE], [QUALIFICATION_ID], [QUALIFICATION_CODE], [QUALIFICATION_NAME_TH], [QUALIFICATION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 4, N'1', N'1', N'1', N'Admin', CAST(N'2023-09-11T09:21:11.770' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_QUALIFICATION] ([COMPANY_CODE], [QUALIFICATION_ID], [QUALIFICATION_CODE], [QUALIFICATION_NAME_TH], [QUALIFICATION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'SP', N'ปริญญาโท', N'master', N'Admin', CAST(N'2023-08-24T14:04:05.493' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_QUALIFICATION] ([COMPANY_CODE], [QUALIFICATION_ID], [QUALIFICATION_CODE], [QUALIFICATION_NAME_TH], [QUALIFICATION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'Test', N'ปริณญาตรี', N'Master Degree', N'Admin', CAST(N'2023-08-11T14:30:37.307' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_RELIGION] ([COMPANY_CODE], [RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'1', N'ศาสนาพุทธ', N'Buddhist', N'Not login', CAST(N'2023-01-15T00:35:09.793' AS DateTime), N'Admin', CAST(N'2023-07-07T11:58:23.023' AS DateTime), 1)
INSERT [dbo].[SYS_MT_RELIGION] ([COMPANY_CODE], [RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'2', N'ศาสนาคริสต์', N'Christianity', N'Not login', CAST(N'2023-06-12T10:13:29.830' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_RELIGION] ([COMPANY_CODE], [RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'3', N'ศาสนาอิสลาม', N'Islam4', N'Not login', CAST(N'2023-06-12T10:14:15.697' AS DateTime), N'Admin', CAST(N'2023-07-31T11:57:49.493' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_SUPPLY] ([COMPANY_CODE], [SUPPLY_ID], [SUPPLY_CODE], [SUPPLY_NAME_TH], [SUPPLY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'12', N'ไม้กวาด', N'Broom', N'Admin', CAST(N'2023-07-12T12:00:40.100' AS DateTime), N'Admin', CAST(N'2023-07-12T12:02:32.697' AS DateTime), 1)
INSERT [dbo].[SYS_MT_SUPPLY] ([COMPANY_CODE], [SUPPLY_ID], [SUPPLY_CODE], [SUPPLY_NAME_TH], [SUPPLY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'Test', N'ปากกา', N'Pen', N'Admin', CAST(N'2023-08-10T13:38:24.253' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_SUPPLY] ([COMPANY_CODE], [SUPPLY_ID], [SUPPLY_CODE], [SUPPLY_NAME_TH], [SUPPLY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'H1', N'ค้อนโยเนียร', N'hhhhh', N'Admin', CAST(N'2023-08-24T13:53:35.210' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_TR_POLCODE] ([COMPANY_CODE], [POLCODE_ID], [CODESTRUCTURE_CODE], [POLCODE_LENGHT], [POLCODE_TEXT], [POLCODE_ORDER]) VALUES (N'OPR', 2, N'1CHA', 0, N'', 1)
INSERT [dbo].[SYS_TR_POLCODE] ([COMPANY_CODE], [POLCODE_ID], [CODESTRUCTURE_CODE], [POLCODE_LENGHT], [POLCODE_TEXT], [POLCODE_ORDER]) VALUES (N'PSG', 3, N'4EMT', 1, N'M/D', 1)
INSERT [dbo].[SYS_TR_POLCODE] ([COMPANY_CODE], [POLCODE_ID], [CODESTRUCTURE_CODE], [POLCODE_LENGHT], [POLCODE_TEXT], [POLCODE_ORDER]) VALUES (N'PSG', 4, N'MAUT', 4, N'', 2)
GO
