USE [OPR]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 07/09/2023 4:41:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_HOSPITAL]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_HOSPITAL]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 07/09/2023 4:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_HOSPITAL](
	[HOSPITAL_ID] [int] NOT NULL,
	[HOSPITAL_CODE] [varchar](10) NOT NULL,
	[HOSPITAL_NAME_TH] [varchar](100) NOT NULL,
	[HOSPITAL_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SYS_MT_HOSPITAL] ([HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (4, N'01', N'โรงพยาบาล', N'test', N'Admin', CAST(N'2023-07-18T14:16:28.373' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_HOSPITAL] ([HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (5, N'CATT', N'โรงพยาบาลสัตว์แมวเหมียว', N'Moew Hospital', N'Admin', CAST(N'2023-08-24T13:50:32.277' AS DateTime), NULL, NULL, 1)
GO
