USE [OPR]
GO
/****** Object:  Table [dbo].[PRO_MT_PROJOBMAIN]    Script Date: 21/11/2023 4:28:38 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRO_MT_PROJOBMAIN]') AND type in (N'U'))
DROP TABLE [dbo].[PRO_MT_PROJOBMAIN]
GO
/****** Object:  Table [dbo].[PRO_MT_PROJOBMAIN]    Script Date: 21/11/2023 4:28:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRO_MT_PROJOBMAIN](
	[PROJOBMAIN_ID] [int] NOT NULL,
	[PROJOBMAIN_CODE] [varchar](20) NOT NULL,
	[PROJOBMAIN_NAME_TH] [varchar](100) NOT NULL,
	[PROJOBMAIN_NAME_EN] [varchar](100) NOT NULL,
	[PROJOBMAIN_JOBTYPE] [char](1) NOT NULL,
	[PROJOBMAIN_FROMDATE] [datetime] NULL,
	[PROJOBMAIN_TODATE] [datetime] NULL,
	[PROJOBMAIN_TYPE] [char](1) NOT NULL,
	[PROJOBMAIN_TIMEPOL] [varchar](20) NULL,
	[PROJOBMAIN_SLIP] [varchar](20) NULL,
	[PROJOBMAIN_UNIFORM] [varchar](20) NULL,
	[PROJECT_CODE] [varchar](20) NOT NULL,
	[VERSION] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PRO_MT_PROJOBMAIN] PRIMARY KEY CLUSTERED 
(
	[PROJOBMAIN_CODE] ASC,
	[PROJECT_CODE] ASC,
	[VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
