USE [OPR]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNERCARD]    Script Date: 31/08/2023 17:50:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_FOREIGNERCARD]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_FOREIGNERCARD]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 31/08/2023 17:50:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_MT_WORKER]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_MT_WORKER]
GO
/****** Object:  Table [dbo].[REQ_MT_REQUEST]    Script Date: 31/08/2023 17:50:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_MT_REQUEST]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_MT_REQUEST]
GO
/****** Object:  Table [dbo].[REQ_MT_BLACKLIST]    Script Date: 31/08/2023 17:50:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_MT_BLACKLIST]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_MT_BLACKLIST]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNERCARD]    Script Date: 31/08/2023 17:50:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_TR_FOREIGNERCARD]') AND type in (N'U'))
DROP TABLE [dbo].[EMP_TR_FOREIGNERCARD]
GO
/****** Object:  Table [dbo].[EMP_TR_FOREIGNERCARD]    Script Date: 31/08/2023 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TR_FOREIGNERCARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNERCARD_ID] [int] NOT NULL,
	[FOREIGNERCARD_CODE] [varchar](20) NOT NULL,
	[FOREIGNERCARD_TYPE] [varchar](5) NOT NULL,
	[FOREIGNERCARD_ISSUE] [datetime] NOT NULL,
	[FOREIGNERCARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_EMP_TR_FOREIGNERCARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNERCARD_CODE] ASC,
	[FOREIGNERCARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_MT_BLACKLIST]    Script Date: 31/08/2023 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_BLACKLIST](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[BLACKLIST_ID] [int] NOT NULL,
	[CARD_NO] [varchar](13) NOT NULL,
	[WORKER_CODE] [varchar](15) NULL,
	[BLACKLIST_FNAME_TH] [varchar](200) NOT NULL,
	[BLACKLIST_LNAME_TH] [varchar](200) NOT NULL,
	[BLACKLIST_FNAME_EN] [varchar](200) NOT NULL,
	[BLACKLIST_LNAME_EN] [varchar](200) NOT NULL,
	[REASON_CODE] [varchar](5) NULL,
	[BLACKLIST_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_BLACKLIST] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[BLACKLIST_ID] ASC,
	[CARD_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_MT_REQUEST]    Script Date: 31/08/2023 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_REQUEST](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[REQUEST_ID] [int] NOT NULL,
	[REQUEST_CODE] [varchar](5) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[REQUEST_STARTDATE] [datetime] NOT NULL,
	[REQUEST_ENDDATE] [datetime] NOT NULL,
	[REQUEST_POSITION] [varchar](30) NOT NULL,
	[REQUEST_PROJECT] [varchar](30) NOT NULL,
	[REQUEST_EMPLOYEE_TYPE] [varchar](30) NOT NULL,
	[REQUEST_QUANTITY] [decimal](4, 2) NULL,
	[REQUEST_URGENCY] [varchar](30) NOT NULL,
	[REQUEST_NOTE] [varchar](200) NULL,
	[REQUEST_ACCEPTED] [decimal](4, 2) NULL,
	[REQUEST_STATUS] [int] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_REQUEST] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[REQUEST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 31/08/2023 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_WORKER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[WORKER_CARD] [varchar](15) NULL,
	[WORKER_INITIAL] [varchar](15) NOT NULL,
	[WORKER_FNAME_TH] [varchar](200) NOT NULL,
	[WORKER_LNAME_TH] [varchar](200) NOT NULL,
	[WORKER_FNAME_EN] [varchar](200) NOT NULL,
	[WORKER_LNAME_EN] [varchar](200) NOT NULL,
	[WORKER_TYPE] [varchar](5) NULL,
	[WORKER_GENDER] [char](1) NOT NULL,
	[WORKER_BIRTHDATE] [datetime] NULL,
	[WORKER_HIREDATE] [datetime] NOT NULL,
	[WORKER_STATUS] [varchar](5) NULL,
	[RELIGION_CODE] [varchar](5) NULL,
	[BLOOD_CODE] [varchar](5) NULL,
	[WORKER_HEIGHT] [decimal](18, 2) NULL,
	[WORKER_WEIGHT] [decimal](18, 2) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[WORKER_TEL] [varchar](30) NULL,
	[WORKER_EMAIL] [varchar](50) NULL,
	[WORKER_LINE] [varchar](50) NULL,
	[WORKER_FACEBOOK] [varchar](50) NULL,
	[WORKER_MILITARY] [varchar](5) NULL,
	[NATIONALITY_CODE] [varchar](5) NULL,
	[WORKER_CARDNO] [varchar](13) NULL,
	[WORKER_CARDNOISSUEDATE] [datetime] NULL,
	[WORKER_CARDNOEXPIREDATE] [datetime] NULL,
	[STATUS] [char](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_WORKER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_FOREIGNERCARD]    Script Date: 31/08/2023 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_FOREIGNERCARD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[FOREIGNERCARD_ID] [int] NOT NULL,
	[FOREIGNERCARD_CODE] [varchar](20) NOT NULL,
	[FOREIGNERCARD_TYPE] [varchar](5) NOT NULL,
	[FOREIGNERCARD_ISSUE] [datetime] NOT NULL,
	[FOREIGNERCARD_EXPIRE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_FOREIGNERCARD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[FOREIGNERCARD_CODE] ASC,
	[FOREIGNERCARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMP_TR_FOREIGNERCARD] ([COMPANY_CODE], [WORKER_CODE], [FOREIGNERCARD_ID], [FOREIGNERCARD_CODE], [FOREIGNERCARD_TYPE], [FOREIGNERCARD_ISSUE], [FOREIGNERCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'A2300001', 4, N'099877798788787', N'PASS', CAST(N'2023-08-01T00:00:00.000' AS DateTime), CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-08-29T14:42:55.277' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_FOREIGNERCARD] ([COMPANY_CODE], [WORKER_CODE], [FOREIGNERCARD_ID], [FOREIGNERCARD_CODE], [FOREIGNERCARD_TYPE], [FOREIGNERCARD_ISSUE], [FOREIGNERCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'A2300001', 5, N'P223232312', N'VISA', CAST(N'2023-08-04T00:00:00.000' AS DateTime), CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-08-29T14:42:59.333' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[EMP_TR_FOREIGNERCARD] ([COMPANY_CODE], [WORKER_CODE], [FOREIGNERCARD_ID], [FOREIGNERCARD_CODE], [FOREIGNERCARD_TYPE], [FOREIGNERCARD_ISSUE], [FOREIGNERCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'A2300001', 6, N'WW0101922323', N'WORK', CAST(N'2023-08-04T00:00:00.000' AS DateTime), CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-08-29T14:42:59.477' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_MT_BLACKLIST] ([COMPANY_CODE], [BLACKLIST_ID], [CARD_NO], [WORKER_CODE], [BLACKLIST_FNAME_TH], [BLACKLIST_LNAME_TH], [BLACKLIST_FNAME_EN], [BLACKLIST_LNAME_EN], [REASON_CODE], [BLACKLIST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'2312312312312', NULL, N'BB', N'BB', N'BB', N'BB', N'01', N'', N'Admin', CAST(N'2023-08-28T09:41:30.803' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_MT_BLACKLIST] ([COMPANY_CODE], [BLACKLIST_ID], [CARD_NO], [WORKER_CODE], [BLACKLIST_FNAME_TH], [BLACKLIST_LNAME_TH], [BLACKLIST_FNAME_EN], [BLACKLIST_LNAME_EN], [REASON_CODE], [BLACKLIST_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'9999999999999', N'M00001', N'ต้นไม่้', N'ธรรมชาติ', N'tonmai', N'tammachad', N'01', N'uu', N'Admin', CAST(N'2023-08-28T13:58:40.000' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[REQ_TR_FOREIGNERCARD] ([COMPANY_CODE], [WORKER_CODE], [FOREIGNERCARD_ID], [FOREIGNERCARD_CODE], [FOREIGNERCARD_TYPE], [FOREIGNERCARD_ISSUE], [FOREIGNERCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202308210932', 1, N'099877798788787', N'PASS', CAST(N'2023-08-01T00:00:00.000' AS DateTime), CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-08-29T13:47:25.913' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_FOREIGNERCARD] ([COMPANY_CODE], [WORKER_CODE], [FOREIGNERCARD_ID], [FOREIGNERCARD_CODE], [FOREIGNERCARD_TYPE], [FOREIGNERCARD_ISSUE], [FOREIGNERCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202308210932', 2, N'P223232312', N'VISA', CAST(N'2023-08-04T00:00:00.000' AS DateTime), CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-08-29T13:47:26.087' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_FOREIGNERCARD] ([COMPANY_CODE], [WORKER_CODE], [FOREIGNERCARD_ID], [FOREIGNERCARD_CODE], [FOREIGNERCARD_TYPE], [FOREIGNERCARD_ISSUE], [FOREIGNERCARD_EXPIRE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202308210932', 3, N'WW0101922323', N'WORK', CAST(N'2023-08-04T00:00:00.000' AS DateTime), CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-08-29T13:47:26.600' AS DateTime), NULL, NULL, 1)
GO
