USE [OPR]
GO
/****** Object:  Table [dbo].[SYS_TR_TASKWHOSE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_TR_TASKWHOSE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_TR_TASKWHOSE]
GO
/****** Object:  Table [dbo].[SYS_TR_TASKDETAIL]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_TR_TASKDETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_TR_TASKDETAIL]
GO
/****** Object:  Table [dbo].[SYS_TR_ROUND]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_TR_ROUND]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_TR_ROUND]
GO
/****** Object:  Table [dbo].[SYS_TR_REPORTJOBWHOSE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_TR_REPORTJOBWHOSE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_TR_REPORTJOBWHOSE]
GO
/****** Object:  Table [dbo].[SYS_TR_POLCODE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_TR_POLCODE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_TR_POLCODE]
GO
/****** Object:  Table [dbo].[SYS_TR_COMIMAGESMAPS]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_TR_COMIMAGESMAPS]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_TR_COMIMAGESMAPS]
GO
/****** Object:  Table [dbo].[SYS_TR_COMIMAGESLOGO]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_TR_COMIMAGESLOGO]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_TR_COMIMAGESLOGO]
GO
/****** Object:  Table [dbo].[SYS_MT_YEAR]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_YEAR]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_YEAR]
GO
/****** Object:  Table [dbo].[SYS_MT_UNIFORM]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_UNIFORM]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_UNIFORM]
GO
/****** Object:  Table [dbo].[SYS_MT_TASK]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_TASK]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_TASK]
GO
/****** Object:  Table [dbo].[SYS_MT_SUPPLY]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_SUPPLY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_SUPPLY]
GO
/****** Object:  Table [dbo].[SYS_MT_ROUND]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_ROUND]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_ROUND]
GO
/****** Object:  Table [dbo].[SYS_MT_REPORTJOB]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_REPORTJOB]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_REPORTJOB]
GO
/****** Object:  Table [dbo].[SYS_MT_RELIGION]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_RELIGION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_RELIGION]
GO
/****** Object:  Table [dbo].[SYS_MT_REDUCE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_REDUCE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_REDUCE]
GO
/****** Object:  Table [dbo].[SYS_MT_REASON]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_REASON]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_REASON]
GO
/****** Object:  Table [dbo].[SYS_MT_QUALIFICATION]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_QUALIFICATION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_QUALIFICATION]
GO
/****** Object:  Table [dbo].[SYS_MT_PROVINCE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_PROVINCE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_PROVINCE]
GO
/****** Object:  Table [dbo].[SYS_MT_POLROUND]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_POLROUND]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_POLROUND]
GO
/****** Object:  Table [dbo].[SYS_MT_POLCODE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_POLCODE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_POLCODE]
GO
/****** Object:  Table [dbo].[SYS_MT_MAJORR]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_MAJORR]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_MAJORR]
GO
/****** Object:  Table [dbo].[SYS_MT_LOCATION]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_LOCATION]
GO
/****** Object:  Table [dbo].[SYS_MT_LEVEL]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_LEVEL]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_LEVEL]
GO
/****** Object:  Table [dbo].[SYS_MT_INSTITUTE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_INSTITUTE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_INSTITUTE]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_HOSPITAL]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_HOSPITAL]
GO
/****** Object:  Table [dbo].[SYS_MT_FAMILY]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_FAMILY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_FAMILY]
GO
/****** Object:  Table [dbo].[SYS_MT_FACULTY]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_FACULTY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_FACULTY]
GO
/****** Object:  Table [dbo].[SYS_MT_ETHNICITY]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_ETHNICITY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_ETHNICITY]
GO
/****** Object:  Table [dbo].[SYS_MT_EMPID]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_EMPID]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_EMPID]
GO
/****** Object:  Table [dbo].[SYS_MT_COURSE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_COURSE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_COURSE]
GO
/****** Object:  Table [dbo].[SYS_MT_COMPANYS]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_COMPANYS]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_COMPANYS]
GO
/****** Object:  Table [dbo].[SYS_MT_COMLOCATION]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_COMLOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_COMLOCATION]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBRANCH]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_COMBRANCH]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_COMBRANCH]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBANkK]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_COMBANkK]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_COMBANkK]
GO
/****** Object:  Table [dbo].[SYS_MT_COMADDRES]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_COMADDRES]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_COMADDRES]
GO
/****** Object:  Table [dbo].[SYS_MT_COMADDLOCATION]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_COMADDLOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_COMADDLOCATION]
GO
/****** Object:  Table [dbo].[SYS_MT_CODESTRUCTURE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_CODESTRUCTURE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_CODESTRUCTURE]
GO
/****** Object:  Table [dbo].[SYS_MT_CCOURSE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_CCOURSE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_CCOURSE]
GO
/****** Object:  Table [dbo].[SYS_MT_CARDTYPE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_CARDTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_CARDTYPE]
GO
/****** Object:  Table [dbo].[SYS_MT_BLOODTYPE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_BLOODTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_BLOODTYPE]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_BANK]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_BANK]
GO
/****** Object:  Table [dbo].[SYS_MT_ADDRESSTYPE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_ADDRESSTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_ADDRESSTYPE]
GO
/****** Object:  Table [dbo].[PAY_TR_TAXRATE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_TAXRATE]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_TAXRATE]
GO
/****** Object:  Table [dbo].[PAY_TR_PROVIDENT_WORKAGE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PROVIDENT_WORKAGE]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PROVIDENT_WORKAGE]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYTRAN]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYTRAN]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYTRAN]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYTAXWITHHOLDING]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYTAXWITHHOLDING]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYTAXWITHHOLDING]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYREDUCE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYREDUCE]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYREDUCE]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPOLPROVIDENT]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYPOLPROVIDENT]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYPOLPROVIDENT]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPOLITEM]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYPOLITEM]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYPOLITEM]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPOLBONUS]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYPOLBONUS]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYPOLBONUS]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPF]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYPF]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYPF]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYITEM]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYITEM]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYITEM]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYBONUS]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYBONUS]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYBONUS]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYBANK]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_PAYBANK]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_PAYBANK]
GO
/****** Object:  Table [dbo].[PAY_TR_BONUSRATE]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_TR_BONUSRATE]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_TR_BONUSRATE]
GO
/****** Object:  Table [dbo].[PAY_MT_PROVIDENT]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_MT_PROVIDENT]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_MT_PROVIDENT]
GO
/****** Object:  Table [dbo].[PAY_MT_PERIOD]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_MT_PERIOD]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_MT_PERIOD]
GO
/****** Object:  Table [dbo].[PAY_MT_ITEM]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_MT_ITEM]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_MT_ITEM]
GO
/****** Object:  Table [dbo].[PAY_MT_BONUS]    Script Date: 20/07/2023 11:36:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAY_MT_BONUS]') AND type in (N'U'))
DROP TABLE [dbo].[PAY_MT_BONUS]
GO
/****** Object:  Table [dbo].[PAY_MT_BONUS]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_MT_BONUS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[BONUS_ID] [int] NOT NULL,
	[BONUS_CODE] [varchar](10) NOT NULL,
	[BONUS_NAME_TH] [varchar](200) NOT NULL,
	[BONUS_NAME_EN] [varchar](200) NOT NULL,
	[ITEM_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_MT_BONUS] PRIMARY KEY CLUSTERED 
(
	[BONUS_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_MT_ITEM]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_MT_ITEM](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[ITEM_CODE] [varchar](20) NOT NULL,
	[ITEM_NAME_TH] [varchar](100) NOT NULL,
	[ITEM_NAME_EN] [varchar](100) NOT NULL,
	[ITEM_TYPE] [char](2) NOT NULL,
	[ITEM_REGULAR] [char](1) NOT NULL,
	[ITEM_CALTAX] [char](1) NOT NULL,
	[ITEM_CALPF] [char](1) NOT NULL,
	[ITEM_CALSSO] [char](1) NOT NULL,
	[ITEM_CALOT] [char](1) NOT NULL,
	[ITEM_ALLOWANCE] [char](1) NOT NULL,
	[ITEM_CONTAX] [char](1) NOT NULL,
	[ITEM_SECTION] [char](1) NOT NULL,
	[ITEM_RATE] [decimal](5, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_MT_ITEM] PRIMARY KEY CLUSTERED 
(
	[ITEM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_MT_PERIOD]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_MT_PERIOD](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[PERIOD_ID] [int] NOT NULL,
	[PERIOD_TYPE] [char](3) NOT NULL,
	[EMPTYPE_CODE] [char](1) NOT NULL,
	[YEAR_CODE] [char](4) NOT NULL,
	[PERIOD_NO] [char](2) NOT NULL,
	[PERIOD_NAME_TH] [varchar](200) NOT NULL,
	[PERIOD_NAME_EN] [varchar](200) NOT NULL,
	[PERIOD_FROM] [datetime] NOT NULL,
	[PERIOD_TO] [datetime] NOT NULL,
	[PERIOD_PAYMENT] [datetime] NOT NULL,
	[PERIOD_DAYONPERIOD] [bit] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_MT_PERIOD] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PERIOD_TYPE] ASC,
	[EMPTYPE_CODE] ASC,
	[YEAR_CODE] ASC,
	[PERIOD_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_MT_PROVIDENT]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_MT_PROVIDENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[PROVIDENT_ID] [int] NOT NULL,
	[PROVIDENT_CODE] [varchar](10) NOT NULL,
	[PROVIDENT_NAME_TH] [varchar](200) NOT NULL,
	[PROVIDENT_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_MT_PROVIDENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROVIDENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_BONUSRATE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_BONUSRATE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[BONUS_CODE] [varchar](10) NOT NULL,
	[BONUSRATE_FROM] [decimal](5, 2) NOT NULL,
	[BONUSRATE_TO] [decimal](5, 2) NOT NULL,
	[BONUSRATE_RATE] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_PAY_TR_BONUSRATE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[BONUS_CODE] ASC,
	[BONUSRATE_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYBANK]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYBANK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYBANK_BANKCODE] [varchar](20) NOT NULL,
	[PAYBANK_BANKACCOUNT] [varchar](20) NOT NULL,
	[PAYBANK_AMOUNT] [decimal](12, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[BANK_BANKNAME] [varchar](100) NULL,
 CONSTRAINT [PK_PAY_TR_PAYBANK] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYBONUS]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYBONUS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYBONUS_DATE] [datetime] NOT NULL,
	[PAYBONUS_AMOUNT] [decimal](12, 2) NOT NULL,
	[PAYBONUS_QUANTITY] [decimal](7, 2) NOT NULL,
	[PAYBONUS_RATE] [decimal](7, 2) NOT NULL,
	[PAYBONUS_TAX] [decimal](12, 2) NOT NULL,
	[PAYBONUS_NETPAY] [decimal](12, 2) NOT NULL,
	[PAYBONUS_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_TR_PAYBONUS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYBONUS_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYITEM]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYITEM](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[ITEM_CODE] [varchar](20) NOT NULL,
	[PAYITEM_DATE] [datetime] NOT NULL,
	[PAYITEM_AMOUNT] [decimal](12, 2) NOT NULL,
	[PAYITEM_QUANTITY] [decimal](7, 2) NOT NULL,
	[PAYITEM_PAYTYPE] [char](1) NOT NULL,
	[PAYITEM_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_TR_PAYITEM] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[ITEM_CODE] ASC,
	[PAYITEM_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPF]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYPF](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PROVIDENT_CODE] [varchar](10) NOT NULL,
	[PAYPF_DATE] [datetime] NOT NULL,
	[PAYPF_EMP_RATE] [decimal](5, 2) NOT NULL,
	[PAYPF_EMP_AMOUNT] [decimal](12, 2) NOT NULL,
	[PAYPF_COM_RATE] [decimal](5, 2) NOT NULL,
	[PAYPF_COM_AMOUNT] [decimal](12, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_TR_PAYPF] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PROVIDENT_CODE] ASC,
	[PAYPF_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPOLBONUS]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYPOLBONUS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYPOLBONUS_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[FLAG] [bit] NULL,
 CONSTRAINT [PK_PAY_TR_PAYPOLBONUS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYPOLBONUS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPOLITEM]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYPOLITEM](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYPOLITEM_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[FLAG] [bit] NULL,
 CONSTRAINT [PK_PAY_TR_PAYPOLITEM] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYPOLITEM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYPOLPROVIDENT]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYPOLPROVIDENT](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYPOLPROVIDENT_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[FLAG] [bit] NULL,
 CONSTRAINT [PK_PAY_TR_PAYPOLPROVIDENT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYPOLPROVIDENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYREDUCE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYREDUCE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYREDUCE_PAYDATE] [datetime] NOT NULL,
	[REDUCE_CODE] [varchar](5) NOT NULL,
	[PAYREDUCE_AMOUNT] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_PAY_TR_PAYREDUCE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYREDUCE_PAYDATE] ASC,
	[REDUCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYTAXWITHHOLDING]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYTAXWITHHOLDING](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYTAXWITHHOLDING_DATE] [datetime] NOT NULL,
	[PAYTAXWITHHOLDING_AMOUNT] [decimal](12, 2) NOT NULL,
	[PAYTAXWITHHOLDING_TAX] [decimal](8, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_TR_PAYTAXWITHHOLDING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYTAXWITHHOLDING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PAYTRAN]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PAYTRAN](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[PAYTRAN_PAYDATE] [datetime] NOT NULL,
	[PAYTRAN_SSOEMP] [decimal](12, 2) NOT NULL,
	[PAYTRAN_SSOCOM] [decimal](12, 2) NOT NULL,
	[PAYTRAN_SSORATEEMP] [decimal](5, 2) NOT NULL,
	[PAYTRAN_SSORATECOM] [decimal](5, 2) NOT NULL,
	[PAYTRAN_PFEMP] [decimal](8, 2) NOT NULL,
	[PAYTRAN_PFCOM] [decimal](8, 2) NOT NULL,
	[PAYTRAN_INCOME_401] [decimal](12, 2) NULL,
	[PAYTRAN_DEDUCT_401] [decimal](12, 2) NULL,
	[PAYTRAN_TAX_401] [decimal](12, 2) NULL,
	[PAYTRAN_INCOME_4012] [decimal](12, 2) NULL,
	[PAYTRAN_DEDUCT_4012] [decimal](12, 2) NULL,
	[PAYTRAN_TAX_4012] [decimal](12, 2) NULL,
	[PAYTRAN_INCOME_4013] [decimal](12, 2) NULL,
	[PAYTRAN_DEDUCT_4013] [decimal](12, 2) NULL,
	[PAYTRAN_TAX_4013] [decimal](12, 2) NULL,
	[PAYTRAN_INCOME_402I] [decimal](12, 2) NULL,
	[PAYTRAN_DEDUCT_402I] [decimal](12, 2) NULL,
	[PAYTRAN_TAX_402I] [decimal](12, 2) NULL,
	[PAYTRAN_INCOME_402O] [decimal](12, 2) NULL,
	[PAYTRAN_DEDUCT_402O] [decimal](12, 2) NULL,
	[PAYTRAN_TAX_402O] [decimal](12, 2) NULL,
	[PAYTRAN_INCOME_NOTAX] [decimal](12, 2) NULL,
	[PAYTRAN_DEDUCT_NOTAX] [decimal](12, 2) NULL,
	[PAYTRAN_INCOME_TOTAL] [decimal](12, 2) NOT NULL,
	[PAYTRAN_DEDUCT_TOTAL] [decimal](12, 2) NOT NULL,
	[PAYTRAN_NETPAY_B] [decimal](12, 2) NOT NULL,
	[PAYTRAN_NEYPAY_C] [decimal](12, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_TR_PAYTRAN] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[PAYTRAN_PAYDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_PROVIDENT_WORKAGE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_PROVIDENT_WORKAGE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[PROVIDENT_CODE] [varchar](10) NOT NULL,
	[WORKAGE_FROM] [decimal](6, 2) NOT NULL,
	[WORKAGE_TO] [decimal](6, 2) NOT NULL,
	[RATE_EMP] [decimal](6, 2) NOT NULL,
	[RATE_COM] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_PAY_TR_PROVIDENT_WORKAGE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[PROVIDENT_CODE] ASC,
	[WORKAGE_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_TR_TAXRATE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_TR_TAXRATE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[TAXRATE_ID] [int] NOT NULL,
	[TAXRATE_FROM] [decimal](12, 2) NOT NULL,
	[TAXRATE_TO] [decimal](12, 2) NOT NULL,
	[TAXRATE_TAX] [decimal](7, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_PAY_TR_TAXRATE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[TAXRATE_FROM] ASC,
	[TAXRATE_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ADDRESSTYPE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ADDRESSTYPE](
	[ADDRESSTYPE_ID] [int] NOT NULL,
	[ADDRESSTYPE_CODE] [varchar](5) NOT NULL,
	[ADDRESSTYPE_NAME_TH] [varchar](200) NOT NULL,
	[ADDRESSTYPE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_ADDRESSTYPE] PRIMARY KEY CLUSTERED 
(
	[ADDRESSTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BANK](
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](5) NOT NULL,
	[BANK_NAME_TH] [varchar](100) NOT NULL,
	[BANK_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BANK] PRIMARY KEY CLUSTERED 
(
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BLOODTYPE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BLOODTYPE](
	[BLOODTYPE_ID] [int] NOT NULL,
	[BLOODTYPE_CODE] [varchar](5) NOT NULL,
	[BLOODTYPE_NAME_TH] [varchar](100) NOT NULL,
	[BLOODTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BLOODTYPE] PRIMARY KEY CLUSTERED 
(
	[BLOODTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CARDTYPE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CARDTYPE](
	[CARDTYPE_ID] [int] NOT NULL,
	[CARDTYPE_CODE] [varchar](5) NOT NULL,
	[CARDTYPE_NAME_TH] [varchar](100) NOT NULL,
	[CARDTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_CARDTYPE] PRIMARY KEY CLUSTERED 
(
	[CARDTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CCOURSE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CCOURSE](
	[COURSE_ID] [int] NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[COURSE_NAME_TH] [varchar](200) NOT NULL,
	[COURSE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_CCOURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CODESTRUCTURE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CODESTRUCTURE](
	[CODESTRUCTURE_CODE] [varchar](5) NOT NULL,
	[CODESTRUCTURE_NAME_TH] [varchar](100) NOT NULL,
	[CODESTRUCTURE_NAME_EN] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SYS_MT_CODESTRUCTURE] PRIMARY KEY CLUSTERED 
(
	[CODESTRUCTURE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMADDLOCATION]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMADDLOCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMLOCATION_CODE] [varchar](5) NOT NULL,
	[COMADDRESS_TYPE] [char](1) NOT NULL,
	[COMADDLOCATIONTH_NO] [varchar](30) NULL,
	[COMADDLOCATIONEN_NO] [varchar](30) NULL,
	[COMADDLOCATIONTH_MOO] [varchar](30) NULL,
	[COMADDLOCATIONEN_MOO] [varchar](30) NULL,
	[COMADDLOCATIONTH_SOI] [varchar](100) NULL,
	[COMADDLOCATIONEN_SOI] [varchar](100) NULL,
	[COMADDLOCATIONTH_ROAD] [varchar](100) NULL,
	[COMADDLOCATIONEN_ROAD] [varchar](100) NULL,
	[COMADDLOCATIONTH_TAMBON] [varchar](100) NULL,
	[COMADDLOCATIONEN_TAMBON] [varchar](100) NULL,
	[COMADDLOCATIONTH_AMPHUR] [varchar](100) NULL,
	[COMADDLOCATIONEN_AMPHUR] [varchar](100) NULL,
	[PROVINCETH_CODE] [varchar](30) NULL,
	[PROVINCEEN_CODE] [varchar](30) NULL,
	[COMADDLOCATION_ZIPCODE] [varchar](30) NULL,
	[COMADDLOCATION_TEL] [varchar](30) NULL,
	[COMADDLOCATION_EMAIL] [varchar](50) NULL,
	[COMADDLOCATION_LINE] [varchar](50) NULL,
	[COMADDLOCATION_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMADDLOCATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMADDRESS_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMADDRES]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMADDRES](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMBRANCH_CODE] [varchar](5) NOT NULL,
	[COMADDRES_TYPE] [char](3) NOT NULL,
	[COMADDRES_NOTH] [varchar](30) NULL,
	[COMADDRES_MOOTH] [varchar](30) NULL,
	[COMADDRES_SOITH] [varchar](100) NULL,
	[COMADDRES_ROADTH] [varchar](100) NULL,
	[COMADDRES_TAMBONTH] [varchar](100) NULL,
	[COMADDRES_AMPHURTH] [varchar](100) NULL,
	[COMADDRES_NOEN] [varchar](30) NULL,
	[COMADDRES_MOOEN] [varchar](30) NULL,
	[COMADDRES_SOIEN] [varchar](100) NULL,
	[COMADDRES_ROADEN] [varchar](100) NULL,
	[COMADDRES_TAMBONEN] [varchar](100) NULL,
	[COMADDRES_AMPHUREN] [varchar](100) NULL,
	[PROVINCE_CODE] [varchar](30) NULL,
	[COMADDRES_ZIPCODE] [varchar](30) NULL,
	[COMADDRES_TEL] [varchar](30) NULL,
	[COMADDRES_EMAIL] [varchar](50) NULL,
	[COMADDRES_LINE] [varchar](50) NULL,
	[COMADDRES_FACEBOOK] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMADDRES] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMBRANCH_CODE] ASC,
	[COMADDRES_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBANkK]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMBANkK](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMBANK_ID] [int] NOT NULL,
	[COMBANK_BANKCODE] [varchar](20) NOT NULL,
	[COMBANK_BANKACCOUNT] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMBANKk] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMBANK_BANKACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMBRANCH]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMBRANCH](
	[COMBRANCH_ID] [int] NOT NULL,
	[SSO_BRANCH_NO] [varchar](10) NOT NULL,
	[COMBRANCH_CODE] [varchar](10) NOT NULL,
	[COMBRANCH_NAME_TH] [varchar](200) NOT NULL,
	[COMBRANCH_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMBRANCH] PRIMARY KEY CLUSTERED 
(
	[COMBRANCH_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMLOCATION]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMLOCATION](
	[COMLOCATION_ID] [int] NOT NULL,
	[COMLOCATION_CODE] [varchar](10) NOT NULL,
	[COMLOCATION_NAME_TH] [varchar](200) NOT NULL,
	[COMLOCATION_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMLOCATION] PRIMARY KEY CLUSTERED 
(
	[COMLOCATION_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COMPANYS]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COMPANYS](
	[COMPANY_ID] [int] NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMPANY_INITIALS] [varchar](200) NULL,
	[COMPANY_NAME_TH] [varchar](200) NOT NULL,
	[COMPANY_NAME_EN] [varchar](200) NOT NULL,
	[SSO_TAX_NO] [varchar](20) NULL,
	[CITIZEN_NO] [varchar](20) NULL,
	[PROVIDENT_FUND_NO] [varchar](20) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[SSO_MIN_AGE] [int] NULL,
	[SSO_MAX_AGE] [int] NULL,
	[SSO_SECURITY_NO] [varchar](20) NULL,
	[SSO_BRANCH_NO] [varchar](20) NULL,
	[SSO_COM_RATE] [decimal](10, 2) NULL,
	[SSO_EMP_RATE] [decimal](10, 2) NULL,
	[SSO_MIN_WAGE] [decimal](10, 2) NULL,
	[SSO_MAX_WAGE] [decimal](10, 2) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COMPANYS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_COURSE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_COURSE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[COURSE_NAME_TH] [varchar](200) NOT NULL,
	[COURSE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_COURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_EMPID]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_EMPID](
	[EMPID_ID] [int] NOT NULL,
	[EMPID_CODE] [varchar](5) NOT NULL,
	[EMPID_NAME_TH] [varchar](200) NOT NULL,
	[EMPID_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_EMPID] PRIMARY KEY CLUSTERED 
(
	[EMPID_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ETHNICITY]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ETHNICITY](
	[ETHNICITY_ID] [int] NOT NULL,
	[ETHNICITY_CODE] [varchar](5) NOT NULL,
	[ETHNICITY_NAME_TH] [varchar](100) NOT NULL,
	[ETHNICITY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ETHNICITY] PRIMARY KEY CLUSTERED 
(
	[ETHNICITY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FACULTY]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FACULTY](
	[FACULTY_ID] [int] NOT NULL,
	[FACULTY_CODE] [varchar](10) NOT NULL,
	[FACULTY_NAME_TH] [varchar](200) NOT NULL,
	[FACULTY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_FACULTY] PRIMARY KEY CLUSTERED 
(
	[FACULTY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FAMILY]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FAMILY](
	[FAMILY_ID] [int] NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[FAMILY_CODE] [varchar](5) NOT NULL,
	[FAMILY_NAME_TH] [varchar](100) NOT NULL,
	[FAMILY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_FAMILY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[FAMILY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_HOSPITAL](
	[HOSPITAL_ID] [int] NOT NULL,
	[HOSPITAL_CODE] [varchar](5) NOT NULL,
	[HOSPITAL_NAME_TH] [varchar](100) NOT NULL,
	[HOSPITAL_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_INSTITUTE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_INSTITUTE](
	[INSTITUTE_ID] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NOT NULL,
	[INSTITUTE_NAME_TH] [varchar](200) NOT NULL,
	[INSTITUTE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_INSTITUTE] PRIMARY KEY CLUSTERED 
(
	[INSTITUTE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_LEVEL]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_LEVEL](
	[LEVEL_ID] [int] NOT NULL,
	[LEVEL_CODE] [char](2) NOT NULL,
	[LEVEL_NAME_TH] [varchar](200) NOT NULL,
	[LEVEL_NAME_EN] [varchar](200) NOT NULL,
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_LEVEL] PRIMARY KEY CLUSTERED 
(
	[LEVEL_CODE] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_LOCATION]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_LOCATION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[LOCATION_ID] [int] NOT NULL,
	[LOCATION_CODE] [varchar](5) NOT NULL,
	[LOCATION_NAME_TH] [varchar](100) NOT NULL,
	[LOCATION_NAME_EN] [varchar](100) NOT NULL,
	[LOCATION_DETAIL] [varchar](500) NULL,
	[LOCATION_LATITUDE] [varchar](100) NULL,
	[LOCATION_LONGITUDE] [varchar](100) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_MAJORR]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_MAJORR](
	[MAJOR_ID] [int] NOT NULL,
	[MAJOR_CODE] [varchar](10) NOT NULL,
	[MAJOR_NAME_TH] [varchar](200) NOT NULL,
	[MAJOR_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_MAJORR] PRIMARY KEY CLUSTERED 
(
	[MAJOR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_POLCODE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_POLCODE](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[POLCODE_ID] [int] NOT NULL,
	[POLCODE_TYPE] [varchar](3) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_POLCODE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[POLCODE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_POLROUND]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_POLROUND](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[POLROUND_PF] [varchar](5) NULL,
	[POLROUND_SSO] [varchar](5) NULL,
	[POLROUND_TAX] [varchar](5) NULL,
	[POLROUND_WAGE_DAY] [varchar](5) NULL,
	[POLROUND_WAGE_SUMMARY] [varchar](5) NULL,
	[POLROUND_OT_DAY] [varchar](5) NULL,
	[POLROUND_OT_SUMMARY] [varchar](5) NULL,
	[POLROUND_ABSENT] [varchar](5) NULL,
	[POLROUND_LATE] [varchar](5) NULL,
	[POLROUND_LEAVE] [varchar](5) NULL,
	[POLROUND_NETPAY] [varchar](5) NULL,
	[POLROUND_TIMELATE] [varchar](5) NULL,
	[POLROUND_TIMELEAVE] [varchar](5) NULL,
	[POLROUND_TIMEOT] [varchar](5) NULL,
	[POLROUND_TIMEWORKING] [varchar](5) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_POLROUND] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_PROVINCE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_PROVINCE](
	[PROVINCE_ID] [int] NOT NULL,
	[PROVINCE_CODE] [varchar](5) NOT NULL,
	[PROVINCE_NAME_TH] [varchar](200) NOT NULL,
	[PROVINCE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_QUALIFICATION]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_QUALIFICATION](
	[QUALIFICATION_ID] [int] NOT NULL,
	[QUALIFICATION_CODE] [varchar](10) NOT NULL,
	[QUALIFICATION_NAME_TH] [varchar](200) NOT NULL,
	[QUALIFICATION_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_QUALIFICATION] PRIMARY KEY CLUSTERED 
(
	[QUALIFICATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REASON]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REASON](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[REASON_ID] [int] NOT NULL,
	[REASON_CODE] [varchar](5) NOT NULL,
	[REASON_NAME_TH] [varchar](100) NOT NULL,
	[REASON_NAME_EN] [varchar](100) NOT NULL,
	[REASON_GROUP] [varchar](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REASON] PRIMARY KEY CLUSTERED 
(
	[REASON_CODE] ASC,
	[REASON_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REDUCE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REDUCE](
	[REDUCE_ID] [int] NOT NULL,
	[REDUCE_CODE] [varchar](5) NOT NULL,
	[REDUCE_NAME_TH] [varchar](100) NOT NULL,
	[REDUCE_NAME_EN] [varchar](100) NOT NULL,
	[REDUCE_AMOUNT] [decimal](12, 2) NOT NULL,
	[REDUCE_PERCENT] [decimal](6, 2) NOT NULL,
	[REDUCE_PERCENT_MAX] [decimal](12, 2) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REDUCE] PRIMARY KEY CLUSTERED 
(
	[REDUCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_RELIGION]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_RELIGION](
	[RELIGION_ID] [int] NOT NULL,
	[RELIGION_CODE] [varchar](5) NOT NULL,
	[RELIGION_NAME_TH] [varchar](100) NOT NULL,
	[RELIGION_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_RELIGION] PRIMARY KEY CLUSTERED 
(
	[RELIGION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REPORTJOB]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REPORTJOB](
	[COMPANY_CODE] [varchar](10) NOT NULL,
	[PROJECT_CODE] [varchar](20) NULL,
	[REPORTJOB_ID] [int] NOT NULL,
	[REPORTJOB_REF] [varchar](200) NOT NULL,
	[REPORTJOB_TYPE] [varchar](10) NOT NULL,
	[REPORTJOB_STATUS] [char](1) NOT NULL,
	[REPORTJOB_FROMDATE] [datetime] NULL,
	[REPORTJOB_TODATE] [datetime] NULL,
	[REPORTJOB_PAYDATE] [datetime] NULL,
	[REPORTJOB_LANGUAGE] [varchar](2) NULL,
	[REPORTJOB_NOTE] [varchar](500) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_REPORTJOB] PRIMARY KEY CLUSTERED 
(
	[REPORTJOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ROUND]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ROUND](
	[ROUND_ID] [int] NOT NULL,
	[ROUND_CODE] [varchar](5) NOT NULL,
	[ROUND_NAME_TH] [varchar](100) NOT NULL,
	[ROUND_NAME_EN] [varchar](100) NOT NULL,
	[ROUND_GROUP] [char](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ROUND] PRIMARY KEY CLUSTERED 
(
	[ROUND_CODE] ASC,
	[ROUND_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_SUPPLY]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_SUPPLY](
	[SUPPLY_ID] [int] NOT NULL,
	[SUPPLY_CODE] [varchar](5) NOT NULL,
	[SUPPLY_NAME_TH] [varchar](200) NOT NULL,
	[SUPPLY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_SUPPLY] PRIMARY KEY CLUSTERED 
(
	[SUPPLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_TASK]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_TASK](
	[COMPANY_CODE] [varchar](10) NOT NULL,
	[PROJECT_CODE] [varchar](20) NOT NULL,
	[TASK_ID] [int] NOT NULL,
	[TASK_TYPE] [varchar](10) NOT NULL,
	[TASK_STATUS] [char](1) NOT NULL,
	[TASK_START] [datetime] NULL,
	[TASK_END] [datetime] NULL,
	[TASK_NOTE] [varchar](500) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_TASK] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_UNIFORM]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_UNIFORM](
	[UNIFORM_ID] [int] NOT NULL,
	[UNIFORM_CODE] [varchar](5) NOT NULL,
	[UNIFORM_NAME_TH] [varchar](200) NOT NULL,
	[UNIFORM_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_UNIFORM] PRIMARY KEY CLUSTERED 
(
	[UNIFORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_YEAR]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_YEAR](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[YEAR_ID] [int] NOT NULL,
	[YEAR_CODE] [char](4) NOT NULL,
	[YEAR_NAME_TH] [varchar](100) NOT NULL,
	[YEAR_NAME_EN] [varchar](100) NOT NULL,
	[YEAR_FROMDATE] [datetime] NOT NULL,
	[YEAR_TODATE] [datetime] NOT NULL,
	[YEAR_GROUP] [varchar](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_YEAR] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[YEAR_CODE] ASC,
	[YEAR_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_COMIMAGESLOGO]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_COMIMAGESLOGO](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMIMAGES_ID] [varchar](5) NOT NULL,
	[COMIMAGES_IMAGESLOGO] [image] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_TR_COMIMAGESLOGO] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMIMAGES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_COMIMAGESMAPS]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_COMIMAGESMAPS](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[COMIMAGESMAPS_ID] [varchar](5) NOT NULL,
	[COMIMAGESMAPS_IMAGESMAPS] [image] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_TR_COMIMAGESMAPS] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[COMIMAGESMAPS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_POLCODE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_POLCODE](
	[POLCODE_ID] [int] NOT NULL,
	[CODESTRUCTURE_CODE] [varchar](4) NOT NULL,
	[POLCODE_LENGHT] [int] NOT NULL,
	[POLCODE_TEXT] [varchar](10) NULL,
	[POLCODE_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_SYS_TR_POLCODE] PRIMARY KEY CLUSTERED 
(
	[POLCODE_ID] ASC,
	[CODESTRUCTURE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_REPORTJOBWHOSE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_REPORTJOBWHOSE](
	[REPORTJOB_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_SYS_TR_REPORTJOBWHOSE] PRIMARY KEY CLUSTERED 
(
	[REPORTJOB_ID] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_ROUND]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_ROUND](
	[ROUND_ID] [int] NOT NULL,
	[ROUND_FROM] [decimal](10, 3) NOT NULL,
	[ROUND_TO] [decimal](10, 3) NOT NULL,
	[ROUND_RESULT] [decimal](10, 3) NOT NULL,
 CONSTRAINT [PK_SYS_TR_ROUND] PRIMARY KEY CLUSTERED 
(
	[ROUND_ID] ASC,
	[ROUND_FROM] ASC,
	[ROUND_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_TASKDETAIL]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_TASKDETAIL](
	[TASK_ID] [int] NOT NULL,
	[TASKDETAIL_PROCESS] [varchar](200) NULL,
	[TASKDETAIL_FROMDATE] [datetime] NULL,
	[TASKDETAIL_TODATE] [datetime] NULL,
	[TASKDETAIL_PAYDATE] [datetime] NULL,
 CONSTRAINT [PK_SYS_TR_TASKDETAIL] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_TR_TASKWHOSE]    Script Date: 20/07/2023 11:36:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TR_TASKWHOSE](
	[TASK_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
 CONSTRAINT [PK_SYS_TR_TASKWHOSE] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PAY_MT_ITEM] ([COMPANY_CODE], [ITEM_ID], [ITEM_CODE], [ITEM_NAME_TH], [ITEM_NAME_EN], [ITEM_TYPE], [ITEM_REGULAR], [ITEM_CALTAX], [ITEM_CALPF], [ITEM_CALSSO], [ITEM_CALOT], [ITEM_ALLOWANCE], [ITEM_CONTAX], [ITEM_SECTION], [ITEM_RATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'11', N'เงินได้', N'ได้', N'IN', N'1', N'Y', N'Y', N'Y', N'Y', N'Y', N'N', N'1', CAST(0.00 AS Decimal(5, 2)), N'Admin', CAST(N'2023-07-11T15:59:00.580' AS DateTime), N'Admin', CAST(N'2023-07-14T11:44:04.223' AS DateTime), 0)
INSERT [dbo].[PAY_MT_ITEM] ([COMPANY_CODE], [ITEM_ID], [ITEM_CODE], [ITEM_NAME_TH], [ITEM_NAME_EN], [ITEM_TYPE], [ITEM_REGULAR], [ITEM_CALTAX], [ITEM_CALPF], [ITEM_CALSSO], [ITEM_CALOT], [ITEM_ALLOWANCE], [ITEM_CONTAX], [ITEM_SECTION], [ITEM_RATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 3, N'12', N'ก', N'sd', N'IN', N'2', N'N', N'N', N'N', N'N', N'N', N'N', N' ', CAST(0.00 AS Decimal(5, 2)), N'Admin', CAST(N'2023-07-12T15:52:33.980' AS DateTime), N'Admin', CAST(N'2023-07-19T13:30:58.957' AS DateTime), 0)
INSERT [dbo].[PAY_MT_ITEM] ([COMPANY_CODE], [ITEM_ID], [ITEM_CODE], [ITEM_NAME_TH], [ITEM_NAME_EN], [ITEM_TYPE], [ITEM_REGULAR], [ITEM_CALTAX], [ITEM_CALPF], [ITEM_CALSSO], [ITEM_CALOT], [ITEM_ALLOWANCE], [ITEM_CONTAX], [ITEM_SECTION], [ITEM_RATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'2', N'หัก', N'หัก', N'DE', N'1', N'N', N'N', N'N', N'N', N'N', N'N', N' ', CAST(0.00 AS Decimal(5, 2)), N'Admin', CAST(N'2023-07-12T09:17:20.860' AS DateTime), N'Admin', CAST(N'2023-07-19T13:31:06.450' AS DateTime), 0)
GO
INSERT [dbo].[PAY_MT_PERIOD] ([COMPANY_CODE], [PERIOD_ID], [PERIOD_TYPE], [EMPTYPE_CODE], [YEAR_CODE], [PERIOD_NO], [PERIOD_NAME_TH], [PERIOD_NAME_EN], [PERIOD_FROM], [PERIOD_TO], [PERIOD_PAYMENT], [PERIOD_DAYONPERIOD], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 13, N'PAY', N'D', N'2023', N'01', N'มกราคม', N'January', CAST(N'2023-07-01T00:00:00.000' AS DateTime), CAST(N'2023-07-31T00:00:00.000' AS DateTime), CAST(N'2023-07-25T00:00:00.000' AS DateTime), 1, N'Admin', CAST(N'2023-07-19T14:10:37.487' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[PAY_MT_PERIOD] ([COMPANY_CODE], [PERIOD_ID], [PERIOD_TYPE], [EMPTYPE_CODE], [YEAR_CODE], [PERIOD_NO], [PERIOD_NAME_TH], [PERIOD_NAME_EN], [PERIOD_FROM], [PERIOD_TO], [PERIOD_PAYMENT], [PERIOD_DAYONPERIOD], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'PAY', N'M', N'2023', N'01', N'มกราคม', N'January', CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-31T00:00:00.000' AS DateTime), CAST(N'2023-01-25T00:00:00.000' AS DateTime), 1, N'Admin', CAST(N'2023-07-12T15:06:32.467' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[PAY_MT_PERIOD] ([COMPANY_CODE], [PERIOD_ID], [PERIOD_TYPE], [EMPTYPE_CODE], [YEAR_CODE], [PERIOD_NO], [PERIOD_NAME_TH], [PERIOD_NAME_EN], [PERIOD_FROM], [PERIOD_TO], [PERIOD_PAYMENT], [PERIOD_DAYONPERIOD], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'PAY', N'M', N'2023', N'02', N'กุมภาพันธ์', N'February', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), CAST(N'2023-02-25T00:00:00.000' AS DateTime), 1, N'Admin', CAST(N'2023-07-12T15:06:32.497' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[PAY_TR_PAYBANK] ([COMPANY_CODE], [WORKER_CODE], [PAYBANK_BANKCODE], [PAYBANK_BANKACCOUNT], [PAYBANK_AMOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG], [BANK_BANKNAME]) VALUES (N'OPR', N'EMP01', N'12345678', N'11111111111111', CAST(5000.00 AS Decimal(12, 2)), N'Admin', CAST(N'2023-07-12T00:00:00.000' AS DateTime), N'Admin', CAST(N'2023-07-12T00:00:00.000' AS DateTime), 1, N'บัญชี')
GO
INSERT [dbo].[PAY_TR_PAYITEM] ([COMPANY_CODE], [WORKER_CODE], [ITEM_CODE], [PAYITEM_DATE], [PAYITEM_AMOUNT], [PAYITEM_QUANTITY], [PAYITEM_PAYTYPE], [PAYITEM_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', N'11', CAST(N'2023-01-11T00:00:00.000' AS DateTime), CAST(44.00 AS Decimal(12, 2)), CAST(44.00 AS Decimal(7, 2)), N'B', N'4', N'Admin', CAST(N'2023-07-14T14:21:04.913' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[PAY_TR_PAYITEM] ([COMPANY_CODE], [WORKER_CODE], [ITEM_CODE], [PAYITEM_DATE], [PAYITEM_AMOUNT], [PAYITEM_QUANTITY], [PAYITEM_PAYTYPE], [PAYITEM_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', N'11', CAST(N'2023-01-25T00:00:00.000' AS DateTime), CAST(4444.00 AS Decimal(12, 2)), CAST(4.00 AS Decimal(7, 2)), N'B', N'4', N'Admin', CAST(N'2023-07-14T15:39:11.870' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[PAY_TR_PAYITEM] ([COMPANY_CODE], [WORKER_CODE], [ITEM_CODE], [PAYITEM_DATE], [PAYITEM_AMOUNT], [PAYITEM_QUANTITY], [PAYITEM_PAYTYPE], [PAYITEM_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', N'11', CAST(N'2023-03-25T00:00:00.000' AS DateTime), CAST(11.00 AS Decimal(12, 2)), CAST(1.00 AS Decimal(7, 2)), N'B', N'', N'Admin', CAST(N'2023-07-14T15:50:45.393' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[PAY_TR_PAYPOLBONUS] ([COMPANY_CODE], [WORKER_CODE], [PAYPOLBONUS_CODE], [CREATED_BY], [CREATED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', N'BO', N'Not login', CAST(N'2023-05-16T15:45:29.590' AS DateTime), 0)
INSERT [dbo].[PAY_TR_PAYPOLBONUS] ([COMPANY_CODE], [WORKER_CODE], [PAYPOLBONUS_CODE], [CREATED_BY], [CREATED_DATE], [FLAG]) VALUES (N'OPR', N'EMP02', N'BO', N'Not login', CAST(N'2023-05-16T15:39:27.483' AS DateTime), 0)
INSERT [dbo].[PAY_TR_PAYPOLBONUS] ([COMPANY_CODE], [WORKER_CODE], [PAYPOLBONUS_CODE], [CREATED_BY], [CREATED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', N'BO', N'Not login', CAST(N'2023-05-16T15:39:27.500' AS DateTime), 0)
GO
INSERT [dbo].[PAY_TR_PAYPOLITEM] ([COMPANY_CODE], [WORKER_CODE], [PAYPOLITEM_CODE], [CREATED_BY], [CREATED_DATE], [FLAG]) VALUES (N'OPR', N'EMP02', N'SA1', N'Not login', CAST(N'2023-05-29T20:19:42.000' AS DateTime), 0)
GO
INSERT [dbo].[PAY_TR_PAYPOLPROVIDENT] ([COMPANY_CODE], [WORKER_CODE], [PAYPOLPROVIDENT_CODE], [CREATED_BY], [CREATED_DATE], [FLAG]) VALUES (N'OPR', N'EMP01', N'003', N'Not login', CAST(N'2023-05-16T15:35:27.027' AS DateTime), 0)
INSERT [dbo].[PAY_TR_PAYPOLPROVIDENT] ([COMPANY_CODE], [WORKER_CODE], [PAYPOLPROVIDENT_CODE], [CREATED_BY], [CREATED_DATE], [FLAG]) VALUES (N'OPR', N'EMP02', N'002', N'Not login', CAST(N'2023-05-16T15:35:40.390' AS DateTime), 0)
INSERT [dbo].[PAY_TR_PAYPOLPROVIDENT] ([COMPANY_CODE], [WORKER_CODE], [PAYPOLPROVIDENT_CODE], [CREATED_BY], [CREATED_DATE], [FLAG]) VALUES (N'OPR', N'OPR00001', N'001', N'Not login', CAST(N'2023-05-16T15:35:45.507' AS DateTime), 0)
GO
INSERT [dbo].[PAY_TR_TAXRATE] ([COMPANY_CODE], [TAXRATE_ID], [TAXRATE_FROM], [TAXRATE_TO], [TAXRATE_TAX], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, CAST(0.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(7, 2)), N'Admin', CAST(N'2023-07-19T13:48:06.733' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[PAY_TR_TAXRATE] ([COMPANY_CODE], [TAXRATE_ID], [TAXRATE_FROM], [TAXRATE_TO], [TAXRATE_TAX], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, CAST(1.00 AS Decimal(12, 2)), CAST(2.00 AS Decimal(12, 2)), CAST(3.00 AS Decimal(7, 2)), N'Admin', CAST(N'2023-07-19T13:50:19.077' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_ADDRESSTYPE] ([ADDRESSTYPE_ID], [ADDRESSTYPE_CODE], [ADDRESSTYPE_NAME_TH], [ADDRESSTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'บ้าน', N'Home', N'Admin', CAST(N'2023-07-18T14:01:54.880' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'BKK', N'กรุงเทพ', N'Bangkok', N'TEST', CAST(N'2023-07-06T10:13:24.327' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'KTB', N'กรุงไทย', N'KTB', N'TEST', CAST(N'2023-07-06T10:13:24.343' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'SCB', N'ไทยพาณิชย์', N'SCB', N'TEST', CAST(N'2023-07-06T10:13:24.363' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_BLOODTYPE] ([BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'กรุ๊ปเลือด A', N'A Antigens', N'Admin', CAST(N'2023-07-18T14:14:06.947' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BLOODTYPE] ([BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'02', N'กรุ๊ปเลือด B', N'B Antigens', N'Admin', CAST(N'2023-07-18T14:14:06.967' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BLOODTYPE] ([BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'03', N'กรุ๊ปเลือด O', N'O Antigens', N'Admin', CAST(N'2023-07-18T14:14:06.990' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'CID', N'เลขที่ประจำตัวนิติบุคคล', N'Citizen ID', N'TEST', CAST(N'2023-07-06T10:32:32.687' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'NTID', N'บัตรประชาชน', N'National ID', N'TEST', CAST(N'2023-07-06T10:32:32.713' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (4, N'PAS', N'หนังสือเดินทาง', N'Passport ', N'TEST', CAST(N'2023-07-06T10:32:32.730' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_CODESTRUCTURE] ([CODESTRUCTURE_CODE], [CODESTRUCTURE_NAME_TH], [CODESTRUCTURE_NAME_EN]) VALUES (N'1CHA', N'อักขระคงที่', N'Character Fix')
INSERT [dbo].[SYS_MT_CODESTRUCTURE] ([CODESTRUCTURE_CODE], [CODESTRUCTURE_NAME_TH], [CODESTRUCTURE_NAME_EN]) VALUES (N'2COM', N'รหับริษัท', N'Company Code')
INSERT [dbo].[SYS_MT_CODESTRUCTURE] ([CODESTRUCTURE_CODE], [CODESTRUCTURE_NAME_TH], [CODESTRUCTURE_NAME_EN]) VALUES (N'3BRA', N'รหัสสาขา', N'Branch Code')
GO
INSERT [dbo].[SYS_MT_COMBANkK] ([COMPANY_CODE], [COMBANK_ID], [COMBANK_BANKCODE], [COMBANK_BANKACCOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'001', 6, N'BKK', N'11111', N'Admin', CAST(N'2023-07-06T13:23:02.260' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_COMBANkK] ([COMPANY_CODE], [COMBANK_ID], [COMBANK_BANKCODE], [COMBANK_BANKACCOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'001', 7, N'KTB', N'3333', N'Admin', CAST(N'2023-07-06T13:23:02.343' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_COMBANkK] ([COMPANY_CODE], [COMBANK_ID], [COMBANK_BANKCODE], [COMBANK_BANKACCOUNT], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'009', 1, N'undefined', N'1234567', N'Not login', CAST(N'2023-03-08T20:02:39.510' AS DateTime), N'Not login', CAST(N'2023-03-10T16:32:36.117' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_COMBRANCH] ([COMBRANCH_ID], [SSO_BRANCH_NO], [COMBRANCH_CODE], [COMBRANCH_NAME_TH], [COMBRANCH_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (4, N'000000', N'h', N'1', N'1', N'OPR', N'Admin', CAST(N'2023-07-11T14:01:38.503' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_COMLOCATION] ([COMLOCATION_ID], [COMLOCATION_CODE], [COMLOCATION_NAME_TH], [COMLOCATION_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'2', N'ชื่อสาขา
', N'Test', N'', N'Not login', CAST(N'2023-04-03T13:00:54.863' AS DateTime), N'Not login', CAST(N'2023-04-03T15:02:08.397' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_ETHNICITY] ([ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'34', N'ไทย', N'thai', N'Not login', CAST(N'2023-01-16T11:59:53.737' AS DateTime), N'Not login', CAST(N'2023-02-24T16:11:01.580' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [COMPANY_CODE], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'', N'3', N'มารดา', N'Mother', N'Admin', CAST(N'2023-07-10T09:44:21.653' AS DateTime), N'Admin', CAST(N'2023-07-18T13:59:57.043' AS DateTime), 0)
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [COMPANY_CODE], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'OPR', N'1', N'พี่สาว', N' Older sis', N'Admin', CAST(N'2023-07-10T09:44:21.620' AS DateTime), N'Admin', CAST(N'2023-07-10T09:44:21.620' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_HOSPITAL] ([HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (4, N'01', N'โรงพยาบาล', N'test', N'Admin', CAST(N'2023-07-18T14:16:28.373' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_LEVEL] ([LEVEL_ID], [LEVEL_CODE], [LEVEL_NAME_TH], [LEVEL_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'ฝ่าย', N'Division', N'', N'Admin', CAST(N'2023-07-12T13:21:29.413' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_LEVEL] ([LEVEL_ID], [LEVEL_CODE], [LEVEL_NAME_TH], [LEVEL_NAME_EN], [COMPANY_CODE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'02', N'แผนก', N'Department', N'', N'Admin', CAST(N'2023-07-12T13:21:44.147' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_LOCATION] ([COMPANY_CODE], [LOCATION_ID], [LOCATION_CODE], [LOCATION_NAME_TH], [LOCATION_NAME_EN], [LOCATION_DETAIL], [LOCATION_LATITUDE], [LOCATION_LONGITUDE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'00000', N'สำนักงานใหญ่', N'CENTER', N'952 อาคารรามาแลนด์ ชั้นที่ 11 ถนนพระรามสี่ แขวงสุริยวงศ์  เขตบางรัก จังหวัดกรุงเทพฯ 10500', N'13.7606452', N'100.6331538', N'Admin', CAST(N'2023-07-18T14:19:25.167' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_PROVINCE] ([PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'10', N'กรุงเทพมหานคร', N'Bangkok', N'Admin', CAST(N'2023-07-18T14:04:36.857' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_REASON] ([COMPANY_CODE], [REASON_ID], [REASON_CODE], [REASON_NAME_TH], [REASON_NAME_EN], [REASON_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 5, N'01', N'งานเร่งด่วน', N'urgent work', N'DAT', N'Not login', CAST(N'2023-05-12T12:13:51.637' AS DateTime), N'Not login', CAST(N'2023-05-12T13:11:07.943' AS DateTime), 0)
INSERT [dbo].[SYS_MT_REASON] ([COMPANY_CODE], [REASON_ID], [REASON_CODE], [REASON_NAME_TH], [REASON_NAME_EN], [REASON_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'01', N'ลาพักร้อน', N'Summer', N'LEAVE', N'Admin', CAST(N'2023-02-23T17:24:47.590' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_REASON] ([COMPANY_CODE], [REASON_ID], [REASON_CODE], [REASON_NAME_TH], [REASON_NAME_EN], [REASON_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 4, N'01', N'ลืมลงเวลา', N'forgot to time ', N'ONS', N'Not login', CAST(N'2023-05-09T15:34:56.377' AS DateTime), N'EMP01', CAST(N'2023-05-26T15:25:45.030' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_REDUCE] ([REDUCE_ID], [REDUCE_CODE], [REDUCE_NAME_TH], [REDUCE_NAME_EN], [REDUCE_AMOUNT], [REDUCE_PERCENT], [REDUCE_PERCENT_MAX], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'11', N'ผู้มีเงินได้(60,000บาทหรือ 120,000บาทแล้วแต่กรณี)
', N'Income earners (60,000 baht or 120,000 baht depending on the case)', CAST(60000.00 AS Decimal(12, 2)), CAST(11.00 AS Decimal(6, 2)), CAST(66.00 AS Decimal(12, 2)), N'Not login', CAST(N'2023-01-19T10:11:03.197' AS DateTime), N'Admin', CAST(N'2023-07-18T14:45:55.287' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_RELIGION] ([RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'ศาสนาพุทธ', N'Buddhist', N'Not login', CAST(N'2023-01-15T00:35:09.793' AS DateTime), N'Admin', CAST(N'2023-07-07T11:58:23.023' AS DateTime), 1)
INSERT [dbo].[SYS_MT_RELIGION] ([RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'2', N'ศาสนาคริสต์', N'Christianity', N'Not login', CAST(N'2023-06-12T10:13:29.830' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_RELIGION] ([RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'3', N'ศาสนาอิสลาม', N'Islam', N'Not login', CAST(N'2023-06-12T10:14:15.697' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_ROUND] ([ROUND_ID], [ROUND_CODE], [ROUND_NAME_TH], [ROUND_NAME_EN], [ROUND_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (4, N'04', N'ไทย', N'en', N'Currency  ', N'Admin', CAST(N'2023-07-19T16:52:14.013' AS DateTime), N'Admin', CAST(N'2023-07-20T09:17:27.160' AS DateTime), 0)
INSERT [dbo].[SYS_MT_ROUND] ([ROUND_ID], [ROUND_CODE], [ROUND_NAME_TH], [ROUND_NAME_EN], [ROUND_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'LT', N'ปัดเศษเวลาสาย', N'Round Late', N'Time      ', N'Admin', CAST(N'2023-07-18T16:04:07.127' AS DateTime), N'Admin', CAST(N'2023-07-19T09:19:27.553' AS DateTime), 0)
INSERT [dbo].[SYS_MT_ROUND] ([ROUND_ID], [ROUND_CODE], [ROUND_NAME_TH], [ROUND_NAME_EN], [ROUND_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'OT', N'ปัดเศษเวลาโอที', N'Round OT', N'Time      ', N'Admin', CAST(N'2023-07-18T16:11:17.117' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_SUPPLY] ([SUPPLY_ID], [SUPPLY_CODE], [SUPPLY_NAME_TH], [SUPPLY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'12', N'ไม้กวาด', N'Broom', N'Admin', CAST(N'2023-07-12T12:00:40.100' AS DateTime), N'Admin', CAST(N'2023-07-12T12:02:32.697' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_TASK] ([COMPANY_CODE], [PROJECT_CODE], [TASK_ID], [TASK_TYPE], [TASK_STATUS], [TASK_START], [TASK_END], [TASK_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 1, N'SUM_TIME', N'F', CAST(N'2023-03-14T12:20:42.807' AS DateTime), CAST(N'2023-03-14T12:20:43.657' AS DateTime), N'Success::0', N'Not login', CAST(N'2023-03-14T12:20:42.440' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_TASK] ([COMPANY_CODE], [PROJECT_CODE], [TASK_ID], [TASK_TYPE], [TASK_STATUS], [TASK_START], [TASK_END], [TASK_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 2, N'SUM_TIME', N'F', CAST(N'2023-03-14T12:25:08.850' AS DateTime), CAST(N'2023-03-14T12:25:09.500' AS DateTime), N'Success::0', N'Not login', CAST(N'2023-03-14T12:25:08.573' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_TASK] ([COMPANY_CODE], [PROJECT_CODE], [TASK_ID], [TASK_TYPE], [TASK_STATUS], [TASK_START], [TASK_END], [TASK_NOTE], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 3, N'SUM_TIME', N'F', CAST(N'2023-03-14T12:31:09.413' AS DateTime), CAST(N'2023-03-14T12:31:10.073' AS DateTime), N'Success::0', N'Not login', CAST(N'2023-03-14T12:31:09.123' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_UNIFORM] ([UNIFORM_ID], [UNIFORM_CODE], [UNIFORM_NAME_TH], [UNIFORM_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'แบบที่1', N'Type1', N'Not login', CAST(N'2023-06-02T16:44:25.453' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_YEAR] ([COMPANY_CODE], [YEAR_ID], [YEAR_CODE], [YEAR_NAME_TH], [YEAR_NAME_EN], [YEAR_FROMDATE], [YEAR_TODATE], [YEAR_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 2, N'01  ', N'ปีการลา', N'Leave Calendar', CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-12-31T00:00:00.000' AS DateTime), N'LEAVE', N'Admin', CAST(N'2023-07-20T08:52:02.167' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_YEAR] ([COMPANY_CODE], [YEAR_ID], [YEAR_CODE], [YEAR_NAME_TH], [YEAR_NAME_EN], [YEAR_FROMDATE], [YEAR_TODATE], [YEAR_GROUP], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', 1, N'2023', N'Tax Calendar', N'ปีภาษี', CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-12-31T00:00:00.000' AS DateTime), N'TAX', N'Admin', CAST(N'2023-07-19T18:06:15.057' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_TR_POLCODE] ([POLCODE_ID], [CODESTRUCTURE_CODE], [POLCODE_LENGHT], [POLCODE_TEXT], [POLCODE_ORDER]) VALUES (1, N'1CHA', 0, N'', 0)
INSERT [dbo].[SYS_TR_POLCODE] ([POLCODE_ID], [CODESTRUCTURE_CODE], [POLCODE_LENGHT], [POLCODE_TEXT], [POLCODE_ORDER]) VALUES (2, N'2COM', 2, N'', 0)
GO
INSERT [dbo].[SYS_TR_ROUND] ([ROUND_ID], [ROUND_FROM], [ROUND_TO], [ROUND_RESULT]) VALUES (4, CAST(0.000 AS Decimal(10, 3)), CAST(0.000 AS Decimal(10, 3)), CAST(0.000 AS Decimal(10, 3)))
INSERT [dbo].[SYS_TR_ROUND] ([ROUND_ID], [ROUND_FROM], [ROUND_TO], [ROUND_RESULT]) VALUES (4, CAST(1.000 AS Decimal(10, 3)), CAST(0.000 AS Decimal(10, 3)), CAST(0.000 AS Decimal(10, 3)))
GO
INSERT [dbo].[SYS_TR_TASKDETAIL] ([TASK_ID], [TASKDETAIL_PROCESS], [TASKDETAIL_FROMDATE], [TASKDETAIL_TODATE], [TASKDETAIL_PAYDATE]) VALUES (1, N'TIME|COMPARE', CAST(N'2023-01-10T00:00:00.000' AS DateTime), CAST(N'2023-01-11T00:00:00.000' AS DateTime), CAST(N'2023-03-14T00:00:00.000' AS DateTime))
INSERT [dbo].[SYS_TR_TASKDETAIL] ([TASK_ID], [TASKDETAIL_PROCESS], [TASKDETAIL_FROMDATE], [TASKDETAIL_TODATE], [TASKDETAIL_PAYDATE]) VALUES (2, N'TIME|COMPARE', CAST(N'2023-01-10T00:00:00.000' AS DateTime), CAST(N'2023-01-11T00:00:00.000' AS DateTime), CAST(N'2023-03-14T00:00:00.000' AS DateTime))
INSERT [dbo].[SYS_TR_TASKDETAIL] ([TASK_ID], [TASKDETAIL_PROCESS], [TASKDETAIL_FROMDATE], [TASKDETAIL_TODATE], [TASKDETAIL_PAYDATE]) VALUES (3, N'TIME|COMPARE', CAST(N'2023-01-10T00:00:00.000' AS DateTime), CAST(N'2023-01-11T00:00:00.000' AS DateTime), CAST(N'2023-03-14T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[SYS_TR_TASKWHOSE] ([TASK_ID], [WORKER_CODE]) VALUES (1, N'EMP01')
INSERT [dbo].[SYS_TR_TASKWHOSE] ([TASK_ID], [WORKER_CODE]) VALUES (2, N'EMP01')
INSERT [dbo].[SYS_TR_TASKWHOSE] ([TASK_ID], [WORKER_CODE]) VALUES (2, N'OPR00001')
GO
