USE [OPR]
GO
/****** Object:  Table [dbo].[REQ_TR_SALARY]    Script Date: 15/08/2023 10:01:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_SALARY]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_SALARY]
GO
/****** Object:  Table [dbo].[REQ_TR_POSITION]    Script Date: 15/08/2023 10:01:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_POSITION]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_POSITION]
GO
/****** Object:  Table [dbo].[REQ_TR_DOCATT]    Script Date: 15/08/2023 10:01:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_TR_DOCATT]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_TR_DOCATT]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 15/08/2023 10:01:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_MT_WORKER]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_MT_WORKER]
GO
/****** Object:  Table [dbo].[REQ_MT_REQUEST]    Script Date: 15/08/2023 10:01:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REQ_MT_REQUEST]') AND type in (N'U'))
DROP TABLE [dbo].[REQ_MT_REQUEST]
GO
/****** Object:  Table [dbo].[REQ_MT_REQUEST]    Script Date: 15/08/2023 10:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_REQUEST](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[REQUEST_ID] [int] NOT NULL,
	[REQUEST_CODE] [varchar](5) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[REQUEST_STARTDATE] [datetime] NOT NULL,
	[REQUEST_ENDDATE] [datetime] NOT NULL,
	[REQUEST_POSITION] [varchar](30) NOT NULL,
	[REQUEST_PROJECT] [varchar](30) NOT NULL,
	[REQUEST_EMPLOYEE_TYPE] [varchar](30) NOT NULL,
	[REQUEST_QUANTITY] [decimal](4, 2) NULL,
	[REQUEST_URGENCY] [varchar](30) NOT NULL,
	[REQUEST_NOTE] [varchar](200) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_REQUEST] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[REQUEST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_MT_WORKER]    Script Date: 15/08/2023 10:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_MT_WORKER](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_ID] [int] NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[WORKER_CARD] [varchar](15) NULL,
	[WORKER_INITIAL] [varchar](15) NOT NULL,
	[WORKER_FNAME_TH] [varchar](200) NOT NULL,
	[WORKER_LNAME_TH] [varchar](200) NOT NULL,
	[WORKER_FNAME_EN] [varchar](200) NOT NULL,
	[WORKER_LNAME_EN] [varchar](200) NOT NULL,
	[WORKER_TYPE] [varchar](5) NULL,
	[WORKER_GENDER] [char](1) NOT NULL,
	[WORKER_BIRTHDATE] [datetime] NULL,
	[WORKER_HIREDATE] [datetime] NOT NULL,
	[WORKER_STATUS] [varchar](5) NULL,
	[RELIGION_CODE] [varchar](5) NULL,
	[BLOOD_CODE] [varchar](5) NULL,
	[WORKER_HEIGHT] [decimal](18, 2) NULL,
	[WORKER_WEIGHT] [decimal](18, 2) NULL,
	[HRS_PERDAY] [decimal](4, 2) NULL,
	[WORKER_TEL] [varchar](30) NULL,
	[WORKER_EMAIL] [varchar](50) NULL,
	[WORKER_LINE] [varchar](50) NULL,
	[WORKER_FACEBOOK] [varchar](50) NULL,
	[WORKER_MILITARY] [varchar](5) NULL,
	[NATIONALITY_CODE] [varchar](5) NULL,
	[STATUS] [int] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_MT_WORKER] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_DOCATT]    Script Date: 15/08/2023 10:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_DOCATT](
	[COMPANY_CODE] [varchar](30) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[DOCUMENT_ID] [bigint] NOT NULL,
	[JOB_TYPE] [varchar](100) NOT NULL,
	[DOCUMENT_NAME] [varchar](100) NOT NULL,
	[DOCUMENT_TYPE] [varchar](100) NOT NULL,
	[DOCUMENT_PATH] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_REQ_TR_DOCATT] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC,
	[DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_POSITION]    Script Date: 15/08/2023 10:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_POSITION](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPPOSITION_ID] [int] NOT NULL,
	[EMPPOSITION_POSITION] [varchar](10) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_POSITION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQ_TR_SALARY]    Script Date: 15/08/2023 10:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQ_TR_SALARY](
	[COMPANY_CODE] [varchar](5) NOT NULL,
	[WORKER_CODE] [varchar](15) NOT NULL,
	[EMPSALARY_ID] [int] NOT NULL,
	[EMPSALARY_AMOUNT] [decimal](10, 2) NOT NULL,
	[EMPSALARY_TYPE] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_REQ_TR_SALARY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC,
	[WORKER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[REQ_TR_DOCATT] ([COMPANY_CODE], [WORKER_CODE], [DOCUMENT_ID], [JOB_TYPE], [DOCUMENT_NAME], [DOCUMENT_TYPE], [DOCUMENT_PATH], [CREATED_BY], [CREATED_DATE]) VALUES (N'OPR', N'REQ202308101524', 1, N'APPT', N'REQ_APP20230814210756.jpg', N'image/jpeg', N'D:\\OPR\Imports\REQ_APP20230814210756.jpg', N'Admin', CAST(N'2023-08-14T21:07:59.217' AS DateTime))
GO
INSERT [dbo].[REQ_TR_POSITION] ([COMPANY_CODE], [WORKER_CODE], [EMPPOSITION_ID], [EMPPOSITION_POSITION], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'', 1, N'AC-M', N'Admin', CAST(N'2023-08-10T15:34:06.687' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[REQ_TR_POSITION] ([COMPANY_CODE], [WORKER_CODE], [EMPPOSITION_ID], [EMPPOSITION_POSITION], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (N'OPR', N'REQ202308101524', 2, N'AC-SV', N'Admin', CAST(N'2023-08-15T09:13:59.830' AS DateTime), NULL, NULL, 1)
GO
