USE [OPR]
GO
/****** Object:  Table [dbo].[SYS_MT_SUPPLY]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_SUPPLY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_SUPPLY]
GO
/****** Object:  Table [dbo].[SYS_MT_RELIGION]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_RELIGION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_RELIGION]
GO
/****** Object:  Table [dbo].[SYS_MT_QUALIFICATION]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_QUALIFICATION]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_QUALIFICATION]
GO
/****** Object:  Table [dbo].[SYS_MT_PROVINCE]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_PROVINCE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_PROVINCE]
GO
/****** Object:  Table [dbo].[SYS_MT_MAJORR]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_MAJORR]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_MAJORR]
GO
/****** Object:  Table [dbo].[SYS_MT_INSTITUTE]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_INSTITUTE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_INSTITUTE]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_HOSPITAL]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_HOSPITAL]
GO
/****** Object:  Table [dbo].[SYS_MT_FAMILY]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_FAMILY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_FAMILY]
GO
/****** Object:  Table [dbo].[SYS_MT_FACULTY]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_FACULTY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_FACULTY]
GO
/****** Object:  Table [dbo].[SYS_MT_ETHNICITY]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_ETHNICITY]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_ETHNICITY]
GO
/****** Object:  Table [dbo].[SYS_MT_CCOURSE]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_CCOURSE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_CCOURSE]
GO
/****** Object:  Table [dbo].[SYS_MT_CARDTYPE]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_CARDTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_CARDTYPE]
GO
/****** Object:  Table [dbo].[SYS_MT_BLOODTYPE]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_BLOODTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_BLOODTYPE]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_BANK]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_BANK]
GO
/****** Object:  Table [dbo].[SYS_MT_ADDRESSTYPE]    Script Date: 14/09/2023 10:21:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SYS_MT_ADDRESSTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[SYS_MT_ADDRESSTYPE]
GO
/****** Object:  Table [dbo].[SYS_MT_ADDRESSTYPE]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ADDRESSTYPE](
	[ADDRESSTYPE_ID] [int] NOT NULL,
	[ADDRESSTYPE_CODE] [varchar](5) NOT NULL,
	[ADDRESSTYPE_NAME_TH] [varchar](200) NOT NULL,
	[ADDRESSTYPE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ADDRESSTYPE] PRIMARY KEY CLUSTERED 
(
	[ADDRESSTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BANK]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BANK](
	[BANK_ID] [int] NOT NULL,
	[BANK_CODE] [varchar](5) NOT NULL,
	[BANK_NAME_TH] [varchar](100) NOT NULL,
	[BANK_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BANK] PRIMARY KEY CLUSTERED 
(
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_BLOODTYPE]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_BLOODTYPE](
	[BLOODTYPE_ID] [int] NOT NULL,
	[BLOODTYPE_CODE] [varchar](5) NOT NULL,
	[BLOODTYPE_NAME_TH] [varchar](100) NOT NULL,
	[BLOODTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_BLOODTYPE] PRIMARY KEY CLUSTERED 
(
	[BLOODTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CARDTYPE]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CARDTYPE](
	[CARDTYPE_ID] [int] NOT NULL,
	[CARDTYPE_CODE] [varchar](5) NOT NULL,
	[CARDTYPE_NAME_TH] [varchar](100) NOT NULL,
	[CARDTYPE_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_CARDTYPE] PRIMARY KEY CLUSTERED 
(
	[CARDTYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_CCOURSE]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_CCOURSE](
	[COURSE_ID] [int] NOT NULL,
	[COURSE_CODE] [varchar](10) NOT NULL,
	[COURSE_NAME_TH] [varchar](200) NOT NULL,
	[COURSE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_CCOURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_ETHNICITY]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_ETHNICITY](
	[ETHNICITY_ID] [int] NOT NULL,
	[ETHNICITY_CODE] [varchar](5) NOT NULL,
	[ETHNICITY_NAME_TH] [varchar](100) NOT NULL,
	[ETHNICITY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_ETHNICITY] PRIMARY KEY CLUSTERED 
(
	[ETHNICITY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FACULTY]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FACULTY](
	[FACULTY_ID] [int] NOT NULL,
	[FACULTY_CODE] [varchar](10) NOT NULL,
	[FACULTY_NAME_TH] [varchar](200) NOT NULL,
	[FACULTY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_FACULTY] PRIMARY KEY CLUSTERED 
(
	[FACULTY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_FAMILY]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_FAMILY](
	[FAMILY_ID] [int] NOT NULL,
	[FAMILY_CODE] [varchar](5) NOT NULL,
	[FAMILY_NAME_TH] [varchar](100) NOT NULL,
	[FAMILY_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_HRM_MT_FAMILY] PRIMARY KEY CLUSTERED 
(
	[FAMILY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_HOSPITAL]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_HOSPITAL](
	[HOSPITAL_ID] [int] NOT NULL,
	[HOSPITAL_CODE] [varchar](10) NOT NULL,
	[HOSPITAL_NAME_TH] [varchar](100) NOT NULL,
	[HOSPITAL_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_INSTITUTE]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_INSTITUTE](
	[INSTITUTE_ID] [int] NOT NULL,
	[INSTITUTE_CODE] [varchar](10) NOT NULL,
	[INSTITUTE_NAME_TH] [varchar](200) NOT NULL,
	[INSTITUTE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_INSTITUTE] PRIMARY KEY CLUSTERED 
(
	[INSTITUTE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_MAJORR]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_MAJORR](
	[MAJOR_ID] [int] NOT NULL,
	[MAJOR_CODE] [varchar](10) NOT NULL,
	[MAJOR_NAME_TH] [varchar](200) NOT NULL,
	[MAJOR_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_MAJORR] PRIMARY KEY CLUSTERED 
(
	[MAJOR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_PROVINCE]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_PROVINCE](
	[PROVINCE_ID] [int] NOT NULL,
	[PROVINCE_CODE] [varchar](5) NOT NULL,
	[PROVINCE_NAME_TH] [varchar](200) NOT NULL,
	[PROVINCE_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_QUALIFICATION]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_QUALIFICATION](
	[QUALIFICATION_ID] [int] NOT NULL,
	[QUALIFICATION_CODE] [varchar](10) NOT NULL,
	[QUALIFICATION_NAME_TH] [varchar](200) NOT NULL,
	[QUALIFICATION_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_QUALIFICATION] PRIMARY KEY CLUSTERED 
(
	[QUALIFICATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_RELIGION]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_RELIGION](
	[RELIGION_ID] [int] NOT NULL,
	[RELIGION_CODE] [varchar](5) NOT NULL,
	[RELIGION_NAME_TH] [varchar](100) NOT NULL,
	[RELIGION_NAME_EN] [varchar](100) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_RELIGION] PRIMARY KEY CLUSTERED 
(
	[RELIGION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_SUPPLY]    Script Date: 14/09/2023 10:21:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_SUPPLY](
	[SUPPLY_ID] [int] NOT NULL,
	[SUPPLY_CODE] [varchar](5) NOT NULL,
	[SUPPLY_NAME_TH] [varchar](200) NOT NULL,
	[SUPPLY_NAME_EN] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_SYS_MT_SUPPLY] PRIMARY KEY CLUSTERED 
(
	[SUPPLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SYS_MT_ADDRESSTYPE] ([ADDRESSTYPE_ID], [ADDRESSTYPE_CODE], [ADDRESSTYPE_NAME_TH], [ADDRESSTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'01', N'ที่อยู่ปัจจุบัน', N'ที่อยู่ปัจจุบัน', N'Admin', CAST(N'2023-07-18T14:01:54.880' AS DateTime), N'Admin', CAST(N'2023-09-07T13:55:20.743' AS DateTime), 1)
INSERT [dbo].[SYS_MT_ADDRESSTYPE] ([ADDRESSTYPE_ID], [ADDRESSTYPE_CODE], [ADDRESSTYPE_NAME_TH], [ADDRESSTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'02', N'ที่อยู่ตามทะเบียนบ้าน', N'ที่อยู่ตามทะเบียนบ้าน', N'Admin', CAST(N'2023-08-24T13:41:03.443' AS DateTime), N'Admin', CAST(N'2023-09-14T09:20:26.973' AS DateTime), 1)
GO
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'002', N'ธนาคารกรุงเทพ จำกัด (มหาชน)', N'Bangkok Bank Public Company Limited', N'Admin', CAST(N'2023-09-09T19:43:08.027' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'004', N'ธนาคารกสิกรไทย จำกัด (มหาชน)', N'Kasikorn Bank Public Company Limited', N'Admin', CAST(N'2023-09-09T19:43:08.053' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BANK] ([BANK_ID], [BANK_CODE], [BANK_NAME_TH], [BANK_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'006', N'ธนาคารกรุงไทย จำกัด (มหาชน)', N'Krungthai Bank Public Company Limited', N'Admin', CAST(N'2023-09-09T19:43:08.077' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_BLOODTYPE] ([BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'A', N'กรุ๊ปเลือด A', N'A Antigens', N'Admin', CAST(N'2023-09-14T09:53:54.890' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BLOODTYPE] ([BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'AB', N'กรุ๊ปเลือด AB', N'AB Antigens', N'Admin', CAST(N'2023-09-14T09:53:54.940' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_BLOODTYPE] ([BLOODTYPE_ID], [BLOODTYPE_CODE], [BLOODTYPE_NAME_TH], [BLOODTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'B', N'กรุ๊ปเลือด B', N'B Antigens', N'Admin', CAST(N'2023-09-14T09:53:54.987' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'CID', N'เลขที่ประจำตัวนิติบุคคล', N'Citizen ID', N'TEST', CAST(N'2023-07-06T10:32:32.687' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'NTID', N'บัตรประชาชน', N'National ID', N'TEST', CAST(N'2023-07-06T10:32:32.713' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[SYS_MT_CARDTYPE] ([CARDTYPE_ID], [CARDTYPE_CODE], [CARDTYPE_NAME_TH], [CARDTYPE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (4, N'PAS', N'หนังสือเดินทาง', N'Passport ', N'TEST', CAST(N'2023-07-06T10:32:32.730' AS DateTime), NULL, NULL, 0)
GO
INSERT [dbo].[SYS_MT_CCOURSE] ([COURSE_ID], [COURSE_CODE], [COURSE_NAME_TH], [COURSE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (9, N'001', N'การบัญชี', N'df', N'Admin', CAST(N'2023-09-11T10:07:06.207' AS DateTime), N'Admin', CAST(N'2023-09-13T10:54:36.703' AS DateTime), 1)
INSERT [dbo].[SYS_MT_CCOURSE] ([COURSE_ID], [COURSE_CODE], [COURSE_NAME_TH], [COURSE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'Exce1', N'Excel พื้นฐาน', N'Basic Excel', N'Admin', CAST(N'2023-08-11T14:27:30.077' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_CCOURSE] ([COURSE_ID], [COURSE_CODE], [COURSE_NAME_TH], [COURSE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'HR', N'HR', N'HR', N'Admin', CAST(N'2023-08-02T15:00:55.553' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_ETHNICITY] ([ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'AD', N'อันดอร์รา', N'ANDORRA', N'Admin', CAST(N'2023-09-14T09:52:09.330' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_ETHNICITY] ([ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'AE', N'สหรัฐอาหรับเอมิเรตส์', N'UNITED ARAB EMIRATES', N'Admin', CAST(N'2023-09-14T09:52:09.393' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_ETHNICITY] ([ETHNICITY_ID], [ETHNICITY_CODE], [ETHNICITY_NAME_TH], [ETHNICITY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'AF', N'อัฟกานิสถาน', N'AFGHANISTAN', N'Admin', CAST(N'2023-09-14T09:52:09.483' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_FACULTY] ([FACULTY_ID], [FACULTY_CODE], [FACULTY_NAME_TH], [FACULTY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'FT001', N'คณะบริหารธุรกิจ', N'Faculty of Business Management', N'Admin', CAST(N'2023-08-11T14:25:35.333' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_FACULTY] ([FACULTY_ID], [FACULTY_CODE], [FACULTY_NAME_TH], [FACULTY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'Ft002', N'คณะนิเทศศาสตร์', N'Faculty of Communication Arts', N'Admin', CAST(N'2023-08-11T14:26:08.590' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_FAMILY] ([FAMILY_ID], [FAMILY_CODE], [FAMILY_NAME_TH], [FAMILY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'3', N'มารดา', N'Mother', N'Admin', CAST(N'2023-07-10T09:44:21.653' AS DateTime), N'Admin', CAST(N'2023-07-18T13:59:57.043' AS DateTime), 0)
GO
INSERT [dbo].[SYS_MT_HOSPITAL] ([HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1210001', N'กลาง', N'กลาง', N'Admin', CAST(N'2023-09-14T10:04:01.413' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_HOSPITAL] ([HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'1210002', N'จุฬาลงกรณ์', N'จุฬาลงกรณ์', N'Admin', CAST(N'2023-09-14T10:04:01.437' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_HOSPITAL] ([HOSPITAL_ID], [HOSPITAL_CODE], [HOSPITAL_NAME_TH], [HOSPITAL_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'1210003', N'เจริญกรุงประชารักษ์', N'เจริญกรุงประชารักษ์', N'Admin', CAST(N'2023-09-14T10:04:01.457' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_INSTITUTE] ([INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'1', N'จุฬาลงกรณ์มหาวิทยาลัย', N'Chulalongkorn University', N'Admin', CAST(N'2023-09-14T10:05:23.490' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_INSTITUTE] ([INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'10', N'มหาวิทยาลัยรังสิต', N'Rangsit University', N'Admin', CAST(N'2023-09-14T10:05:23.510' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_INSTITUTE] ([INSTITUTE_ID], [INSTITUTE_CODE], [INSTITUTE_NAME_TH], [INSTITUTE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'11', N'โรงเรียนวัดนาคราช', N'Wat Nakarach School', N'Admin', CAST(N'2023-09-14T10:05:23.533' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_MAJORR] ([MAJOR_ID], [MAJOR_CODE], [MAJOR_NAME_TH], [MAJOR_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'Subj001', N'การตลาด', N'Marketing', N'Admin', CAST(N'2023-09-14T10:12:24.133' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_PROVINCE] ([PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'10', N'กรุงเทพมหานคร', N'Bangkok', N'Admin', CAST(N'2023-09-14T09:56:55.800' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_PROVINCE] ([PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'11', N'สมุทรปราการ', N'Samut Prakan', N'Admin', CAST(N'2023-09-14T09:56:55.867' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_PROVINCE] ([PROVINCE_ID], [PROVINCE_CODE], [PROVINCE_NAME_TH], [PROVINCE_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'12', N'นนทบุรี', N'Nonthaburi', N'Admin', CAST(N'2023-09-14T09:56:55.933' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_QUALIFICATION] ([QUALIFICATION_ID], [QUALIFICATION_CODE], [QUALIFICATION_NAME_TH], [QUALIFICATION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'SP', N'ปริญญาโท', N'master', N'Admin', CAST(N'2023-08-24T14:04:05.493' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_QUALIFICATION] ([QUALIFICATION_ID], [QUALIFICATION_CODE], [QUALIFICATION_NAME_TH], [QUALIFICATION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'Test', N'ปริณญาตรี', N'Master Degree', N'Admin', CAST(N'2023-08-11T14:30:37.307' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_RELIGION] ([RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'0', N'อศาสนา/ไม่นับถือศาสนา', N'atheist', N'Admin', CAST(N'2023-09-14T09:58:25.167' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_RELIGION] ([RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'1', N'ศาสนาพุทธ', N'Buddhism', N'Admin', CAST(N'2023-09-14T09:58:25.190' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_RELIGION] ([RELIGION_ID], [RELIGION_CODE], [RELIGION_NAME_TH], [RELIGION_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'2', N'ศาสนาอิสลาม', N'Islam', N'Admin', CAST(N'2023-09-14T09:58:25.210' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[SYS_MT_SUPPLY] ([SUPPLY_ID], [SUPPLY_CODE], [SUPPLY_NAME_TH], [SUPPLY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (1, N'12', N'ไม้กวาด', N'Broom', N'Admin', CAST(N'2023-07-12T12:00:40.100' AS DateTime), N'Admin', CAST(N'2023-07-12T12:02:32.697' AS DateTime), 1)
INSERT [dbo].[SYS_MT_SUPPLY] ([SUPPLY_ID], [SUPPLY_CODE], [SUPPLY_NAME_TH], [SUPPLY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (2, N'Test', N'ปากกา', N'Pen', N'Admin', CAST(N'2023-08-10T13:38:24.253' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SYS_MT_SUPPLY] ([SUPPLY_ID], [SUPPLY_CODE], [SUPPLY_NAME_TH], [SUPPLY_NAME_EN], [CREATED_BY], [CREATED_DATE], [MODIFIED_BY], [MODIFIED_DATE], [FLAG]) VALUES (3, N'H1', N'ค้อนโยเนียร', N'hhhhh', N'Admin', CAST(N'2023-08-24T13:53:35.210' AS DateTime), NULL, NULL, 1)
GO
